/* line 1, ../scss/_base.scss */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 7, ../scss/_base.scss */
html {
  background: #ffffff;
  /* Old browsers */
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  /* W3C */
}

/* line 12, ../scss/_base.scss */
body {
  text-align: center;
  font-family: "Roboto", Arial;
  font-size: 13px;
}

/* line 18, ../scss/_base.scss */
a {
  text-decoration: none;
}

/* line 22, ../scss/_base.scss */
input, select, textarea, option {
  font-family: "Roboto", Arial;
}

/*
  Alternate clearfix that does not rely on overflow: hidden;
*/
/* line 4, ../scss/_device_wraps.scss */
.phone-wrap[data-os="ios"] .device-body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* line 7, ../scss/_device_wraps.scss */
.phone-wrap[data-os="android"] .device-body {
  font-family: 'Roboto', 'Droid Sans', sans-serif;
}

/* line 12, ../scss/_device_wraps.scss */
.device-body {
  margin: 0 auto;
  position: relative;
  overflow: scroll;
  -webkit-font-smoothing: antialiased;
}

/* line 19, ../scss/_device_wraps.scss */
.device-body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 23, ../scss/_device_wraps.scss */
.device-body {
  position: relative;
  padding: 0;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}
/* line 31, ../scss/_device_wraps.scss */
.device-body > div > article.content {
  height: 100%;
  height: -moz-calc(100% - 44px);
  height: -o-calc(100% - 44px);
  height: -webkit-calc(100% - 44px);
  height: calc(100% - 44px);
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  position: relative;
}
/* line 34, ../scss/_device_wraps.scss */
.device-body > div > article.content.has-footer {
  height: -moz-calc(100% - 88px);
  height: -o-calc(100% - 88px);
  height: -webkit-calc(100% - 88px);
  height: calc(100% - 88px);
}
/* line 41, ../scss/_device_wraps.scss */
.device-body > div > article.content .content-inner {
  padding: 10px;
}
/* line 44, ../scss/_device_wraps.scss */
.device-body > div > article.content .full-height {
  height: 100%;
}
/* line 50, ../scss/_device_wraps.scss */
.device-body > .bar-title, .device-body > .content, .device-body > .bar-footer {
  margin: 0 auto;
}

/* line 55, ../scss/_device_wraps.scss */
.frame {
  height: 100%;
  width: 100%;
  /* Center with flexbox */
  display: box;
  display: flexbox;
  box-align: center;
  flex-align: center;
  box-pack: center;
  flex-pack: center;
}

/* line 65, ../scss/_device_wraps.scss */
.phone-wrap {
  position: relative;
}

/* line 69, ../scss/_device_wraps.scss */
.phone-wrap {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  overflow-y: hidden;
  position: relative;
}
/* line 74, ../scss/_device_wraps.scss */
.phone-wrap[data-device="iphone4-portrait"] {
  width: 396px;
  height: 734px;
  background: url(../images/portrait/iphone4.png) no-repeat 0 0;
  padding: 127px 0 0 2px;
}
/* line 79, ../scss/_device_wraps.scss */
.phone-wrap[data-device="iphone4-portrait"] .device-body {
  width: 320px;
  height: 480px;
}
/* line 84, ../scss/_device_wraps.scss */
.phone-wrap[data-device="iphone4-landscape"] {
  padding: 37px 0 0;
  width: 734px;
  height: 396px;
  background: url(../images/landscape/iphone4.png) no-repeat 0 0;
}
/* line 89, ../scss/_device_wraps.scss */
.phone-wrap[data-device="iphone4-landscape"] .device-body {
  width: 480px;
  height: 320px;
}
/* line 94, ../scss/_device_wraps.scss */
.phone-wrap[data-device="iphone5-portrait"] {
  width: 396px;
  height: 822px;
  background: url(../images/portrait/iphone5.png) no-repeat 0 0;
  padding: 127px 0 0 0;
}
/* line 99, ../scss/_device_wraps.scss */
.phone-wrap[data-device="iphone5-portrait"] .device-body {
  width: 320px;
  height: 568px;
}
/* line 104, ../scss/_device_wraps.scss */
.phone-wrap[data-device="iphone5-landscape"] {
  padding: 38px 0 0;
  width: 822px;
  height: 396px;
  background: url(../images/landscape/iphone5.png) no-repeat 0 0;
}
/* line 109, ../scss/_device_wraps.scss */
.phone-wrap[data-device="iphone5-landscape"] .device-body {
  width: 568px;
  height: 320px;
}
/* line 114, ../scss/_device_wraps.scss */
.phone-wrap[data-device="nexus4-portrait"] {
  width: 434px;
  height: 849px;
  background: url(../images/portrait/nexus4.png) no-repeat 0 0;
  padding: 107px 0 0;
}
/* line 119, ../scss/_device_wraps.scss */
.phone-wrap[data-device="nexus4-portrait"] .device-body {
  width: 366px;
  height: 650px;
}
/* line 122, ../scss/_device_wraps.scss */
.phone-wrap[data-device="nexus4-portrait"] .device-body .page {
  position: relative;
  height: 586px;
}
/* line 128, ../scss/_device_wraps.scss */
.phone-wrap[data-device="nexus4-landscape"] {
  padding: 34px 40px 0 0;
  width: 849px;
  height: 434px;
  background: url(../images/landscape/nexus4.png) no-repeat 0 0;
}
/* line 133, ../scss/_device_wraps.scss */
.phone-wrap[data-device="nexus4-landscape"] .android-status {
  width: 602px;
}
/* line 136, ../scss/_device_wraps.scss */
.phone-wrap[data-device="nexus4-landscape"] .page {
  width: 610px;
  height: 342px;
  position: relative;
}
/* line 141, ../scss/_device_wraps.scss */
.phone-wrap[data-device="nexus4-landscape"] .device-body {
  width: 650px;
  height: 366px;
  position: relative;
  right: -27px;
}
/* line 148, ../scss/_device_wraps.scss */
.phone-wrap[data-device="ipad3-portrait"] {
  width: 970px;
  height: 1260px;
  background: url(../images/portrait/ipad3.png) no-repeat 0 0;
  padding: 118px 0 0;
}
/* line 154, ../scss/_device_wraps.scss */
.phone-wrap[data-device="ipad3-portrait"] .device-body {
  width: 768px;
  height: 1024px;
}
/* line 159, ../scss/_device_wraps.scss */
.phone-wrap[data-device="ipad3-landscape"] {
  padding: 101px 0 0;
  width: 1260px;
  height: 970px;
  background: url(../images/landscape/ipad3.png) no-repeat 0 0;
}
/* line 164, ../scss/_device_wraps.scss */
.phone-wrap[data-device="ipad3-landscape"] .device-body {
  width: 1024px;
  height: 768px;
}
/* line 169, ../scss/_device_wraps.scss */
.phone-wrap[data-device="nexus7-portrait"] {
  width: 970px;
  height: 1260px;
  background: url(../images/portrait/nexus7.png) no-repeat center center;
  padding: 134px 0 0;
  background-size: contain;
}
/* line 175, ../scss/_device_wraps.scss */
.phone-wrap[data-device="nexus7-portrait"] .device-body {
  width: 610px;
  height: 977px;
}
/* line 178, ../scss/_device_wraps.scss */
.phone-wrap[data-device="nexus7-portrait"] .device-body .page {
  height: 913px;
}
/* line 183, ../scss/_device_wraps.scss */
.phone-wrap[data-device="nexus7-landscape"] {
  width: 1260px;
  height: 970px;
  background: url(../images/landscape/nexus7.png) no-repeat center center;
  background-size: contain;
  padding: 176px 0 0;
}
/* line 189, ../scss/_device_wraps.scss */
.phone-wrap[data-device="nexus7-landscape"] .device-body {
  width: 977px;
  height: 614px;
  position: relative;
  right: 6px;
}
/* line 194, ../scss/_device_wraps.scss */
.phone-wrap[data-device="nexus7-landscape"] .device-body .page {
  position: relative;
  height: 589px;
  width: 937px;
}

/* line 1, ../scss/_controls.scss */
.controls {
  z-index: 2;
  line-height: 44px;
  height: 44px;
  background: #FFF;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  left: 0;
  width: 100%;
  /* flexbox setup */
  display: flex;
  flex-direction: row;
}
/* line 5, ../scss/_controls.scss */
.controls label {
  line-height: 44px;
}
/* line 8, ../scss/_controls.scss */
.controls select {
  margin-top: 12px;
}
/* line 17, ../scss/_controls.scss */
.controls.top {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  top: 0;
}
/* line 21, ../scss/_controls.scss */
.controls.bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  bottom: 0;
}
/* line 24, ../scss/_controls.scss */
.controls.bottom p, .controls.bottom .cl-article__inner h4, .cl-article__inner .controls.bottom h4 {
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
}

/* line 36, ../scss/_controls.scss */
.controls.top > div {
  flex: auto;
  justify-content: center;
  line-height: 24px;
  display: flex;
}

/* line 43, ../scss/_controls.scss */
.controls label {
  margin-right: 3px;
}
/* line 45, ../scss/_controls.scss */
.controls label:after {
  content: ":";
}

/**
  Shared
**/
/* line 6, ../scss/_os_chrome.scss */
.ios-status,
.android-status {
  background: #000;
  color: #FFF;
  text-align: center;
  line-height: 20px;
  padding: 0 4px;
  display: flex;
  flex-direction: row;
}
/* line 18, ../scss/_os_chrome.scss */
.ios-status > span,
.android-status > span {
  flex: auto;
  justify-content: space-around;
}
/* line 23, ../scss/_os_chrome.scss */
.ios-status span:first-child,
.android-status span:first-child {
  text-align: left;
}
/* line 27, ../scss/_os_chrome.scss */
.ios-status span:last-child,
.android-status span:last-child {
  text-align: right;
}

/**
  iOS only
**/
/* line 37, ../scss/_os_chrome.scss */
.ios-status {
  font-weight: 700;
  font-family: Helvetica;
  height: 20px;
}
/* line 42, ../scss/_os_chrome.scss */
.ios-status .clock {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

/* line 52, ../scss/_os_chrome.scss */
.signals {
  font-size: 0;
  margin-right: 3px;
}
/* line 55, ../scss/_os_chrome.scss */
.signals span {
  width: 3px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 1px;
  position: relative;
  bottom: 10px;
  background: #FFF;
}
/* line 64, ../scss/_os_chrome.scss */
.signals .signal1 {
  height: 4px;
}
/* line 67, ../scss/_os_chrome.scss */
.signals .signal2 {
  height: 5px;
}
/* line 70, ../scss/_os_chrome.scss */
.signals .signal3 {
  height: 6.5px;
}
/* line 73, ../scss/_os_chrome.scss */
.signals .signal4 {
  height: 8px;
}
/* line 76, ../scss/_os_chrome.scss */
.signals .signal5 {
  height: 10px;
}

/* line 83, ../scss/_os_chrome.scss */
.icon-ios-battery {
  font-size: 22px;
  line-height: 0;
  position: relative;
  top: -1px;
  margin-left: 4px;
  float: right;
}

/**
  Android only
**/
/* line 97, ../scss/_os_chrome.scss */
.android-status {
  font-family: Roboto;
  background: #000;
  color: #FFF;
  height: 24px;
  line-height: 24px;
}

/* line 106, ../scss/_os_chrome.scss */
.android-software-buttons {
  background: #000;
  color: #FFF;
  position: absolute;
  height: 40px;
  line-height: 40px;
}
/* line 110, ../scss/_os_chrome.scss */
[data-device$=landscape] .android-software-buttons {
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
}
/* line 116, ../scss/_os_chrome.scss */
[data-device$=portrait] .android-software-buttons {
  bottom: 0;
  left: 0;
  width: 100%;
}

/* line 3, ../scss/components/_headers-footers.scss */
.bar-title,
.bar {
  *zoom: 1;
  overflow: hidden;
  width: 100%;
  position: relative;
}
/* line 38, ../../../.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.bar-title:after,
.bar:after {
  content: "";
  display: table;
  clear: both;
}
/* line 7, ../scss/components/_headers-footers.scss */
[data-os="ios"] .bar-title, [data-os="ios"]
.bar {
  min-height: 44px;
  height: 44px;
}
/* line 11, ../scss/components/_headers-footers.scss */
[data-os="android"] .bar-title, [data-os="android"]
.bar {
  min-height: 50px;
  height: 50px;
}

/* line 18, ../scss/components/_headers-footers.scss */
.bar-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 44px;
  height: 44px;
}

/* line 28, ../scss/components/_headers-footers.scss */
.bar-title .title {
  text-align: center;
  margin: 0 auto;
  -webkit-hyphens: auto;
}
/* line 30, ../scss/components/_headers-footers.scss */
[data-os="ios"] .bar-title .title {
  line-height: 44px;
}
/* line 33, ../scss/components/_headers-footers.scss */
[data-os="android"] .bar-title .title {
  line-height: 50px;
}

/* line 45, ../scss/components/_headers-footers.scss */
.bar-title,
.bar-footer,
.bar {
  background: #155663;
  background-color: #1a6c7c;
  background-image: -moz-linear-gradient(top, #1e7b8d, #155663);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1e7b8d), to(#155663));
  background-image: -webkit-linear-gradient(top, #1e7b8d, #155663);
  background-image: -o-linear-gradient(top, #1e7b8d, #155663);
  background-image: linear-gradient(to bottom, #1e7b8d, #155663);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1E7B8D', endColorstr='#FF155663', GradientType=0);
}
/* line 46, ../scss/components/_headers-footers.scss */
.bar-title > p, .cl-article__inner .bar-title > h4,
.bar-footer > p,
.cl-article__inner .bar-footer > h4,
.bar > p,
.cl-article__inner .bar > h4 {
  line-height: 44px;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.33);
}
/* line 56, ../scss/components/_headers-footers.scss */
.bar-title > p.align-left, .cl-article__inner .bar-title > h4.align-left,
.bar-footer > p.align-left,
.cl-article__inner .bar-footer > h4.align-left,
.bar > p.align-left,
.cl-article__inner .bar > h4.align-left {
  margin-left: 7px;
}
/* line 61, ../scss/components/_headers-footers.scss */
.bar-title .title,
.bar-footer .title,
.bar .title {
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
  text-align: center;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.33);
}
/* line 85, ../scss/components/_headers-footers.scss */
.bar-title:before,
.bar-footer:before,
.bar:before {
  content: " ";
  height: 1px;
  width: 100%;
  background: #1e7b8d;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 95, ../scss/components/_headers-footers.scss */
.bar-title:after,
.bar-footer:after,
.bar:after {
  content: " ";
  height: 1px;
  width: 100%;
  background: black;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* line 1, ../scss/components/_buttons.scss */
.btn {
  display: block;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  text-shadow: 0 1px rgba(0, 0, 0, 0.33);
}
/* line 7, ../scss/components/_buttons.scss */
.btn > span, .btn > span > span {
  display: block;
}
/* line 242, ../scss/_mixins.scss */
.btn > span:before, .btn > span:after, .btn > span > span:before, .btn > span > span:after {
  content: "";
  display: table;
}
/* line 246, ../scss/_mixins.scss */
.btn > span:after, .btn > span > span:after {
  clear: both;
}
/* line 11, ../scss/components/_buttons.scss */
.btn .label {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0 3px;
}
/* line 21, ../scss/components/_buttons.scss */
.btn .iconfont {
  font-size: 18px;
  line-height: 30px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0 3px;
}
/* line 27, ../scss/components/_buttons.scss */
.btn .iconfont span.hidden {
  display: none;
}
/* line 31, ../scss/components/_buttons.scss */
.btn .iconfont + .label {
  margin-left: 0;
}
/* line 34, ../scss/components/_buttons.scss */
.content .btn .iconfont {
  position: absolute;
  left: 17px;
  top: 3px;
}
/* line 39, ../scss/components/_buttons.scss */
.btn > span {
  font-weight: 700;
  min-width: 54px;
  text-align: center;
  font-size: 13px;
  padding: 1px;
}
/* line 44, ../scss/components/_buttons.scss */
.btn > span > span {
  padding: 0 5px;
}
/* line 50, ../scss/components/_buttons.scss */
.btn > span > span {
  line-height: 30px;
}
/* line 64, ../scss/components/_buttons.scss */
.bar-title .btn, .bar-footer .btn, .bar .btn {
  padding: 0 7px;
}
/* line 66, ../scss/components/_buttons.scss */
.bar-title .btn > span, .bar-footer .btn > span, .bar .btn > span {
  margin: 5px 0;
  font-size: 13px;
}
/* line 72, ../scss/components/_buttons.scss */
.content .controls .btn > span {
  margin: 5px 10px;
  font-size: 15px;
}
/* line 77, ../scss/components/_buttons.scss */
.content .controls .btn > span > span {
  line-height: 36px;
}
/* line 87, ../scss/components/_buttons.scss */
.btn.btn-icon > span {
  min-width: 34px;
}
/* line 90, ../scss/components/_buttons.scss */
.btn.btn-icon-only {
  width: 44px;
}
/* line 92, ../scss/components/_buttons.scss */
.btn.btn-icon-only > span {
  text-align: center;
}

/* line 100, ../scss/components/_buttons.scss */
.btn > span {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 103, ../scss/components/_buttons.scss */
.btn > span > span {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 109, ../scss/components/_buttons.scss */
.btn > span {
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
/* line 112, ../scss/components/_buttons.scss */
.btn > span > span {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
}
/* line 81, ../scss/_mixins.scss */
.btn > span {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: white;
  background-color: #124a55;
  background-image: -moz-linear-gradient(top, #134f5b, #11444e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#134f5b), to(#11444e));
  background-image: -webkit-linear-gradient(top, #134f5b, #11444e);
  background-image: -o-linear-gradient(top, #134f5b, #11444e);
  background-image: linear-gradient(to bottom, #134f5b, #11444e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF134F5B', endColorstr='#FF11444E', GradientType=0);
}
/* line 93, ../scss/_mixins.scss */
.btn > span > span {
  background-color: #1b92a9;
  background-image: -moz-linear-gradient(top, #1fbad9, #155663);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1fbad9), to(#155663));
  background-image: -webkit-linear-gradient(top, #1fbad9, #155663);
  background-image: -o-linear-gradient(top, #1fbad9, #155663);
  background-image: linear-gradient(to bottom, #1fbad9, #155663);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1FBAD9', endColorstr='#FF155663', GradientType=0);
}
/* line 104, ../scss/_mixins.scss */
.btn:hover > span, .btn:active > span, .btn:focus > span, .btn.active > span {
  background-color: #0c333b;
  background-image: -moz-linear-gradient(top, #0f3c46, #09262c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0f3c46), to(#09262c));
  background-image: -webkit-linear-gradient(top, #0f3c46, #09262c);
  background-image: -o-linear-gradient(top, #0f3c46, #09262c);
  background-image: linear-gradient(to bottom, #0f3c46, #09262c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0F3C46', endColorstr='#FF09262C', GradientType=0);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 111, ../scss/_mixins.scss */
.btn:hover > span > span, .btn:active > span > span, .btn:focus > span > span, .btn.active > span > span {
  background-color: #114650;
  background-image: -moz-linear-gradient(top, #134f5b, #0e3941);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#134f5b), to(#0e3941));
  background-image: -webkit-linear-gradient(top, #134f5b, #0e3941);
  background-image: -o-linear-gradient(top, #134f5b, #0e3941);
  background-image: linear-gradient(to bottom, #134f5b, #0e3941);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF134F5B', endColorstr='#FF0E3941', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
}
/* line 125, ../scss/_mixins.scss */
.btn.btn-primary > span {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: white;
  background-color: #05a5c5;
  background-image: -moz-linear-gradient(top, #06c2e7, #047b93);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#06c2e7), to(#047b93));
  background-image: -webkit-linear-gradient(top, #06c2e7, #047b93);
  background-image: -o-linear-gradient(top, #06c2e7, #047b93);
  background-image: linear-gradient(to bottom, #06c2e7, #047b93);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF06C2E7', endColorstr='#FF047B93', GradientType=0);
}
/* line 133, ../scss/_mixins.scss */
.btn.btn-primary > span > span {
  background-color: #16bfe2;
  background-image: -moz-linear-gradient(top, #22d5f9, #05a0c0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#22d5f9), to(#05a0c0));
  background-image: -webkit-linear-gradient(top, #22d5f9, #05a0c0);
  background-image: -o-linear-gradient(top, #22d5f9, #05a0c0);
  background-image: linear-gradient(to bottom, #22d5f9, #05a0c0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF22D5F9', endColorstr='#FF05A0C0', GradientType=0);
}
/* line 127, ../scss/components/_buttons.scss */
header .btn.btn-primary > span {
  background-color: #134e5a;
  background-image: -moz-linear-gradient(top, #155663, #11444e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#155663), to(#11444e));
  background-image: -webkit-linear-gradient(top, #155663, #11444e);
  background-image: -o-linear-gradient(top, #155663, #11444e);
  background-image: linear-gradient(to bottom, #155663, #11444e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF155663', endColorstr='#FF11444E', GradientType=0);
}
/* line 134, ../scss/components/_buttons.scss */
header .btn.btn-primary > span > span {
  background-color: #16bfe2;
  background-image: -moz-linear-gradient(top, #22d5f9, #05a0c0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#22d5f9), to(#05a0c0));
  background-image: -webkit-linear-gradient(top, #22d5f9, #05a0c0);
  background-image: -o-linear-gradient(top, #22d5f9, #05a0c0);
  background-image: linear-gradient(to bottom, #22d5f9, #05a0c0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF22D5F9', endColorstr='#FF05A0C0', GradientType=0);
}
/* line 145, ../scss/components/_buttons.scss */
header .btn.btn-primary:hover > span, header .btn.btn-primary:active > span, header .btn.btn-primary:focus > span, header .btn.btn-primary.active > span {
  background-color: #0c333b;
  background-image: -moz-linear-gradient(top, #0f3c46, #09262c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0f3c46), to(#09262c));
  background-image: -webkit-linear-gradient(top, #0f3c46, #09262c);
  background-image: -o-linear-gradient(top, #0f3c46, #09262c);
  background-image: linear-gradient(to bottom, #0f3c46, #09262c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0F3C46', endColorstr='#FF09262C', GradientType=0);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 152, ../scss/components/_buttons.scss */
header .btn.btn-primary:hover > span > span, header .btn.btn-primary:active > span > span, header .btn.btn-primary:focus > span > span, header .btn.btn-primary.active > span > span {
  background-color: #114650;
  background-image: -moz-linear-gradient(top, #134f5b, #0e3941);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#134f5b), to(#0e3941));
  background-image: -webkit-linear-gradient(top, #134f5b, #0e3941);
  background-image: -o-linear-gradient(top, #134f5b, #0e3941);
  background-image: linear-gradient(to bottom, #134f5b, #0e3941);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF134F5B', endColorstr='#FF0E3941', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
}

/* line 3, ../scss/components/_typography.scss */
.cl-article__inner p, .cl-article__inner h4 {
  margin: 10px;
  line-height: 1.33;
  color: #333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
/* line 4, ../scss/components/_typography.scss */
.cl-article__inner p.intro, .cl-article__inner h4.intro {
  font-size: 16px;
  background: #155663;
  color: #FFF;
  text-shadow: none;
  padding: 10px;
  margin: 0 0 10px;
}
/* line 16, ../scss/components/_typography.scss */
.cl-article__inner p + p, .cl-article__inner h4 + p, .cl-article__inner p + h4, .cl-article__inner h4 + h4 {
  margin-top: 0;
}
/* line 25, ../scss/components/_typography.scss */
.cl-article__inner pre {
  padding: 10px;
  font-size: 11px;
  background: #EEE;
}
/* line 31, ../scss/components/_typography.scss */
.cl-article__inner a {
  color: #155663;
  border-bottom: 1px solid #bae7f0;
}

/* line 7, ../scss/components/_button-positioning.scss */
.bar-title .btn,
.bar-footer .btn,
.bar .btn {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 13, ../scss/components/_button-positioning.scss */
.bar-title .title + .btn,
.bar-title .btn:last-child,
.bar-footer .title + .btn,
.bar-footer .btn:last-child,
.bar .title + .btn,
.bar .btn:last-child {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
}
/* line 19, ../scss/components/_button-positioning.scss */
.bar-title .btn.align-center,
.bar-footer .btn.align-center,
.bar .btn.align-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 232px;
}
/* line 27, ../scss/components/_button-positioning.scss */
.bar-title .align-right,
.bar-footer .align-right,
.bar .align-right {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
}

/* line 1, ../scss/components/_table-view.scss */
.cl-table-view-title {
  padding: 0;
  margin: 10px 10px 0 20px;
  font-size: 11px;
  text-transform: uppercase;
  color: #3E3E3E;
}
/* line 7, ../scss/components/_table-view.scss */
.cl-table-view-title + .cl-table-view, .cl-table-view-title + .cl-table-view__extended {
  padding-top: 5px;
}
/* line 10, ../scss/components/_table-view.scss */
.cl-table-view-title + .input-group {
  padding-top: 5px;
}

/* line 15, ../scss/components/_table-view.scss */
.cl-table-view, .cl-table-view__extended {
  *zoom: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 10px 0;
  width: 100%;
}
/* line 38, ../../../.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.cl-table-view:after, .cl-table-view__extended:after {
  content: "";
  display: table;
  clear: both;
}

/* line 22, ../scss/components/_table-view.scss */
.cl-table-view__cell {
  font-size: 16px;
  min-height: 44px;
  margin: 0 10px;
  position: relative;
  vertical-align: middle;
}
/* line 28, ../scss/components/_table-view.scss */
.cl-table-view__cell p, .cl-table-view__cell .cl-article__inner h4, .cl-article__inner .cl-table-view__cell h4 {
  padding: 0;
}
/* line 31, ../scss/components/_table-view.scss */
.cl-table-view__cell a {
  font-weight: 700;
  color: #000;
}

/* line 37, ../scss/components/_table-view.scss */
div[class=cl-table-view__cell] {
  *zoom: 1;
  background: white;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(0, 0, 0, 0.1);
}
/* line 38, ../../../.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
div[class=cl-table-view__cell]:after {
  content: "";
  display: table;
  clear: both;
}
/* line 185, ../scss/_mixins.scss */
div[class=cl-table-view__cell]:first-child {
  -moz-border-radius-topleft: 2.5px;
  -webkit-border-top-left-radius: 2.5px;
  border-top-left-radius: 2.5px;
  -moz-border-radius-topright: 2.5px;
  -webkit-border-top-right-radius: 2.5px;
  border-top-right-radius: 2.5px;
}
/* line 188, ../scss/_mixins.scss */
div[class=cl-table-view__cell]:last-child {
  -moz-border-radius-bottomleft: 2.5px;
  -webkit-border-bottom-left-radius: 2.5px;
  border-bottom-left-radius: 2.5px;
  -moz-border-radius-bottomright: 2.5px;
  -webkit-border-bottom-right-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
}
/* line 40, ../scss/components/_table-view.scss */
div[class=cl-table-view__cell] > a {
  display: block;
  padding: 10px;
  min-height: 44px;
}
/* line 45, ../scss/components/_table-view.scss */
div[class=cl-table-view__cell] > label {
  display: block;
  padding: 10px;
}
/* line 51, ../scss/components/_table-view.scss */
div[class=cl-table-view__cell]:hover, div[class=cl-table-view__cell]:active, div[class=cl-table-view__cell]:focus {
  background: #0188f4;
  background-color: #0174ee;
  background-image: -moz-linear-gradient(top, #0188f4, #0158e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0188f4), to(#0158e6));
  background-image: -webkit-linear-gradient(top, #0188f4, #0158e6);
  background-image: -o-linear-gradient(top, #0188f4, #0158e6);
  background-image: linear-gradient(to bottom, #0188f4, #0158e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0188F4', endColorstr='#FF0158E6', GradientType=0);
  color: #FFF;
  text-shadow: 0 1px rgba(0, 0, 0, 0.33);
}
/* line 56, ../scss/components/_table-view.scss */
div[class=cl-table-view__cell]:hover h3, div[class=cl-table-view__cell]:hover a, div[class=cl-table-view__cell]:hover .icon-arrow-right, div[class=cl-table-view__cell]:hover .disclosure-help, div[class=cl-table-view__cell]:active h3, div[class=cl-table-view__cell]:active a, div[class=cl-table-view__cell]:active .icon-arrow-right, div[class=cl-table-view__cell]:active .disclosure-help, div[class=cl-table-view__cell]:focus h3, div[class=cl-table-view__cell]:focus a, div[class=cl-table-view__cell]:focus .icon-arrow-right, div[class=cl-table-view__cell]:focus .disclosure-help {
  color: #FFF;
}
/* line 60, ../scss/components/_table-view.scss */
div[class=cl-table-view__cell] .title, div[class=cl-table-view__cell] h3 {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
/* line 66, ../scss/components/_table-view.scss */
div[class=cl-table-view__cell] .disclosure-help {
  font-weight: 400;
  position: absolute;
  top: 35%;
  right: 30px;
  color: #AAA;
}
/* line 73, ../scss/components/_table-view.scss */
div[class=cl-table-view__cell] .icon-arrow-right {
  font-size: 19px;
  position: absolute;
  top: 26%;
  right: 10px;
  font-weight: 700;
  color: #AAA;
}
/* line 81, ../scss/components/_table-view.scss */
div[class=cl-table-view__cell] .meta {
  font-weight: 400;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=66);
  opacity: 0.66;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

/* line 90, ../scss/components/_table-view.scss */
.cl-table-view--split-cell {
  margin: 0 10px;
  *zoom: 1;
}
/* line 38, ../../../.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.cl-table-view--split-cell:after {
  content: "";
  display: table;
  clear: both;
}
/* line 97, ../scss/components/_table-view.scss */
.cl-table-view--split-cell:first-child .cl-table-view__cell:first-child {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-border-radius-topleft: 2.5px;
  -webkit-border-top-left-radius: 2.5px;
  border-top-left-radius: 2.5px;
}
/* line 101, ../scss/components/_table-view.scss */
.cl-table-view--split-cell:first-child .cl-table-view__cell:last-child {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-border-radius-topright: 2.5px;
  -webkit-border-top-right-radius: 2.5px;
  border-top-right-radius: 2.5px;
}
/* line 107, ../scss/components/_table-view.scss */
.cl-table-view--split-cell:last-child .cl-table-view__cell:first-child {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-border-radius-bottomleft: 2.5px;
  -webkit-border-bottom-left-radius: 2.5px;
  border-bottom-left-radius: 2.5px;
}
/* line 111, ../scss/components/_table-view.scss */
.cl-table-view--split-cell:last-child .cl-table-view__cell:last-child {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-border-radius-bottomright: 2.5px;
  -webkit-border-bottom-right-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
}
/* line 117, ../scss/components/_table-view.scss */
.cl-table-view--split-cell:only-child .cl-table-view__cell:first-child {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-border-radius-topleft: 2.5px;
  -webkit-border-top-left-radius: 2.5px;
  border-top-left-radius: 2.5px;
  -moz-border-radius-bottomleft: 2.5px;
  -webkit-border-bottom-left-radius: 2.5px;
  border-bottom-left-radius: 2.5px;
}
/* line 121, ../scss/components/_table-view.scss */
.cl-table-view--split-cell:only-child .cl-table-view__cell:last-child {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-border-radius-topright: 2.5px;
  -webkit-border-top-right-radius: 2.5px;
  border-top-right-radius: 2.5px;
  -moz-border-radius-bottomright: 2.5px;
  -webkit-border-bottom-right-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
}
/* line 126, ../scss/components/_table-view.scss */
.cl-table-view--split-cell .cl-table-view__cell {
  padding: 10px;
  width: 50%;
  margin: 0;
  background: white;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(0, 0, 0, 0.1);
}
/* line 185, ../scss/_mixins.scss */
.cl-table-view--split-cell .cl-table-view__cell:first-child {
  -moz-border-radius-topleft: 2.5px;
  -webkit-border-top-left-radius: 2.5px;
  border-top-left-radius: 2.5px;
  -moz-border-radius-topright: 2.5px;
  -webkit-border-top-right-radius: 2.5px;
  border-top-right-radius: 2.5px;
}
/* line 188, ../scss/_mixins.scss */
.cl-table-view--split-cell .cl-table-view__cell:last-child {
  -moz-border-radius-bottomleft: 2.5px;
  -webkit-border-bottom-left-radius: 2.5px;
  border-bottom-left-radius: 2.5px;
  -moz-border-radius-bottomright: 2.5px;
  -webkit-border-bottom-right-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
}
/* line 131, ../scss/components/_table-view.scss */
.cl-table-view--split-cell .cl-table-view__cell:first-child {
  width: -moz-calc(50% - 1px);
  width: -o-calc(50% - 1px);
  width: -webkit-calc(50% - 1px);
  width: calc(50% - 1px);
  float: left;
}
/* line 135, ../scss/components/_table-view.scss */
.cl-table-view--split-cell .cl-table-view__cell:last-child {
  width: -moz-calc(50%);
  width: -o-calc(50%);
  width: -webkit-calc(50%);
  width: calc(50%);
  float: right;
}
/* line 141, ../scss/components/_table-view.scss */
.cl-table-view--split-cell .cl-table-view__cell:hover, .cl-table-view--split-cell .cl-table-view__cell:active, .cl-table-view--split-cell .cl-table-view__cell:focus {
  background: #0188f4;
  background-color: #0174ee;
  background-image: -moz-linear-gradient(top, #0188f4, #0158e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0188f4), to(#0158e6));
  background-image: -webkit-linear-gradient(top, #0188f4, #0158e6);
  background-image: -o-linear-gradient(top, #0188f4, #0158e6);
  background-image: linear-gradient(to bottom, #0188f4, #0158e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0188F4', endColorstr='#FF0158E6', GradientType=0);
  color: #FFF;
  text-shadow: 0 1px rgba(0, 0, 0, 0.33);
}
/* line 146, ../scss/components/_table-view.scss */
.cl-table-view--split-cell .cl-table-view__cell:hover h3, .cl-table-view--split-cell .cl-table-view__cell:hover a, .cl-table-view--split-cell .cl-table-view__cell:hover .icon-arrow-right, .cl-table-view--split-cell .cl-table-view__cell:hover .disclosure-help, .cl-table-view--split-cell .cl-table-view__cell:active h3, .cl-table-view--split-cell .cl-table-view__cell:active a, .cl-table-view--split-cell .cl-table-view__cell:active .icon-arrow-right, .cl-table-view--split-cell .cl-table-view__cell:active .disclosure-help, .cl-table-view--split-cell .cl-table-view__cell:focus h3, .cl-table-view--split-cell .cl-table-view__cell:focus a, .cl-table-view--split-cell .cl-table-view__cell:focus .icon-arrow-right, .cl-table-view--split-cell .cl-table-view__cell:focus .disclosure-help {
  color: #FFF;
}
/* line 153, ../scss/components/_table-view.scss */
.cl-table-view--split-cell.split-2-3 .cl-table-view__cell:first-child {
  width: -moz-calc(40% - 1px);
  width: -o-calc(40% - 1px);
  width: -webkit-calc(40% - 1px);
  width: calc(40% - 1px);
  float: left;
}
/* line 157, ../scss/components/_table-view.scss */
.cl-table-view--split-cell.split-2-3 .cl-table-view__cell:last-child {
  width: -moz-calc(60% - 1px);
  width: -o-calc(60% - 1px);
  width: -webkit-calc(60% - 1px);
  width: calc(60% - 1px);
  float: right;
}
/* line 165, ../scss/components/_table-view.scss */
.cl-table-view--split-cell.split-3-7 .cl-table-view__cell:first-child {
  width: -moz-calc(30% - 1px);
  width: -o-calc(30% - 1px);
  width: -webkit-calc(30% - 1px);
  width: calc(30% - 1px);
  float: left;
}
/* line 169, ../scss/components/_table-view.scss */
.cl-table-view--split-cell.split-3-7 .cl-table-view__cell:last-child {
  width: -moz-calc(70%);
  width: -o-calc(70%);
  width: -webkit-calc(70%);
  width: calc(70%);
  float: right;
}
/* line 177, ../scss/components/_table-view.scss */
.cl-table-view--split-cell.split-1-3 .cl-table-view__cell:first-child {
  width: -moz-calc(25% - 1px);
  width: -o-calc(25% - 1px);
  width: -webkit-calc(25% - 1px);
  width: calc(25% - 1px);
  float: left;
}
/* line 181, ../scss/components/_table-view.scss */
.cl-table-view--split-cell.split-1-3 .cl-table-view__cell:last-child {
  width: -moz-calc(75%);
  width: -o-calc(75%);
  width: -webkit-calc(75%);
  width: calc(75%);
  float: right;
}

/* line 190, ../scss/components/_table-view.scss */
.view-all {
  *zoom: 1;
  background: white;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(0, 0, 0, 0.1);
  background-color: #d5d5d5;
  background-image: -moz-linear-gradient(top, #dadada, #cecece);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dadada), to(#cecece));
  background-image: -webkit-linear-gradient(top, #dadada, #cecece);
  background-image: -o-linear-gradient(top, #dadada, #cecece);
  background-image: linear-gradient(to bottom, #dadada, #cecece);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFDADADA', endColorstr='#FFCECECE', GradientType=0);
  text-transform: uppercase;
  font-size: 12px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
}
/* line 38, ../../../.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.view-all:after {
  content: "";
  display: table;
  clear: both;
}
/* line 185, ../scss/_mixins.scss */
.view-all:first-child {
  -moz-border-radius-topleft: 2.5px;
  -webkit-border-top-left-radius: 2.5px;
  border-top-left-radius: 2.5px;
  -moz-border-radius-topright: 2.5px;
  -webkit-border-top-right-radius: 2.5px;
  border-top-right-radius: 2.5px;
}
/* line 188, ../scss/_mixins.scss */
.view-all:last-child {
  -moz-border-radius-bottomleft: 2.5px;
  -webkit-border-bottom-left-radius: 2.5px;
  border-bottom-left-radius: 2.5px;
  -moz-border-radius-bottomright: 2.5px;
  -webkit-border-bottom-right-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
}
/* line 198, ../scss/components/_table-view.scss */
.view-all > a {
  display: block;
  padding: 10px;
}
/* line 202, ../scss/components/_table-view.scss */
.view-all > label {
  display: block;
  padding: 10px;
}

/* line 212, ../scss/components/_table-view.scss */
.cl-table-view__extended .icon-arrow-right {
  right: 10px;
}
/* line 215, ../scss/components/_table-view.scss */
.cl-table-view__extended a {
  display: block;
}
/* line 218, ../scss/components/_table-view.scss */
.cl-table-view__extended .cl-table-view__cell {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  margin: 0 0 1px;
  margin: 0;
}
/* line 220, ../scss/components/_table-view.scss */
.cl-table-view__extended .cl-table-view__cell .cl-table-view__cell {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 1, ../scss/components/_help-txt.scss */
.help-text {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
  max-width: 95%;
  font-size: 13px;
  margin: 0 auto;
  padding: 0 0 12px;
}
/* line 8, ../scss/components/_help-txt.scss */
.help-text a {
  color: #666;
  text-decoration: underline;
}
/* line 11, ../scss/components/_help-txt.scss */
.help-text a:hover {
  color: #333;
}

/* 
 * Font Custom: bare CSS
 */
@font-face {
  font-family: "ios";
  src: url("../scss/icon-fonts/ios/ios.eot");
  src: url("../scss/icon-fonts/ios/ios.eot?#iefix") format("embedded-opentype"), url("../scss/icon-fonts/ios/ios.woff") format("woff"), url("../scss/icon-fonts/ios/ios.ttf") format("truetype"), url("../scss/icon-fonts/ios/ios.svg#ios") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 19, ../scss/icon-fonts/ios/_fontcustom.scss */
.icon-ios-alarm:before,
.icon-ios-battery:before,
.icon-ios-locate:before,
.icon-ios-lock:before {
  font-family: "ios";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

/* line 31, ../scss/icon-fonts/ios/_fontcustom.scss */
.icon-ios-alarm:before {
  content: "\f100";
}

/* line 32, ../scss/icon-fonts/ios/_fontcustom.scss */
.icon-ios-battery:before {
  content: "\f101";
}

/* line 33, ../scss/icon-fonts/ios/_fontcustom.scss */
.icon-ios-locate:before {
  content: "\f102";
}

/* line 34, ../scss/icon-fonts/ios/_fontcustom.scss */
.icon-ios-lock:before {
  content: "\f103";
}

/* 
 * Font Custom: bare CSS
 */
@font-face {
  font-family: "android";
  src: url("../scss/icon-fonts/android/android.eot");
  src: url("../scss/icon-fonts/android/android.eot?#iefix") format("embedded-opentype"), url("../scss/icon-fonts/android/android.woff") format("woff"), url("../scss/icon-fonts/android/android.ttf") format("truetype"), url("../scss/icon-fonts/android/android.svg#android") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 19, ../scss/icon-fonts/android/_fontcustom.scss */
.icon-android-battery-colored:before,
.icon-android-battery:before,
.icon-android-network:before,
.icon-android-wifi:before {
  font-family: "android";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

/* line 31, ../scss/icon-fonts/android/_fontcustom.scss */
.icon-android-battery-colored:before {
  content: "\f100";
}

/* line 32, ../scss/icon-fonts/android/_fontcustom.scss */
.icon-android-battery:before {
  content: "\f101";
}

/* line 33, ../scss/icon-fonts/android/_fontcustom.scss */
.icon-android-network:before {
  content: "\f102";
}

/* line 34, ../scss/icon-fonts/android/_fontcustom.scss */
.icon-android-wifi:before {
  content: "\f103";
}

/* line 23, ../scss/application.scss */
.page {
  font-size: 14px;
  text-align: left;
  word-wrap: break-word;
}

/* line 29, ../scss/application.scss */
.page {
  height: 100%;
}
/* line 31, ../scss/application.scss */
.page .content {
  background: #FFF;
}

/* line 37, ../scss/application.scss */
.page-welcome .content {
  background: #EEE;
}
