/* line 1, ../scss/_base.scss */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 7, ../scss/_base.scss */
html {
  background: #ffffff;
  /* Old browsers */
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  /* W3C */
}

/* line 12, ../scss/_base.scss */
body {
  text-align: center;
  font-family: "Roboto", Arial;
  font-size: 13px;
}

/* line 18, ../scss/_base.scss */
a {
  text-decoration: none;
}

/* line 22, ../scss/_base.scss */
input, select, textarea, option {
  font-family: "Roboto", Arial;
}

/*
  Alternate clearfix that does not rely on overflow: hidden;
*/
/* line 4, ../scss/_device_wraps.scss */
.cl-phone-wrap[data-os="ios"] .cl-device-body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* line 7, ../scss/_device_wraps.scss */
.cl-phone-wrap[data-os="android"] .cl-device-body {
  font-family: 'Roboto', 'Droid Sans', sans-serif;
}

/* line 12, ../scss/_device_wraps.scss */
.cl-device-body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 16, ../scss/_device_wraps.scss */
.cl-device-body {
  padding: 0;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}
/* line 28, ../scss/_device_wraps.scss */
.cl-device-body > .cl-bar-title, .cl-device-body > .cl-content, .cl-device-body > .cl-bar-footer {
  margin: 0 auto;
}

/* line 33, ../scss/_device_wraps.scss */
.cl-content {
  height: 100%;
  height: -moz-calc(100% - 64px);
  height: -o-calc(100% - 64px);
  height: -webkit-calc(100% - 64px);
  height: calc(100% - 64px);
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  position: relative;
}
/* line 36, ../scss/_device_wraps.scss */
.cl-content.has-footer {
  height: -moz-calc(100% - 88px);
  height: -o-calc(100% - 88px);
  height: -webkit-calc(100% - 88px);
  height: calc(100% - 88px);
}
/* line 43, ../scss/_device_wraps.scss */
.cl-content .full-height {
  height: 100%;
}

/* line 48, ../scss/_device_wraps.scss */
.cl-device-frame {
  height: 100%;
  width: 100%;
  /* Center with flexbox */
  display: box;
  display: flexbox;
  box-align: center;
  flex-align: center;
  box-pack: center;
  flex-pack: center;
}

/* line 58, ../scss/_device_wraps.scss */
.cl-phone-wrap {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  overflow-y: hidden;
  position: relative;
}
/* line 63, ../scss/_device_wraps.scss */
.cl-phone-wrap[data-device="iphone4-portrait"] {
  width: 396px;
  height: 734px;
  background: url(../images/portrait/iphone4.png) no-repeat 0 0;
  padding: 127px 0 0 2px;
}
/* line 68, ../scss/_device_wraps.scss */
.cl-phone-wrap[data-device="iphone4-portrait"] .cl-device-body {
  width: 320px;
  height: 480px;
}
/* line 73, ../scss/_device_wraps.scss */
.cl-phone-wrap[data-device="iphone4-landscape"] {
  padding: 37px 0 0;
  width: 734px;
  height: 396px;
  background: url(../images/landscape/iphone4.png) no-repeat 0 0;
}
/* line 78, ../scss/_device_wraps.scss */
.cl-phone-wrap[data-device="iphone4-landscape"] .cl-device-body {
  width: 480px;
  height: 320px;
}
/* line 83, ../scss/_device_wraps.scss */
.cl-phone-wrap[data-device="iphone5-portrait"] {
  width: 396px;
  height: 822px;
  background: url(../images/portrait/iphone5.png) no-repeat 0 0;
  padding: 127px 0 0 0;
}
/* line 88, ../scss/_device_wraps.scss */
.cl-phone-wrap[data-device="iphone5-portrait"] .cl-device-body {
  width: 320px;
  height: 568px;
}
/* line 93, ../scss/_device_wraps.scss */
.cl-phone-wrap[data-device="iphone5-landscape"] {
  padding: 38px 0 0;
  width: 822px;
  height: 396px;
  background: url(../images/landscape/iphone5.png) no-repeat 0 0;
}
/* line 98, ../scss/_device_wraps.scss */
.cl-phone-wrap[data-device="iphone5-landscape"] .cl-device-body {
  width: 568px;
  height: 320px;
}
/* line 103, ../scss/_device_wraps.scss */
.cl-phone-wrap[data-device="nexus4-portrait"] {
  width: 434px;
  height: 849px;
  background: url(../images/portrait/nexus4.png) no-repeat 0 0;
  padding: 107px 0 0;
}
/* line 108, ../scss/_device_wraps.scss */
.cl-phone-wrap[data-device="nexus4-portrait"] .cl-device-body {
  width: 366px;
  height: 650px;
}
/* line 111, ../scss/_device_wraps.scss */
.cl-phone-wrap[data-device="nexus4-portrait"] .cl-device-body .cl-page {
  position: relative;
  height: 586px;
}
/* line 117, ../scss/_device_wraps.scss */
.cl-phone-wrap[data-device="nexus4-landscape"] {
  padding: 34px 40px 0 0;
  width: 849px;
  height: 434px;
  background: url(../images/landscape/nexus4.png) no-repeat 0 0;
}
/* line 122, ../scss/_device_wraps.scss */
.cl-phone-wrap[data-device="nexus4-landscape"] .cl-android-status {
  width: 602px;
}
/* line 125, ../scss/_device_wraps.scss */
.cl-phone-wrap[data-device="nexus4-landscape"] .cl-page {
  width: 610px;
  height: 342px;
  position: relative;
}
/* line 130, ../scss/_device_wraps.scss */
.cl-phone-wrap[data-device="nexus4-landscape"] .cl-device-body {
  width: 650px;
  height: 366px;
  position: relative;
  right: -27px;
}
/* line 137, ../scss/_device_wraps.scss */
.cl-phone-wrap[data-device="ipad3-portrait"] {
  width: 970px;
  height: 1260px;
  background: url(../images/portrait/ipad3.png) no-repeat 0 0;
  padding: 118px 0 0;
}
/* line 143, ../scss/_device_wraps.scss */
.cl-phone-wrap[data-device="ipad3-portrait"] .cl-device-body {
  width: 768px;
  height: 1024px;
}
/* line 148, ../scss/_device_wraps.scss */
.cl-phone-wrap[data-device="ipad3-landscape"] {
  padding: 101px 0 0;
  width: 1260px;
  height: 970px;
  background: url(../images/landscape/ipad3.png) no-repeat 0 0;
}
/* line 153, ../scss/_device_wraps.scss */
.cl-phone-wrap[data-device="ipad3-landscape"] .cl-device-body {
  width: 1024px;
  height: 768px;
}
/* line 158, ../scss/_device_wraps.scss */
.cl-phone-wrap[data-device="nexus7-portrait"] {
  width: 970px;
  height: 1260px;
  background: url(../images/portrait/nexus7.png) no-repeat center center;
  padding: 134px 0 0;
  background-size: contain;
}
/* line 164, ../scss/_device_wraps.scss */
.cl-phone-wrap[data-device="nexus7-portrait"] .cl-device-body {
  width: 610px;
  height: 977px;
}
/* line 167, ../scss/_device_wraps.scss */
.cl-phone-wrap[data-device="nexus7-portrait"] .cl-device-body .cl-page {
  height: 913px;
}
/* line 172, ../scss/_device_wraps.scss */
.cl-phone-wrap[data-device="nexus7-landscape"] {
  width: 1260px;
  height: 970px;
  background: url(../images/landscape/nexus7.png) no-repeat center center;
  background-size: contain;
  padding: 176px 0 0;
}
/* line 178, ../scss/_device_wraps.scss */
.cl-phone-wrap[data-device="nexus7-landscape"] .cl-device-body {
  width: 977px;
  height: 614px;
  position: relative;
  right: 6px;
}
/* line 183, ../scss/_device_wraps.scss */
.cl-phone-wrap[data-device="nexus7-landscape"] .cl-device-body .cl-page {
  position: relative;
  height: 589px;
  width: 937px;
}

/*
  Clank docs controls
*/
/* line 5, ../scss/_controls.scss */
.cl-docs-controls {
  z-index: 2;
  line-height: 44px;
  height: 44px;
  background: #FFF;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  left: 0;
  width: 100%;
  /* flexbox setup */
  display: flex;
  flex-direction: row;
}
/* line 9, ../scss/_controls.scss */
.cl-docs-controls label {
  line-height: 44px;
}
/* line 12, ../scss/_controls.scss */
.cl-docs-controls select {
  margin-top: 12px;
}
/* line 24, ../scss/_controls.scss */
.cl-docs-controls > div {
  flex: auto;
  justify-content: center;
  line-height: 24px;
  display: flex;
}

/* line 35, ../scss/_controls.scss */
.cl-docs-controls--top {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  top: 0;
}

/* line 40, ../scss/_controls.scss */
.cl-docs-controls--top label {
  margin-right: 3px;
}
/* line 42, ../scss/_controls.scss */
.cl-docs-controls--top label:after {
  content: ":";
}

/* line 48, ../scss/_controls.scss */
.cl-docs-controls--bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  bottom: 0;
}
/* line 51, ../scss/_controls.scss */
.cl-docs-controls--bottom p, .cl-docs-controls--bottom .cl-article h4, .cl-article .cl-docs-controls--bottom h4 {
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
}

/**
  OS Chrome
**/
/**
  Shared
**/
/* line 10, ../scss/_os_chrome.scss */
.cl-ios-status,
.cl-android-status {
  background: #000;
  color: #FFF;
  text-align: center;
  line-height: 20px;
  padding: 0 4px;
  display: flex;
  flex-direction: row;
}
/* line 22, ../scss/_os_chrome.scss */
.cl-ios-status > span,
.cl-android-status > span {
  flex: auto;
  justify-content: space-around;
}
/* line 27, ../scss/_os_chrome.scss */
.cl-ios-status span:first-child,
.cl-android-status span:first-child {
  text-align: left;
}
/* line 31, ../scss/_os_chrome.scss */
.cl-ios-status span:last-child,
.cl-android-status span:last-child {
  text-align: right;
}

/**
  iOS only
**/
/* line 41, ../scss/_os_chrome.scss */
.cl-ios-status {
  font-weight: 700;
  font-family: Helvetica;
  height: 20px;
}
/* line 46, ../scss/_os_chrome.scss */
.cl-ios-status .clock {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

/* line 56, ../scss/_os_chrome.scss */
.cl-ios-status .signals {
  font-size: 0;
  margin-right: 3px;
}
/* line 59, ../scss/_os_chrome.scss */
.cl-ios-status .signals span {
  width: 3px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 1px;
  position: relative;
  bottom: 10px;
  background: #FFF;
}
/* line 68, ../scss/_os_chrome.scss */
.cl-ios-status .signals .signal1 {
  height: 4px;
}
/* line 71, ../scss/_os_chrome.scss */
.cl-ios-status .signals .signal2 {
  height: 5px;
}
/* line 74, ../scss/_os_chrome.scss */
.cl-ios-status .signals .signal3 {
  height: 6.5px;
}
/* line 77, ../scss/_os_chrome.scss */
.cl-ios-status .signals .signal4 {
  height: 8px;
}
/* line 80, ../scss/_os_chrome.scss */
.cl-ios-status .signals .signal5 {
  height: 10px;
}

/* line 87, ../scss/_os_chrome.scss */
.icon-ios-battery {
  font-size: 22px;
  line-height: 0;
  position: relative;
  top: -1px;
  margin-left: 4px;
  float: right;
}

/**
  Android only
**/
/* line 101, ../scss/_os_chrome.scss */
.cl-android-status {
  font-family: Roboto;
  background: #000;
  color: #FFF;
  height: 24px;
  line-height: 24px;
}

/* line 109, ../scss/_os_chrome.scss */
.cl-android-software-buttons {
  background: #000;
  color: #FFF;
  position: absolute;
  height: 40px;
  line-height: 40px;
}
/* line 113, ../scss/_os_chrome.scss */
[data-device$=landscape] .cl-android-software-buttons {
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
}
/* line 119, ../scss/_os_chrome.scss */
[data-device$=portrait] .cl-android-software-buttons {
  bottom: 0;
  left: 0;
  width: 100%;
}

/* line 4, ../scss/components/_headers-footers.scss */
.cl-bar-title,
.cl-bar {
  *zoom: 1;
  overflow: hidden;
  width: 100%;
  position: relative;
}
/* line 38, ../../../.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.cl-bar-title:after,
.cl-bar:after {
  content: "";
  display: table;
  clear: both;
}
/* line 8, ../scss/components/_headers-footers.scss */
[data-os="ios"] .cl-bar-title, [data-os="ios"]
.cl-bar {
  min-height: 44px;
  height: 44px;
}
/* line 12, ../scss/components/_headers-footers.scss */
[data-os="android"] .cl-bar-title, [data-os="android"]
.cl-bar {
  min-height: 50px;
  height: 50px;
}

/* line 19, ../scss/components/_headers-footers.scss */
.cl-bar-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 44px;
  height: 44px;
}

/* line 29, ../scss/components/_headers-footers.scss */
.cl-bar-title .title {
  text-align: center;
  margin: 0 auto;
  -webkit-hyphens: auto;
}
/* line 31, ../scss/components/_headers-footers.scss */
[data-os="ios"] .cl-bar-title .title {
  line-height: 44px;
}
/* line 34, ../scss/components/_headers-footers.scss */
[data-os="android"] .cl-bar-title .title {
  line-height: 50px;
}

/* line 45, ../scss/components/_headers-footers.scss */
.cl-bar-text {
  line-height: 44px;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.33);
}
/* line 55, ../scss/components/_headers-footers.scss */
.cl-bar-text.align-left {
  margin-left: 7px;
}

/* line 63, ../scss/components/_headers-footers.scss */
.cl-title {
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
  text-align: center;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.33);
}
/* line 68, ../scss/components/_headers-footers.scss */
[data-os="ios"] .cl-title {
  line-height: 44px;
}
/* line 71, ../scss/components/_headers-footers.scss */
[data-os="android"] .cl-title {
  line-height: 50px;
}

/* line 89, ../scss/components/_headers-footers.scss */
.cl-bar-title,
.cl-bar-footer,
.cl-bar {
  background: #155663;
  background-color: #1a6c7c;
  background-image: -moz-linear-gradient(top, #1e7b8d, #155663);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1e7b8d), to(#155663));
  background-image: -webkit-linear-gradient(top, #1e7b8d, #155663);
  background-image: -o-linear-gradient(top, #1e7b8d, #155663);
  background-image: linear-gradient(to bottom, #1e7b8d, #155663);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1E7B8D', endColorstr='#FF155663', GradientType=0);
}
/* line 100, ../scss/components/_headers-footers.scss */
.cl-bar-title:before,
.cl-bar-footer:before,
.cl-bar:before {
  content: " ";
  height: 1px;
  width: 100%;
  background: #1e7b8d;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 110, ../scss/components/_headers-footers.scss */
.cl-bar-title:after,
.cl-bar-footer:after,
.cl-bar:after {
  content: " ";
  height: 1px;
  width: 100%;
  background: black;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* line 1, ../scss/components/_buttons.scss */
.cl-btn {
  display: block;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  text-shadow: 0 1px rgba(0, 0, 0, 0.33);
}
/* line 7, ../scss/components/_buttons.scss */
.cl-btn > span, .cl-btn > span > span {
  display: block;
}
/* line 252, ../scss/_mixins.scss */
.cl-btn > span:before, .cl-btn > span:after, .cl-btn > span > span:before, .cl-btn > span > span:after {
  content: "";
  display: table;
}
/* line 256, ../scss/_mixins.scss */
.cl-btn > span:after, .cl-btn > span > span:after {
  clear: both;
}
/* line 11, ../scss/components/_buttons.scss */
.cl-btn .label {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0 3px;
}
/* line 21, ../scss/components/_buttons.scss */
.cl-btn .iconfont {
  font-size: 18px;
  line-height: 30px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0 3px;
}
/* line 27, ../scss/components/_buttons.scss */
.cl-btn .iconfont span.hidden {
  display: none;
}
/* line 31, ../scss/components/_buttons.scss */
.cl-btn .iconfont + .label {
  margin-left: 0;
}
/* line 34, ../scss/components/_buttons.scss */
.cl-content .cl-btn .iconfont {
  position: absolute;
  left: 17px;
  top: 3px;
}
/* line 39, ../scss/components/_buttons.scss */
.cl-btn > span {
  font-weight: 700;
  min-width: 54px;
  text-align: center;
  font-size: 13px;
  padding: 1px;
}
/* line 44, ../scss/components/_buttons.scss */
.cl-btn > span > span {
  padding: 0 5px;
}
/* line 50, ../scss/components/_buttons.scss */
.cl-btn > span > span {
  line-height: 30px;
}
/* line 64, ../scss/components/_buttons.scss */
.cl-bar-title .cl-btn, .cl-bar-footer .cl-btn, .cl-bar .cl-btn {
  padding: 0 7px;
}
/* line 66, ../scss/components/_buttons.scss */
.cl-bar-title .cl-btn > span, .cl-bar-footer .cl-btn > span, .cl-bar .cl-btn > span {
  margin: 5px 0;
  font-size: 13px;
}
/* line 72, ../scss/components/_buttons.scss */
.cl-content .controls .cl-btn > span {
  margin: 5px 10px;
  font-size: 15px;
}
/* line 77, ../scss/components/_buttons.scss */
.cl-content .controls .cl-btn > span > span {
  line-height: 36px;
}
/* line 87, ../scss/components/_buttons.scss */
.cl-btn.btn-icon > span {
  min-width: 34px;
}
/* line 90, ../scss/components/_buttons.scss */
.cl-btn.btn-icon-only {
  width: 44px;
}
/* line 92, ../scss/components/_buttons.scss */
.cl-btn.btn-icon-only > span {
  text-align: center;
}

/* line 100, ../scss/components/_buttons.scss */
.cl-btn > span {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 103, ../scss/components/_buttons.scss */
.cl-btn > span > span {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 109, ../scss/components/_buttons.scss */
.cl-btn > span {
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
/* line 112, ../scss/components/_buttons.scss */
.cl-btn > span > span {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
}
/* line 81, ../scss/_mixins.scss */
.cl-btn > span {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: white;
  background-color: #124a55;
  background-image: -moz-linear-gradient(top, #134f5b, #11444e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#134f5b), to(#11444e));
  background-image: -webkit-linear-gradient(top, #134f5b, #11444e);
  background-image: -o-linear-gradient(top, #134f5b, #11444e);
  background-image: linear-gradient(to bottom, #134f5b, #11444e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF134F5B', endColorstr='#FF11444E', GradientType=0);
}
/* line 93, ../scss/_mixins.scss */
.cl-btn > span > span {
  background-color: #1b92a9;
  background-image: -moz-linear-gradient(top, #1fbad9, #155663);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1fbad9), to(#155663));
  background-image: -webkit-linear-gradient(top, #1fbad9, #155663);
  background-image: -o-linear-gradient(top, #1fbad9, #155663);
  background-image: linear-gradient(to bottom, #1fbad9, #155663);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1FBAD9', endColorstr='#FF155663', GradientType=0);
}
/* line 104, ../scss/_mixins.scss */
.cl-btn:hover > span, .cl-btn:active > span, .cl-btn:focus > span, .cl-btn.active > span {
  background-color: #0c333b;
  background-image: -moz-linear-gradient(top, #0f3c46, #09262c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0f3c46), to(#09262c));
  background-image: -webkit-linear-gradient(top, #0f3c46, #09262c);
  background-image: -o-linear-gradient(top, #0f3c46, #09262c);
  background-image: linear-gradient(to bottom, #0f3c46, #09262c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0F3C46', endColorstr='#FF09262C', GradientType=0);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 111, ../scss/_mixins.scss */
.cl-btn:hover > span > span, .cl-btn:active > span > span, .cl-btn:focus > span > span, .cl-btn.active > span > span {
  background-color: #114650;
  background-image: -moz-linear-gradient(top, #134f5b, #0e3941);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#134f5b), to(#0e3941));
  background-image: -webkit-linear-gradient(top, #134f5b, #0e3941);
  background-image: -o-linear-gradient(top, #134f5b, #0e3941);
  background-image: linear-gradient(to bottom, #134f5b, #0e3941);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF134F5B', endColorstr='#FF0E3941', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
}

/* line 125, ../scss/_mixins.scss */
.cl-btn-primary > span {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: white;
  background-color: #05a5c5;
  background-image: -moz-linear-gradient(top, #06c2e7, #047b93);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#06c2e7), to(#047b93));
  background-image: -webkit-linear-gradient(top, #06c2e7, #047b93);
  background-image: -o-linear-gradient(top, #06c2e7, #047b93);
  background-image: linear-gradient(to bottom, #06c2e7, #047b93);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF06C2E7', endColorstr='#FF047B93', GradientType=0);
}
/* line 133, ../scss/_mixins.scss */
.cl-btn-primary > span > span {
  background-color: #16bfe2;
  background-image: -moz-linear-gradient(top, #22d5f9, #05a0c0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#22d5f9), to(#05a0c0));
  background-image: -webkit-linear-gradient(top, #22d5f9, #05a0c0);
  background-image: -o-linear-gradient(top, #22d5f9, #05a0c0);
  background-image: linear-gradient(to bottom, #22d5f9, #05a0c0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF22D5F9', endColorstr='#FF05A0C0', GradientType=0);
}

/* line 130, ../scss/components/_buttons.scss */
.cl-btn-primary > span {
  background-color: #134e5a;
  background-image: -moz-linear-gradient(top, #155663, #11444e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#155663), to(#11444e));
  background-image: -webkit-linear-gradient(top, #155663, #11444e);
  background-image: -o-linear-gradient(top, #155663, #11444e);
  background-image: linear-gradient(to bottom, #155663, #11444e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF155663', endColorstr='#FF11444E', GradientType=0);
}
/* line 137, ../scss/components/_buttons.scss */
.cl-btn-primary > span > span {
  background-color: #16bfe2;
  background-image: -moz-linear-gradient(top, #22d5f9, #05a0c0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#22d5f9), to(#05a0c0));
  background-image: -webkit-linear-gradient(top, #22d5f9, #05a0c0);
  background-image: -o-linear-gradient(top, #22d5f9, #05a0c0);
  background-image: linear-gradient(to bottom, #22d5f9, #05a0c0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF22D5F9', endColorstr='#FF05A0C0', GradientType=0);
}

/* line 148, ../scss/components/_buttons.scss */
.cl-btn-primary:hover > span,
.cl-btn-primary:active > span,
.cl-btn-primary:focus > span,
.cl-btn-primary.active > span {
  background-color: #0c333b;
  background-image: -moz-linear-gradient(top, #0f3c46, #09262c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0f3c46), to(#09262c));
  background-image: -webkit-linear-gradient(top, #0f3c46, #09262c);
  background-image: -o-linear-gradient(top, #0f3c46, #09262c);
  background-image: linear-gradient(to bottom, #0f3c46, #09262c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0F3C46', endColorstr='#FF09262C', GradientType=0);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 155, ../scss/components/_buttons.scss */
.cl-btn-primary:hover > span > span,
.cl-btn-primary:active > span > span,
.cl-btn-primary:focus > span > span,
.cl-btn-primary.active > span > span {
  background-color: #114650;
  background-image: -moz-linear-gradient(top, #134f5b, #0e3941);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#134f5b), to(#0e3941));
  background-image: -webkit-linear-gradient(top, #134f5b, #0e3941);
  background-image: -o-linear-gradient(top, #134f5b, #0e3941);
  background-image: linear-gradient(to bottom, #134f5b, #0e3941);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF134F5B', endColorstr='#FF0E3941', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
}

/* line 1, ../scss/components/_code-example.scss */
.cl-code-example {
  padding: 10px;
  font-size: 11px;
  background: #EEE;
}

/* line 3, ../scss/components/_typography.scss */
.cl-article p, .cl-article h4 {
  margin: 10px;
  line-height: 1.33;
  color: #333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
/* line 8, ../scss/components/_typography.scss */
.cl-article p + p, .cl-article h4 + p, .cl-article p + h4, .cl-article h4 + h4 {
  margin-top: 0;
}
/* line 17, ../scss/components/_typography.scss */
.cl-article a {
  color: #155663;
  border-bottom: 1px solid #bae7f0;
}

/* line 24, ../scss/components/_typography.scss */
.cl-article-intro {
  font-size: 16px;
  background: #155663;
  color: #FFF;
  text-shadow: none;
  padding: 10px;
  margin: 0 0 10px;
}

/* line 7, ../scss/components/_button-positioning.scss */
.cl-bar-title .cl-btn,
.cl-bar-footer .cl-btn,
.cl-bar .cl-btn {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 13, ../scss/components/_button-positioning.scss */
.cl-bar-title .cl-title + .btn,
.cl-bar-title .cl-btn:last-child,
.cl-bar-footer .cl-title + .btn,
.cl-bar-footer .cl-btn:last-child,
.cl-bar .cl-title + .btn,
.cl-bar .cl-btn:last-child {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
}
/* line 19, ../scss/components/_button-positioning.scss */
.cl-bar-title .cl-btn.align-center,
.cl-bar-footer .cl-btn.align-center,
.cl-bar .cl-btn.align-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 232px;
}
/* line 27, ../scss/components/_button-positioning.scss */
.cl-bar-title .cl-btn.align-right,
.cl-bar-footer .cl-btn.align-right,
.cl-bar .cl-btn.align-right {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
}

/* line 3, ../scss/components/_table-view.scss */
.cl-table, .cl-table__extended {
  *zoom: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 10px 0;
  width: 90%;
  width: -moz-calc(100% - 20px);
  width: -o-calc(100% - 20px);
  width: -webkit-calc(100% - 20px);
  width: calc(100% - 20px);
}
/* line 38, ../../../.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.cl-table:after, .cl-table__extended:after {
  content: "";
  display: table;
  clear: both;
}
/* line 9, ../scss/components/_table-view.scss */
.cl-table + .cl-table, .cl-table__extended + .cl-table, .cl-table + .cl-table__extended, .cl-table__extended + .cl-table__extended {
  padding-top: 0;
}

/* line 16, ../scss/components/_table-view.scss */
.cl-table-title, .cl-table-title-extended {
  padding: 0;
  margin: 10px 10px 0 20px;
  font-size: 11px;
  text-transform: uppercase;
  color: #3E3E3E;
}
/* line 22, ../scss/components/_table-view.scss */
.cl-table-title + .cl-table, .cl-table-title-extended + .cl-table, .cl-table-title + .cl-table__extended, .cl-table-title-extended + .cl-table__extended {
  padding-top: 5px;
}
/* line 25, ../scss/components/_table-view.scss */
.cl-table-title + .input-group, .cl-table-title-extended + .input-group {
  padding-top: 5px;
}

/* line 30, ../scss/components/_table-view.scss */
.cl-table-title-extended {
  margin-left: 10px;
}

/* line 37, ../scss/components/_table-view.scss */
.cl-table-cell {
  font-size: 14px;
  min-height: 44px;
  position: relative;
  width: 100%;
  background: white;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(0, 0, 0, 0.1);
}
/* line 185, ../scss/_mixins.scss */
.cl-table-cell:first-child {
  -moz-border-radius-topleft: 2.5px;
  -webkit-border-top-left-radius: 2.5px;
  border-top-left-radius: 2.5px;
  -moz-border-radius-topright: 2.5px;
  -webkit-border-top-right-radius: 2.5px;
  border-top-right-radius: 2.5px;
}
/* line 188, ../scss/_mixins.scss */
.cl-table-cell:last-child {
  -moz-border-radius-bottomleft: 2.5px;
  -webkit-border-bottom-left-radius: 2.5px;
  border-bottom-left-radius: 2.5px;
  -moz-border-radius-bottomright: 2.5px;
  -webkit-border-bottom-right-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
}
/* line 45, ../scss/components/_table-view.scss */
.cl-table-cell:hover, .cl-table-cell:active, .cl-table-cell:focus {
  color: #FFF;
  background: #0188f4;
  background-color: #0174ee;
  background-image: -moz-linear-gradient(top, #0188f4, #0158e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0188f4), to(#0158e6));
  background-image: -webkit-linear-gradient(top, #0188f4, #0158e6);
  background-image: -o-linear-gradient(top, #0188f4, #0158e6);
  background-image: linear-gradient(to bottom, #0188f4, #0158e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0188F4', endColorstr='#FF0158E6', GradientType=0);
  text-shadow: 0 1px rgba(0, 0, 0, 0.33);
}
/* line 207, ../scss/_mixins.scss */
.cl-table-cell:hover a, .cl-table-cell:active a, .cl-table-cell:focus a {
  color: #FFF;
}

/* line 50, ../scss/components/_table-view.scss */
.cl-table > .cl-table-cell, .cl-table__extended > .cl-table-cell {
  margin: 0 10px;
}
/* line 52, ../scss/components/_table-view.scss */
.cl-table > .cl-table-cell:first-child, .cl-table__extended > .cl-table-cell:first-child {
  -moz-border-radius-topleft: 2.5px;
  -webkit-border-top-left-radius: 2.5px;
  border-top-left-radius: 2.5px;
  -moz-border-radius-topright: 2.5px;
  -webkit-border-top-right-radius: 2.5px;
  border-top-right-radius: 2.5px;
}
/* line 55, ../scss/components/_table-view.scss */
.cl-table > .cl-table-cell:last-child, .cl-table__extended > .cl-table-cell:last-child {
  -moz-border-radius-bottomleft: 2.5px;
  -webkit-border-bottom-left-radius: 2.5px;
  border-bottom-left-radius: 2.5px;
  -moz-border-radius-bottomright: 2.5px;
  -webkit-border-bottom-right-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
}

/* line 60, ../scss/components/_table-view.scss */
.cl-table-row {
  margin: 0 10px;
  *zoom: 1;
  display: -webkit-flex;
  -webkit-align-items: stretch;
}
/* line 38, ../../../.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.cl-table-row:after {
  content: "";
  display: table;
  clear: both;
}
/* line 68, ../scss/components/_table-view.scss */
.cl-table-row > .cl-table-cell {
  *zoom: 1;
}
/* line 38, ../../../.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.cl-table-row > .cl-table-cell:after {
  content: "";
  display: table;
  clear: both;
}
/* line 70, ../scss/components/_table-view.scss */
.cl-table-row > .cl-table-cell:first-child {
  float: left;
}
/* line 73, ../scss/components/_table-view.scss */
.cl-table-row > .cl-table-cell:last-child {
  float: right;
}

/* line 81, ../scss/components/_table-view.scss */
.cl-table-row .cl-table-cell:first-child {
  width: -moz-calc(50% - 1px);
  width: -o-calc(50% - 1px);
  width: -webkit-calc(50% - 1px);
  width: calc(50% - 1px);
}
/* line 84, ../scss/components/_table-view.scss */
.cl-table-row .cl-table-cell:last-child {
  width: -moz-calc(50%);
  width: -o-calc(50%);
  width: -webkit-calc(50%);
  width: calc(50%);
}
/* line 90, ../scss/components/_table-view.scss */
.cl-table-row.split-2-3 .cl-table-cell:first-child {
  width: -moz-calc(40% - 1px);
  width: -o-calc(40% - 1px);
  width: -webkit-calc(40% - 1px);
  width: calc(40% - 1px);
}
/* line 93, ../scss/components/_table-view.scss */
.cl-table-row.split-2-3 .cl-table-cell:last-child {
  width: -moz-calc(60% - 1px);
  width: -o-calc(60% - 1px);
  width: -webkit-calc(60% - 1px);
  width: calc(60% - 1px);
}
/* line 100, ../scss/components/_table-view.scss */
.cl-table-row.split-3-7 .cl-table-cell:first-child {
  width: -moz-calc(30% - 1px);
  width: -o-calc(30% - 1px);
  width: -webkit-calc(30% - 1px);
  width: calc(30% - 1px);
}
/* line 103, ../scss/components/_table-view.scss */
.cl-table-row.split-3-7 .cl-table-cell:last-child {
  width: -moz-calc(70%);
  width: -o-calc(70%);
  width: -webkit-calc(70%);
  width: calc(70%);
}
/* line 110, ../scss/components/_table-view.scss */
.cl-table-row.split-1-3 .cl-table-cell:first-child {
  width: -moz-calc(25% - 1px);
  width: -o-calc(25% - 1px);
  width: -webkit-calc(25% - 1px);
  width: calc(25% - 1px);
}
/* line 113, ../scss/components/_table-view.scss */
.cl-table-row.split-1-3 .cl-table-cell:last-child {
  width: -moz-calc(75%);
  width: -o-calc(75%);
  width: -webkit-calc(75%);
  width: calc(75%);
}

/* line 124, ../scss/components/_table-view.scss */
.cl-table-cell a {
  display: block;
  padding: 10px;
  min-height: 44px;
  font-weight: 700;
  color: #000;
}
/* line 132, ../scss/components/_table-view.scss */
.cl-table-cell > p, .cl-article .cl-table-cell > h4 {
  display: block;
  padding: 10px;
  margin: 0;
}
/* line 139, ../scss/components/_table-view.scss */
.cl-table-cell .label {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
/* line 148, ../scss/components/_table-view.scss */
.cl-table-cell .disclosure-help {
  font-weight: 400;
  position: absolute;
  top: 35%;
  right: 30px;
  color: #AAA;
}
/* line 157, ../scss/components/_table-view.scss */
.cl-table-cell .meta {
  font-weight: 400;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=66);
  opacity: 0.66;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
/* line 166, ../scss/components/_table-view.scss */
.cl-table-cell .icon-arrow-right {
  font-size: 19px;
  position: absolute;
  top: 26%;
  right: 10px;
  font-weight: 700;
  color: #AAA;
}

/* line 179, ../scss/components/_table-view.scss */
.cl-table .cl-table-row:first-child .cl-table-cell:first-child, .cl-table__extended .cl-table-row:first-child .cl-table-cell:first-child {
  -moz-border-radius-topleft: 2.5px;
  -webkit-border-top-left-radius: 2.5px;
  border-top-left-radius: 2.5px;
}
/* line 182, ../scss/components/_table-view.scss */
.cl-table .cl-table-row:first-child .cl-table-cell:last-child, .cl-table__extended .cl-table-row:first-child .cl-table-cell:last-child {
  -moz-border-radius-topright: 2.5px;
  -webkit-border-top-right-radius: 2.5px;
  border-top-right-radius: 2.5px;
}
/* line 187, ../scss/components/_table-view.scss */
.cl-table .cl-table-row:only-child .cl-table-cell:first-child, .cl-table__extended .cl-table-row:only-child .cl-table-cell:first-child {
  -moz-border-radius-topleft: 2.5px;
  -webkit-border-top-left-radius: 2.5px;
  border-top-left-radius: 2.5px;
  -moz-border-radius-bottomleft: 2.5px;
  -webkit-border-bottom-left-radius: 2.5px;
  border-bottom-left-radius: 2.5px;
}
/* line 190, ../scss/components/_table-view.scss */
.cl-table .cl-table-row:only-child .cl-table-cell:last-child, .cl-table__extended .cl-table-row:only-child .cl-table-cell:last-child {
  -moz-border-radius-topright: 2.5px;
  -webkit-border-top-right-radius: 2.5px;
  border-top-right-radius: 2.5px;
  -moz-border-radius-bottomright: 2.5px;
  -webkit-border-bottom-right-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
}
/* line 195, ../scss/components/_table-view.scss */
.cl-table .cl-table-row:last-child .cl-table-cell:first-child, .cl-table__extended .cl-table-row:last-child .cl-table-cell:first-child {
  -moz-border-radius-bottomleft: 2.5px;
  -webkit-border-bottom-left-radius: 2.5px;
  border-bottom-left-radius: 2.5px;
}
/* line 198, ../scss/components/_table-view.scss */
.cl-table .cl-table-row:last-child .cl-table-cell:last-child, .cl-table__extended .cl-table-row:last-child .cl-table-cell:last-child {
  -moz-border-radius-bottomright: 2.5px;
  -webkit-border-bottom-right-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
}

/* line 208, ../scss/components/_table-view.scss */
.view-all {
  *zoom: 1;
  background: white;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(0, 0, 0, 0.1);
  background-color: #d5d5d5;
  background-image: -moz-linear-gradient(top, #dadada, #cecece);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dadada), to(#cecece));
  background-image: -webkit-linear-gradient(top, #dadada, #cecece);
  background-image: -o-linear-gradient(top, #dadada, #cecece);
  background-image: linear-gradient(to bottom, #dadada, #cecece);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFDADADA', endColorstr='#FFCECECE', GradientType=0);
  text-transform: uppercase;
  font-size: 12px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
}
/* line 38, ../../../.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.view-all:after {
  content: "";
  display: table;
  clear: both;
}
/* line 185, ../scss/_mixins.scss */
.view-all:first-child {
  -moz-border-radius-topleft: 2.5px;
  -webkit-border-top-left-radius: 2.5px;
  border-top-left-radius: 2.5px;
  -moz-border-radius-topright: 2.5px;
  -webkit-border-top-right-radius: 2.5px;
  border-top-right-radius: 2.5px;
}
/* line 188, ../scss/_mixins.scss */
.view-all:last-child {
  -moz-border-radius-bottomleft: 2.5px;
  -webkit-border-bottom-left-radius: 2.5px;
  border-bottom-left-radius: 2.5px;
  -moz-border-radius-bottomright: 2.5px;
  -webkit-border-bottom-right-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
}
/* line 216, ../scss/components/_table-view.scss */
.view-all > a {
  display: block;
  padding: 10px;
}
/* line 220, ../scss/components/_table-view.scss */
.view-all > label {
  display: block;
  padding: 10px;
}

/* line 231, ../scss/components/_table-view.scss */
.cl-table__extended .icon-arrow-right {
  right: 10px;
}
/* line 234, ../scss/components/_table-view.scss */
.cl-table__extended a {
  display: block;
}
/* line 237, ../scss/components/_table-view.scss */
.cl-table__extended .cl-table-cell {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  margin: 0 0 1px;
  margin: 0;
}
/* line 239, ../scss/components/_table-view.scss */
.cl-table__extended .cl-table-cell .cl-table-cell {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 1, ../scss/components/_help-txt.scss */
.cl-help-text {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
  max-width: 95%;
  font-size: 13px;
  margin: 0 auto;
  padding: 0 0 12px;
}
/* line 8, ../scss/components/_help-txt.scss */
.cl-help-text a {
  color: #666;
  text-decoration: underline;
}
/* line 11, ../scss/components/_help-txt.scss */
.cl-help-text a:hover {
  color: #333;
}

/* 
 * Font Custom: bare CSS
 */
@font-face {
  font-family: "ios";
  src: url("../scss/icon-fonts/ios/ios.eot");
  src: url("../scss/icon-fonts/ios/ios.eot?#iefix") format("embedded-opentype"), url("../scss/icon-fonts/ios/ios.woff") format("woff"), url("../scss/icon-fonts/ios/ios.ttf") format("truetype"), url("../scss/icon-fonts/ios/ios.svg#ios") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 21, ../scss/icon-fonts/ios/_fontcustom.scss */
.icon-ios-alarm:before,
.icon-ios-arrow-right:before,
.icon-ios-battery:before,
.icon-ios-locate:before,
.icon-ios-lock:before,
.icon-ios-square:before {
  font-family: "ios";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

/* line 33, ../scss/icon-fonts/ios/_fontcustom.scss */
.icon-ios-alarm:before {
  content: "\f100";
}

/* line 34, ../scss/icon-fonts/ios/_fontcustom.scss */
.icon-ios-arrow-right:before {
  content: "\f101";
}

/* line 35, ../scss/icon-fonts/ios/_fontcustom.scss */
.icon-ios-battery:before {
  content: "\f102";
}

/* line 36, ../scss/icon-fonts/ios/_fontcustom.scss */
.icon-ios-locate:before {
  content: "\f103";
}

/* line 37, ../scss/icon-fonts/ios/_fontcustom.scss */
.icon-ios-lock:before {
  content: "\f104";
}

/* line 38, ../scss/icon-fonts/ios/_fontcustom.scss */
.icon-ios-square:before {
  content: "\f105";
}

/* 
 * Font Custom: bare CSS
 */
@font-face {
  font-family: "android";
  src: url("../scss/icon-fonts/android/android.eot");
  src: url("../scss/icon-fonts/android/android.eot?#iefix") format("embedded-opentype"), url("../scss/icon-fonts/android/android.woff") format("woff"), url("../scss/icon-fonts/android/android.ttf") format("truetype"), url("../scss/icon-fonts/android/android.svg#android") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 19, ../scss/icon-fonts/android/_fontcustom.scss */
.icon-android-battery-colored:before,
.icon-android-battery:before,
.icon-android-network:before,
.icon-android-wifi:before {
  font-family: "android";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

/* line 31, ../scss/icon-fonts/android/_fontcustom.scss */
.icon-android-battery-colored:before {
  content: "\f100";
}

/* line 32, ../scss/icon-fonts/android/_fontcustom.scss */
.icon-android-battery:before {
  content: "\f101";
}

/* line 33, ../scss/icon-fonts/android/_fontcustom.scss */
.icon-android-network:before {
  content: "\f102";
}

/* line 34, ../scss/icon-fonts/android/_fontcustom.scss */
.icon-android-wifi:before {
  content: "\f103";
}

/* 
 * Font Custom: bare CSS
 */
@font-face {
  font-family: "my-app-ios";
  src: url("../scss/icon-fonts/my-app-ios/my-app-ios.eot");
  src: url("../scss/icon-fonts/my-app-ios/my-app-ios.eot?#iefix") format("embedded-opentype"), url("../scss/icon-fonts/my-app-ios/my-app-ios.woff") format("woff"), url("../scss/icon-fonts/my-app-ios/my-app-ios.ttf") format("truetype"), url("../scss/icon-fonts/my-app-ios/my-app-ios.svg#my-app-ios") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 19, ../scss/icon-fonts/my_app_ios/_fontcustom.scss */
.icon-my-app-ios-arrow-down:before,
.icon-my-app-ios-arrow-left:before,
.icon-my-app-ios-arrow-right:before,
.icon-my-app-ios-arrow-up:before {
  font-family: "my-app-ios";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

/* line 31, ../scss/icon-fonts/my_app_ios/_fontcustom.scss */
.icon-my-app-ios-arrow-down:before {
  content: "\f100";
}

/* line 32, ../scss/icon-fonts/my_app_ios/_fontcustom.scss */
.icon-my-app-ios-arrow-left:before {
  content: "\f101";
}

/* line 33, ../scss/icon-fonts/my_app_ios/_fontcustom.scss */
.icon-my-app-ios-arrow-right:before {
  content: "\f102";
}

/* line 34, ../scss/icon-fonts/my_app_ios/_fontcustom.scss */
.icon-my-app-ios-arrow-up:before {
  content: "\f103";
}

/* line 26, ../scss/application.scss */
.cl-page {
  font-size: 13px;
  text-align: left;
  word-wrap: break-word;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}
/* line 32, ../scss/application.scss */
.cl-page .cl-content {
  background: #FFF;
}

/* line 39, ../scss/application.scss */
.cl-page-welcome .cl-content,
.cl-page-table-view .cl-content {
  background: #EEE;
}
