/* line 1, ../scss/_base.scss */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 7, ../scss/_base.scss */
html {
  background: #ffffff;
  /* Old browsers */
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  /* W3C */
}

/* line 12, ../scss/_base.scss */
body {
  text-align: center;
  font-family: "Roboto", Arial;
  font-size: 13px;
}

/* line 18, ../scss/_base.scss */
a {
  text-decoration: none;
}

/* line 22, ../scss/_base.scss */
input, select, textarea, option {
  font-family: "Roboto", Arial;
}

/*
  Alternate clearfix that does not rely on overflow: hidden;
*/
/* line 4, ../scss/_device_wraps.scss */
.phone-wrap[data-os="ios"] .device-body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* line 7, ../scss/_device_wraps.scss */
.phone-wrap[data-os="android"] .device-body {
  font-family: 'Roboto', 'Droid Sans', sans-serif;
}

/* line 12, ../scss/_device_wraps.scss */
.device-body {
  margin: 0 auto;
  position: relative;
  overflow: scroll;
  -webkit-font-smoothing: antialiased;
}

/* line 20, ../scss/_device_wraps.scss */
.frame {
  height: 100%;
  width: 100%;
  /* Center with flexbox */
  display: box;
  display: flexbox;
  box-align: center;
  flex-align: center;
  box-pack: center;
  flex-pack: center;
}

/* line 30, ../scss/_device_wraps.scss */
.phone-wrap {
  position: relative;
}

/* line 34, ../scss/_device_wraps.scss */
.phone-wrap {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  overflow-y: hidden;
  position: relative;
}
/* line 39, ../scss/_device_wraps.scss */
.phone-wrap[data-device="iphone4-portrait"] {
  width: 396px;
  height: 734px;
  background: url(../images/portrait/iphone4.png) no-repeat 0 0;
  padding: 127px 0 0 2px;
}
/* line 44, ../scss/_device_wraps.scss */
.phone-wrap[data-device="iphone4-portrait"] .device-body {
  width: 320px;
  height: 480px;
}
/* line 49, ../scss/_device_wraps.scss */
.phone-wrap[data-device="iphone4-landscape"] {
  padding: 37px 0 0;
  width: 734px;
  height: 396px;
  background: url(../images/landscape/iphone4.png) no-repeat 0 0;
}
/* line 54, ../scss/_device_wraps.scss */
.phone-wrap[data-device="iphone4-landscape"] .device-body {
  width: 480px;
  height: 320px;
}
/* line 59, ../scss/_device_wraps.scss */
.phone-wrap[data-device="iphone5-portrait"] {
  width: 396px;
  height: 822px;
  background: url(../images/portrait/iphone5.png) no-repeat 0 0;
  padding: 127px 0 0 0;
}
/* line 64, ../scss/_device_wraps.scss */
.phone-wrap[data-device="iphone5-portrait"] .device-body {
  width: 320px;
  height: 568px;
}
/* line 69, ../scss/_device_wraps.scss */
.phone-wrap[data-device="iphone5-landscape"] {
  padding: 38px 0 0;
  width: 822px;
  height: 396px;
  background: url(../images/landscape/iphone5.png) no-repeat 0 0;
}
/* line 74, ../scss/_device_wraps.scss */
.phone-wrap[data-device="iphone5-landscape"] .device-body {
  width: 568px;
  height: 320px;
}
/* line 79, ../scss/_device_wraps.scss */
.phone-wrap[data-device="nexus4-portrait"] {
  width: 434px;
  height: 849px;
  background: url(../images/portrait/nexus4.png) no-repeat 0 0;
  padding: 107px 0 0;
}
/* line 84, ../scss/_device_wraps.scss */
.phone-wrap[data-device="nexus4-portrait"] .device-body {
  width: 366px;
  height: 650px;
}
/* line 87, ../scss/_device_wraps.scss */
.phone-wrap[data-device="nexus4-portrait"] .device-body .page {
  position: relative;
  height: 586px;
}
/* line 93, ../scss/_device_wraps.scss */
.phone-wrap[data-device="nexus4-landscape"] {
  padding: 34px 40px 0 0;
  width: 849px;
  height: 434px;
  background: url(../images/landscape/nexus4.png) no-repeat 0 0;
}
/* line 98, ../scss/_device_wraps.scss */
.phone-wrap[data-device="nexus4-landscape"] .android-status {
  width: 602px;
}
/* line 101, ../scss/_device_wraps.scss */
.phone-wrap[data-device="nexus4-landscape"] .page {
  width: 610px;
  height: 342px;
  position: relative;
}
/* line 106, ../scss/_device_wraps.scss */
.phone-wrap[data-device="nexus4-landscape"] .device-body {
  width: 650px;
  height: 366px;
  position: relative;
  right: -27px;
}
/* line 113, ../scss/_device_wraps.scss */
.phone-wrap[data-device="ipad3-portrait"] {
  width: 970px;
  height: 1260px;
  background: url(../images/portrait/ipad3.png) no-repeat 0 0;
  padding: 118px 0 0;
}
/* line 119, ../scss/_device_wraps.scss */
.phone-wrap[data-device="ipad3-portrait"] .device-body {
  width: 768px;
  height: 1024px;
}
/* line 124, ../scss/_device_wraps.scss */
.phone-wrap[data-device="ipad3-landscape"] {
  padding: 101px 0 0;
  width: 1260px;
  height: 970px;
  background: url(../images/landscape/ipad3.png) no-repeat 0 0;
}
/* line 129, ../scss/_device_wraps.scss */
.phone-wrap[data-device="ipad3-landscape"] .device-body {
  width: 1024px;
  height: 768px;
}
/* line 134, ../scss/_device_wraps.scss */
.phone-wrap[data-device="nexus7-portrait"] {
  width: 970px;
  height: 1260px;
  background: url(../images/portrait/nexus7.png) no-repeat center center;
  padding: 134px 0 0;
  background-size: contain;
}
/* line 140, ../scss/_device_wraps.scss */
.phone-wrap[data-device="nexus7-portrait"] .device-body {
  width: 610px;
  height: 977px;
}
/* line 143, ../scss/_device_wraps.scss */
.phone-wrap[data-device="nexus7-portrait"] .device-body .page {
  height: 913px;
}
/* line 148, ../scss/_device_wraps.scss */
.phone-wrap[data-device="nexus7-landscape"] {
  width: 1260px;
  height: 970px;
  background: url(../images/landscape/nexus7.png) no-repeat center center;
  background-size: contain;
  padding: 176px 0 0;
}
/* line 154, ../scss/_device_wraps.scss */
.phone-wrap[data-device="nexus7-landscape"] .device-body {
  width: 977px;
  height: 614px;
  position: relative;
  right: 6px;
}
/* line 159, ../scss/_device_wraps.scss */
.phone-wrap[data-device="nexus7-landscape"] .device-body .page {
  position: relative;
  height: 589px;
  width: 937px;
}

/* line 1, ../scss/_controls.scss */
.controls {
  z-index: 2;
  line-height: 44px;
  height: 44px;
  background: #FFF;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  left: 0;
  width: 100%;
  /* flexbox setup */
  display: flex;
  flex-direction: row;
}
/* line 5, ../scss/_controls.scss */
.controls label {
  line-height: 44px;
}
/* line 8, ../scss/_controls.scss */
.controls select {
  margin-top: 12px;
}
/* line 17, ../scss/_controls.scss */
.controls.top {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  top: 0;
}
/* line 21, ../scss/_controls.scss */
.controls.bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  bottom: 0;
}
/* line 24, ../scss/_controls.scss */
.controls.bottom p {
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
}

/* line 36, ../scss/_controls.scss */
.controls.top > div {
  flex: auto;
  justify-content: center;
  line-height: 24px;
  display: flex;
}

/* line 43, ../scss/_controls.scss */
.controls label {
  margin-right: 3px;
}
/* line 45, ../scss/_controls.scss */
.controls label:after {
  content: ":";
}

/**
  Shared
**/
/* line 6, ../scss/_os_chrome.scss */
.ios-status,
.android-status {
  background: #000;
  color: #FFF;
  text-align: center;
  line-height: 20px;
  padding: 0 4px;
  width: -moz-calc(100% - 8px);
  width: -o-calc(100% - 8px);
  width: -webkit-calc(100% - 8px);
  width: calc(100% - 8px);
  display: flex;
  flex-direction: row;
}
/* line 20, ../scss/_os_chrome.scss */
.ios-status > span,
.android-status > span {
  flex: auto;
  justify-content: space-around;
}
/* line 25, ../scss/_os_chrome.scss */
.ios-status span:first-child,
.android-status span:first-child {
  text-align: left;
}
/* line 29, ../scss/_os_chrome.scss */
.ios-status span:last-child,
.android-status span:last-child {
  text-align: right;
}

/**
  iOS only
**/
/* line 39, ../scss/_os_chrome.scss */
.ios-status {
  font-weight: 700;
  font-family: Helvetica;
  height: 20px;
}
/* line 44, ../scss/_os_chrome.scss */
.ios-status .clock {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

/* line 54, ../scss/_os_chrome.scss */
.signals {
  font-size: 0;
  margin-right: 3px;
}
/* line 57, ../scss/_os_chrome.scss */
.signals span {
  width: 3px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 1px;
  position: relative;
  bottom: 10px;
  background: #FFF;
}
/* line 66, ../scss/_os_chrome.scss */
.signals .signal1 {
  height: 4px;
}
/* line 69, ../scss/_os_chrome.scss */
.signals .signal2 {
  height: 5px;
}
/* line 72, ../scss/_os_chrome.scss */
.signals .signal3 {
  height: 6.5px;
}
/* line 75, ../scss/_os_chrome.scss */
.signals .signal4 {
  height: 8px;
}
/* line 78, ../scss/_os_chrome.scss */
.signals .signal5 {
  height: 10px;
}

/* line 85, ../scss/_os_chrome.scss */
.icon-ios-battery {
  font-size: 22px;
  line-height: 0;
  position: relative;
  top: -1px;
  margin-left: 4px;
  float: right;
}

/**
  Android only
**/
/* line 99, ../scss/_os_chrome.scss */
.android-status {
  font-family: Roboto;
  background: #000;
  color: #FFF;
  height: 24px;
  line-height: 24px;
}

/* line 108, ../scss/_os_chrome.scss */
.android-software-buttons {
  background: #000;
  color: #FFF;
  position: absolute;
  height: 40px;
  line-height: 40px;
}
/* line 112, ../scss/_os_chrome.scss */
[data-device$=landscape] .android-software-buttons {
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
}
/* line 118, ../scss/_os_chrome.scss */
[data-device$=portrait] .android-software-buttons {
  bottom: 0;
  left: 0;
  width: 100%;
}

/* line 4, ../scss/components/_headers-footers.scss */
.bar-title > div,
.bar > div {
  *zoom: 1;
  overflow: hidden;
  width: 100%;
  position: relative;
}
/* line 38, ../../../.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.bar-title > div:after,
.bar > div:after {
  content: "";
  display: table;
  clear: both;
}
/* line 8, ../scss/components/_headers-footers.scss */
[data-os="ios"] .bar-title > div, [data-os="ios"]
.bar > div {
  min-height: 44px;
  height: 44px;
}
/* line 12, ../scss/components/_headers-footers.scss */
[data-os="android"] .bar-title > div, [data-os="android"]
.bar > div {
  min-height: 44px;
  height: 44px;
}

/* line 20, ../scss/components/_headers-footers.scss */
.bar-footer {
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
}
/* line 25, ../scss/components/_headers-footers.scss */
.bar-footer > div {
  min-height: 44px;
  height: 44px;
  position: absolute;
  left: 0;
  right: 0;
}

/* line 36, ../scss/components/_headers-footers.scss */
.bar-title .title {
  text-align: center;
  max-width: 240px;
  max-width: 180px;
  margin: 0 auto;
  -webkit-hyphens: auto;
}
/* line 38, ../scss/components/_headers-footers.scss */
[data-os="ios"] .bar-title .title {
  line-height: 44px;
}
/* line 41, ../scss/components/_headers-footers.scss */
[data-os="android"] .bar-title .title {
  line-height: 44px;
}
/* line 48, ../scss/components/_headers-footers.scss */
.bar-title .title.stretch-full {
  max-width: none;
}

/* line 58, ../scss/components/_headers-footers.scss */
.bar-title > div,
.bar-footer > div,
.bar > div {
  position: relative;
  background: #155663;
  background-color: #1a6c7c;
  background-image: -moz-linear-gradient(top, #1e7b8d, #155663);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1e7b8d), to(#155663));
  background-image: -webkit-linear-gradient(top, #1e7b8d, #155663);
  background-image: -o-linear-gradient(top, #1e7b8d, #155663);
  background-image: linear-gradient(to bottom, #1e7b8d, #155663);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1E7B8D', endColorstr='#FF155663', GradientType=0);
}
/* line 61, ../scss/components/_headers-footers.scss */
.bar-title > div > p,
.bar-footer > div > p,
.bar > div > p {
  line-height: 44px;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.33);
}
/* line 71, ../scss/components/_headers-footers.scss */
.bar-title > div > p.align-left,
.bar-footer > div > p.align-left,
.bar > div > p.align-left {
  margin-left: 7px;
}
/* line 76, ../scss/components/_headers-footers.scss */
.bar-title > div .title,
.bar-footer > div .title,
.bar > div .title {
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
  text-align: center;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.33);
}
/* line 100, ../scss/components/_headers-footers.scss */
.bar-title > div:before,
.bar-footer > div:before,
.bar > div:before {
  content: " ";
  height: 1px;
  width: 100%;
  background: #1e7b8d;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 110, ../scss/components/_headers-footers.scss */
.bar-title > div:after,
.bar-footer > div:after,
.bar > div:after {
  content: " ";
  height: 1px;
  width: 100%;
  background: black;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* line 1, ../scss/components/_buttons.scss */
.btn {
  display: block;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  text-shadow: 0 1px rgba(0, 0, 0, 0.33);
}
/* line 6, ../scss/components/_buttons.scss */
.btn var {
  font-style: normal;
}
/* line 10, ../scss/components/_buttons.scss */
.btn > span, .btn > span > span {
  display: block;
}
/* line 238, ../scss/_mixins.scss */
.btn > span:before, .btn > span:after, .btn > span > span:before, .btn > span > span:after {
  content: "";
  display: table;
}
/* line 242, ../scss/_mixins.scss */
.btn > span:after, .btn > span > span:after {
  clear: both;
}
/* line 14, ../scss/components/_buttons.scss */
.btn .label {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0 3px;
}
/* line 24, ../scss/components/_buttons.scss */
.btn .iconfont {
  font-size: 18px;
  line-height: 30px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0 3px;
}
/* line 30, ../scss/components/_buttons.scss */
.btn .iconfont span.hidden {
  display: none;
}
/* line 34, ../scss/components/_buttons.scss */
.btn .iconfont + .label {
  margin-left: 0;
}
/* line 37, ../scss/components/_buttons.scss */
.content .btn .iconfont {
  position: absolute;
  left: 17px;
  top: 3px;
}
/* line 42, ../scss/components/_buttons.scss */
.btn > span {
  font-weight: 700;
  min-width: 54px;
  text-align: center;
  font-size: 13px;
  padding: 1px;
}
/* line 47, ../scss/components/_buttons.scss */
.btn > span > span {
  padding: 0 5px;
}
/* line 53, ../scss/components/_buttons.scss */
.btn > span > span {
  line-height: 30px;
}
/* line 67, ../scss/components/_buttons.scss */
.bar-title .btn, .bar-footer .btn, .bar .btn {
  padding: 0 7px;
}
/* line 69, ../scss/components/_buttons.scss */
.bar-title .btn > span, .bar-footer .btn > span, .bar .btn > span {
  margin: 5px 0;
  font-size: 13px;
}
/* line 75, ../scss/components/_buttons.scss */
.content .controls .btn > span {
  margin: 5px 10px;
  font-size: 15px;
}
/* line 80, ../scss/components/_buttons.scss */
.content .controls .btn > span > span {
  line-height: 36px;
}
/* line 90, ../scss/components/_buttons.scss */
.btn.btn-icon > span {
  min-width: 34px;
}
/* line 93, ../scss/components/_buttons.scss */
.btn.btn-icon-only {
  width: 44px;
}
/* line 95, ../scss/components/_buttons.scss */
.btn.btn-icon-only > span {
  text-align: center;
}

/* line 103, ../scss/components/_buttons.scss */
.btn > span {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 106, ../scss/components/_buttons.scss */
.btn > span > span {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 112, ../scss/components/_buttons.scss */
.btn > span {
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
/* line 115, ../scss/components/_buttons.scss */
.btn > span > span {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
}
/* line 82, ../scss/_mixins.scss */
.btn > span {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: white;
  background-color: #124a55;
  background-image: -moz-linear-gradient(top, #134f5b, #11444e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#134f5b), to(#11444e));
  background-image: -webkit-linear-gradient(top, #134f5b, #11444e);
  background-image: -o-linear-gradient(top, #134f5b, #11444e);
  background-image: linear-gradient(to bottom, #134f5b, #11444e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF134F5B', endColorstr='#FF11444E', GradientType=0);
}
/* line 94, ../scss/_mixins.scss */
.btn > span > span {
  background-color: #1b92a9;
  background-image: -moz-linear-gradient(top, #1fbad9, #155663);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1fbad9), to(#155663));
  background-image: -webkit-linear-gradient(top, #1fbad9, #155663);
  background-image: -o-linear-gradient(top, #1fbad9, #155663);
  background-image: linear-gradient(to bottom, #1fbad9, #155663);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1FBAD9', endColorstr='#FF155663', GradientType=0);
}
/* line 105, ../scss/_mixins.scss */
.btn:hover > span, .btn:active > span, .btn:focus > span, .btn.active > span {
  background-color: #0c333b;
  background-image: -moz-linear-gradient(top, #0f3c46, #09262c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0f3c46), to(#09262c));
  background-image: -webkit-linear-gradient(top, #0f3c46, #09262c);
  background-image: -o-linear-gradient(top, #0f3c46, #09262c);
  background-image: linear-gradient(to bottom, #0f3c46, #09262c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0F3C46', endColorstr='#FF09262C', GradientType=0);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 112, ../scss/_mixins.scss */
.btn:hover > span > span, .btn:active > span > span, .btn:focus > span > span, .btn.active > span > span {
  background-color: #114650;
  background-image: -moz-linear-gradient(top, #134f5b, #0e3941);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#134f5b), to(#0e3941));
  background-image: -webkit-linear-gradient(top, #134f5b, #0e3941);
  background-image: -o-linear-gradient(top, #134f5b, #0e3941);
  background-image: linear-gradient(to bottom, #134f5b, #0e3941);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF134F5B', endColorstr='#FF0E3941', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
}
/* line 126, ../scss/_mixins.scss */
.btn.btn-primary > span {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: white;
  background-color: #05a5c5;
  background-image: -moz-linear-gradient(top, #06c2e7, #047b93);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#06c2e7), to(#047b93));
  background-image: -webkit-linear-gradient(top, #06c2e7, #047b93);
  background-image: -o-linear-gradient(top, #06c2e7, #047b93);
  background-image: linear-gradient(to bottom, #06c2e7, #047b93);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF06C2E7', endColorstr='#FF047B93', GradientType=0);
}
/* line 134, ../scss/_mixins.scss */
.btn.btn-primary > span > span {
  background-color: #16bfe2;
  background-image: -moz-linear-gradient(top, #22d5f9, #05a0c0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#22d5f9), to(#05a0c0));
  background-image: -webkit-linear-gradient(top, #22d5f9, #05a0c0);
  background-image: -o-linear-gradient(top, #22d5f9, #05a0c0);
  background-image: linear-gradient(to bottom, #22d5f9, #05a0c0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF22D5F9', endColorstr='#FF05A0C0', GradientType=0);
}
/* line 130, ../scss/components/_buttons.scss */
header .btn.btn-primary > span {
  background-color: #134e5a;
  background-image: -moz-linear-gradient(top, #155663, #11444e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#155663), to(#11444e));
  background-image: -webkit-linear-gradient(top, #155663, #11444e);
  background-image: -o-linear-gradient(top, #155663, #11444e);
  background-image: linear-gradient(to bottom, #155663, #11444e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF155663', endColorstr='#FF11444E', GradientType=0);
}
/* line 137, ../scss/components/_buttons.scss */
header .btn.btn-primary > span > span {
  background-color: #16bfe2;
  background-image: -moz-linear-gradient(top, #22d5f9, #05a0c0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#22d5f9), to(#05a0c0));
  background-image: -webkit-linear-gradient(top, #22d5f9, #05a0c0);
  background-image: -o-linear-gradient(top, #22d5f9, #05a0c0);
  background-image: linear-gradient(to bottom, #22d5f9, #05a0c0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF22D5F9', endColorstr='#FF05A0C0', GradientType=0);
}
/* line 148, ../scss/components/_buttons.scss */
header .btn.btn-primary:hover > span, header .btn.btn-primary:active > span, header .btn.btn-primary:focus > span, header .btn.btn-primary.active > span {
  background-color: #0c333b;
  background-image: -moz-linear-gradient(top, #0f3c46, #09262c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0f3c46), to(#09262c));
  background-image: -webkit-linear-gradient(top, #0f3c46, #09262c);
  background-image: -o-linear-gradient(top, #0f3c46, #09262c);
  background-image: linear-gradient(to bottom, #0f3c46, #09262c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0F3C46', endColorstr='#FF09262C', GradientType=0);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 155, ../scss/components/_buttons.scss */
header .btn.btn-primary:hover > span > span, header .btn.btn-primary:active > span > span, header .btn.btn-primary:focus > span > span, header .btn.btn-primary.active > span > span {
  background-color: #114650;
  background-image: -moz-linear-gradient(top, #134f5b, #0e3941);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#134f5b), to(#0e3941));
  background-image: -webkit-linear-gradient(top, #134f5b, #0e3941);
  background-image: -o-linear-gradient(top, #134f5b, #0e3941);
  background-image: linear-gradient(to bottom, #134f5b, #0e3941);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF134F5B', endColorstr='#FF0E3941', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
}

/* line 7, ../scss/components/_button-positioning.scss */
.bar-title .btn,
.bar-footer .btn,
.bar .btn {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 13, ../scss/components/_button-positioning.scss */
.bar-title .title + .btn,
.bar-title .btn:last-child,
.bar-footer .title + .btn,
.bar-footer .btn:last-child,
.bar .title + .btn,
.bar .btn:last-child {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
}
/* line 19, ../scss/components/_button-positioning.scss */
.bar-title .btn.align-center,
.bar-footer .btn.align-center,
.bar .btn.align-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 232px;
}
/* line 27, ../scss/components/_button-positioning.scss */
.bar-title .align-right,
.bar-footer .align-right,
.bar .align-right {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
}

/* 
 * Font Custom: bare CSS
 */
@font-face {
  font-family: "ios";
  src: url("../scss/icon-fonts/ios/ios.eot");
  src: url("../scss/icon-fonts/ios/ios.eot?#iefix") format("embedded-opentype"), url("../scss/icon-fonts/ios/ios.woff") format("woff"), url("../scss/icon-fonts/ios/ios.ttf") format("truetype"), url("../scss/icon-fonts/ios/ios.svg#ios") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 19, ../scss/icon-fonts/ios/_fontcustom.scss */
.icon-ios-alarm:before,
.icon-ios-battery:before,
.icon-ios-locate:before,
.icon-ios-lock:before {
  font-family: "ios";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

/* line 31, ../scss/icon-fonts/ios/_fontcustom.scss */
.icon-ios-alarm:before {
  content: "\f100";
}

/* line 32, ../scss/icon-fonts/ios/_fontcustom.scss */
.icon-ios-battery:before {
  content: "\f101";
}

/* line 33, ../scss/icon-fonts/ios/_fontcustom.scss */
.icon-ios-locate:before {
  content: "\f102";
}

/* line 34, ../scss/icon-fonts/ios/_fontcustom.scss */
.icon-ios-lock:before {
  content: "\f103";
}

/* 
 * Font Custom: bare CSS
 */
@font-face {
  font-family: "android";
  src: url("../scss/icon-fonts/android/android.eot");
  src: url("../scss/icon-fonts/android/android.eot?#iefix") format("embedded-opentype"), url("../scss/icon-fonts/android/android.woff") format("woff"), url("../scss/icon-fonts/android/android.ttf") format("truetype"), url("../scss/icon-fonts/android/android.svg#android") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 19, ../scss/icon-fonts/android/_fontcustom.scss */
.icon-android-battery-colored:before,
.icon-android-battery:before,
.icon-android-network:before,
.icon-android-wifi:before {
  font-family: "android";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

/* line 31, ../scss/icon-fonts/android/_fontcustom.scss */
.icon-android-battery-colored:before {
  content: "\f100";
}

/* line 32, ../scss/icon-fonts/android/_fontcustom.scss */
.icon-android-battery:before {
  content: "\f101";
}

/* line 33, ../scss/icon-fonts/android/_fontcustom.scss */
.icon-android-network:before {
  content: "\f102";
}

/* line 34, ../scss/icon-fonts/android/_fontcustom.scss */
.icon-android-wifi:before {
  content: "\f103";
}

/* line 17, ../scss/application.scss */
.article {
  background: #FFF;
  text-align: left;
  padding: 10px;
  line-height: 1.5;
  font-size: 15px;
}
