/* ==========================================================================
   Clank CSS framework
   ========================================================================== */
/**
 * Device wraps
 * Set this to true if you are using device frames i.e. like the demo at getclank.com
 */
/**
 * Operating system defaults
 * Used to determine the sizing of elements
 */
/**
 * Colors
 * Quickly change the colors of your app using these variables
 * Note that a "light text on dark background" scheme is not fully supported yet
 */
/**
 * Stylistic choices
 * Quickly change the style of your app using these variables
 */
/* ==========================================================================
  Base
   ========================================================================== */
body, html {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

[data-os="ios"] .cl-device-body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

[data-os="android"] .cl-device-body {
  font-family: 'Roboto', 'Droid Sans', sans-serif;
}

.cl-device-body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.cl-device-body {
  padding: 0;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}
.cl-device-body > .cl-bar-title, .cl-device-body > .cl-content, .cl-device-body > .cl-bar-footer {
  margin: 0 auto;
}

/* ==========================================================================
   Device wraps
   ========================================================================== */
/* ==========================================================================
   OS Chrome
   ========================================================================== */
/* ==========================================================================
   iOS system font
   ========================================================================== */
@font-face {
  font-family: "ios";
  src: url("../scss/clank/icon-fonts/ios/ios.eot");
  src: url("../scss/clank/icon-fonts/ios/ios.eot?#iefix") format("embedded-opentype"), url("../scss/clank/icon-fonts/ios/ios.woff") format("woff"), url("../scss/clank/icon-fonts/ios/ios.ttf") format("truetype"), url("../scss/clank/icon-fonts/ios/ios.svg#ios") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon-ios-alarm:before,
.icon-ios-arrow-right:before,
.icon-ios-battery:before,
.icon-ios-locate:before,
.icon-ios-lock:before,
.icon-ios-square:before {
  font-family: "ios";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.icon-ios-alarm:before {
  content: "\f100";
}

.icon-ios-arrow-right:before {
  content: "\f101";
}

.icon-ios-battery:before {
  content: "\f102";
}

.icon-ios-locate:before {
  content: "\f103";
}

.icon-ios-lock:before {
  content: "\f104";
}

.icon-ios-square:before {
  content: "\f105";
}

/* ==========================================================================
   Android system font
   ========================================================================== */
@font-face {
  font-family: "android";
  src: url("../scss/clank/icon-fonts/android/android.eot");
  src: url("../scss/clank/icon-fonts/android/android.eot?#iefix") format("embedded-opentype"), url("../scss/clank/icon-fonts/android/android.woff") format("woff"), url("../scss/clank/icon-fonts/android/android.ttf") format("truetype"), url("../scss/clank/icon-fonts/android/android.svg#android") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon-android-battery-colored:before,
.icon-android-battery:before,
.icon-android-network:before,
.icon-android-system-apps:before,
.icon-android-system-back:before,
.icon-android-system-home:before,
.icon-android-wifi:before {
  font-family: "android";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.icon-android-battery-colored:before {
  content: "\f100";
}

.icon-android-battery:before {
  content: "\f101";
}

.icon-android-network:before {
  content: "\f102";
}

.icon-android-system-apps:before {
  content: "\f103";
}

.icon-android-system-back:before {
  content: "\f104";
}

.icon-android-system-home:before {
  content: "\f105";
}

.icon-android-wifi:before {
  content: "\f106";
}

/* Shared
   ========================================================================== */
.cl-ios-status,
.cl-android-status {
  font-size: 13px;
  overflow: hidden;
  height: 20px;
  background: #000;
  color: #FFF;
  text-align: center;
  line-height: 20px;
  max-height: 20px;
  white-space: nowrap;
  padding: 0 4px;
}
.cl-ios-status > span:first-child,
.cl-android-status > span:first-child {
  float: left;
}
.cl-ios-status > span:last-child,
.cl-android-status > span:last-child {
  float: right;
}
.cl-ios-status > span:last-child span,
.cl-android-status > span:last-child span {
  line-height: 20px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
}

/* iOS only
   ========================================================================== */
.cl-ios-status {
  font-weight: 700;
  font-family: Helvetica;
  height: 20px;
}
.cl-ios-status .clock {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

/* Reception (iOS)
   ========================================================================== */
.cl-ios-status .signals {
  font-size: 0;
  margin-right: 3px;
}
.cl-ios-status .signals span {
  width: 3px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: bottom;
  margin-right: 1px;
  position: relative;
  bottom: 10px;
  background: #FFF;
}
.cl-ios-status .signals .signal1 {
  height: 4px;
}
.cl-ios-status .signals .signal2 {
  height: 5px;
}
.cl-ios-status .signals .signal3 {
  height: 6.5px;
}
.cl-ios-status .signals .signal4 {
  height: 8px;
}
.cl-ios-status .signals .signal5 {
  height: 10px;
}

/* Battery icon ios
   ========================================================================== */
.icon-ios-battery {
  font-size: 20px;
  line-height: 20px;
  position: relative;
  top: -1px;
  height: 20px;
  max-height: 20px;
  margin-left: 4px;
}

/* Android only
   ========================================================================== */
.cl-android-status {
  font-family: Roboto, sans-serif;
  background: #000;
  color: #FFF;
  height: 24px;
  line-height: 24px;
}

.cl-android-software-buttons {
  background: #000;
  color: #FFF;
  position: absolute;
  height: 40px;
  line-height: 40px;
}
.cl-android-software-buttons > span {
  width: 100%;
}
.cl-android-software-buttons span span {
  width: 33.3%;
  float: left;
  text-align: center;
  font-size: 25px;
  opacity: 0.4;
}
.cl-android-software-buttons span span:hover {
  opacity: 1;
  transition: 0.25s 0 opacity ease-in-out;
}
[data-device="galaxynexus-landscape"] .cl-android-software-buttons {
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
}
[data-device="galaxynexus-landscape"] .cl-android-software-buttons > span span {
  width: 100%;
  height: 33.3%;
  line-height: 122px;
}
[data-device$=portrait] .cl-android-software-buttons, [data-device="nexus7-landscape"] .cl-android-software-buttons {
  bottom: 0;
  left: 0;
  width: 100%;
}

.cl-phone-wrap {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  overflow-y: hidden;
  position: relative;
}
.cl-phone-wrap[data-device="iphone4-portrait"] {
  width: 396px;
  height: 734px;
  background: url(../../images/portrait/iphone4.png) no-repeat 0 0;
  padding: 127px 0 0 2px;
}
.cl-phone-wrap[data-device="iphone4-portrait"] .cl-device-body {
  width: 320px;
  height: 480px;
}
.cl-phone-wrap[data-device="iphone4-landscape"] {
  padding: 37px 0 0;
  width: 734px;
  height: 396px;
  background: url(../../images/landscape/iphone4.png) no-repeat 0 0;
}
.cl-phone-wrap[data-device="iphone4-landscape"] .cl-device-body {
  width: 480px;
  height: 320px;
}
.cl-phone-wrap[data-device="iphone5-portrait"] {
  width: 396px;
  height: 822px;
  background: url(../../images/portrait/iphone5.png) no-repeat 0 0;
  padding: 127px 0 0 0;
}
.cl-phone-wrap[data-device="iphone5-portrait"] .cl-device-body {
  width: 320px;
  height: 568px;
}
.cl-phone-wrap[data-device="iphone5-landscape"] {
  padding: 38px 0 0;
  width: 822px;
  height: 396px;
  background: url(../../images/landscape/iphone5.png) no-repeat 0 0;
}
.cl-phone-wrap[data-device="iphone5-landscape"] .cl-device-body {
  width: 568px;
  height: 320px;
}
.cl-phone-wrap[data-device="galaxynexus-portrait"] {
  width: 434px;
  height: 849px;
  background: url(../../images/portrait/galaxy-nexus.png) no-repeat 0 0;
  padding: 107px 0 0;
}
.cl-phone-wrap[data-device="galaxynexus-portrait"] .cl-device-body {
  width: 366px;
  height: 650px;
}
.cl-phone-wrap[data-device="galaxynexus-portrait"] .cl-device-body .cl-page {
  position: relative;
  height: 590px;
}
.cl-phone-wrap[data-device="galaxynexus-landscape"] {
  padding: 34px 40px 0 0;
  width: 849px;
  height: 434px;
  background: url(../../images/landscape/galaxy-nexus.png) no-repeat 0 0;
}
.cl-phone-wrap[data-device="galaxynexus-landscape"] .cl-android-status {
  width: 610px;
}
.cl-phone-wrap[data-device="galaxynexus-landscape"] .cl-page {
  width: 610px;
  height: 346px;
  position: relative;
}
.cl-phone-wrap[data-device="galaxynexus-landscape"] .cl-device-body {
  width: 650px;
  height: 366px;
  position: relative;
  right: -27px;
}
.cl-phone-wrap[data-device="ipad3-portrait"] {
  width: 970px;
  height: 1260px;
  background: url(../../images/portrait/ipad3.png) no-repeat 0 0;
  padding: 118px 0 0;
}
.cl-phone-wrap[data-device="ipad3-portrait"] .cl-device-body {
  width: 768px;
  height: 1024px;
}
.cl-phone-wrap[data-device="ipad3-landscape"] {
  padding: 101px 0 0;
  width: 1260px;
  height: 970px;
  background: url(../../images/landscape/ipad3.png) no-repeat 0 0;
}
.cl-phone-wrap[data-device="ipad3-landscape"] .cl-device-body {
  width: 1024px;
  height: 768px;
}
.cl-phone-wrap[data-device="nexus7-portrait"] {
  width: 970px;
  height: 1260px;
  background: url(../../images/portrait/nexus7.png) no-repeat center center;
  padding: 134px 0 0;
  background-size: contain;
}
.cl-phone-wrap[data-device="nexus7-portrait"] .cl-device-body {
  width: 610px;
  height: 977px;
}
.cl-phone-wrap[data-device="nexus7-portrait"] .cl-device-body .cl-page {
  height: 913px;
}
.cl-phone-wrap[data-device="nexus7-landscape"] {
  width: 1260px;
  height: 970px;
  background: url(../../images/landscape/nexus7.png) no-repeat center center;
  background-size: contain;
  padding: 176px 0 0;
}
.cl-phone-wrap[data-device="nexus7-landscape"] .cl-device-body {
  width: 977px;
  height: 614px;
  position: relative;
  right: 6px;
}
.cl-phone-wrap[data-device="nexus7-landscape"] .cl-device-body .cl-page {
  position: relative;
  height: 554px;
  width: 977px;
}

/* ==========================================================================
   Article
   ========================================================================== */
.cl-article {
  line-height: 1.4;
  color: #333333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.cl-article img {
  max-width: 100%;
}
.cl-article p, .cl-article h4 {
  margin: 10px;
  /* make use of collapsing margins */
}
.cl-article p + p, .cl-article h4 + p, .cl-article p + h4, .cl-article h4 + h4 {
  margin-top: 0;
}
.cl-article ul, .cl-article ol {
  padding: 0;
  margin: 10px;
  /* make use of collapsing margins */
}
.cl-article > ul ul, .cl-article > ul ol, .cl-article > ol ul, .cl-article > ol ol {
  margin: 0;
}
.cl-article > ul li, .cl-article > ol li {
  margin-left: 24px;
}
.cl-article a {
  color: #15696e;
  border-bottom: 1px solid #c2f1f3;
}
.cl-article > .cl-table-padded {
  margin: 10px;
  width: -moz-calc(100% - 20px);
  width: -o-calc(100% - 20px);
  width: -webkit-calc(100% - 20px);
  width: calc(100% - 20px);
}
.cl-article .intro {
  font-size: 16px;
  line-height: 1.33;
  background: #15696e;
  color: #FFF;
  text-shadow: none;
  padding: 10px;
  margin: 0 0 10px;
}

/* ==========================================================================
   Base layout
   ========================================================================== */
/* Page level */
.cl-page {
  text-align: left;
  font-size: 13px;
  word-wrap: break-word;
  height: 100%;
  width: 100%;
  height: -moz-calc(100% - 20px);
  height: -o-calc(100% - 20px);
  height: -webkit-calc(100% - 20px);
  height: calc(100% - 20px);
  /* minus status bar height */
  -webkit-font-smoothing: antialiased;
}

/* Content */
.cl-content {
  background: #eeeeee;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  height: -moz-calc(100% - 44px);
  height: -o-calc(100% - 44px);
  height: -webkit-calc(100% - 44px);
  height: calc(100% - 44px);
}
[data-os="android"] .cl-content {
  height: -moz-calc(100% - 50px);
  height: -o-calc(100% - 50px);
  height: -webkit-calc(100% - 50px);
  height: calc(100% - 50px);
}
.cl-content.cl-content__has-footer {
  height: -moz-calc(100% - 88px);
  height: -o-calc(100% - 88px);
  height: -webkit-calc(100% - 88px);
  height: calc(100% - 88px);
}
[data-os="android"] .cl-content.cl-content__has-footer {
  height: -moz-calc(100% - 100px);
  height: -o-calc(100% - 100px);
  height: -webkit-calc(100% - 100px);
  height: calc(100% - 100px);
}
.cl-content.cl-content__full-height .full-height {
  height: 100%;
}

/* Hide scrollbars in firefox */
@-moz-document url-prefix() {
  .cl-content {
    overflow-y: scroll;
    overflow-x: hidden;
    width: -moz-calc(100% + 14px);
    width: -o-calc(100% + 14px);
    width: -webkit-calc(100% + 14px);
    width: calc(100% + 14px);
    -moz-box-sizing: padding-box;
  }
}

/* Bar layout */
.cl-bar-title,
.cl-bar,
.cl-bar-footer {
  *zoom: 1;
  overflow: hidden;
  width: 100%;
  min-height: 44px;
  height: 44px;
  position: relative;
}
.cl-bar-title:after,
.cl-bar:after,
.cl-bar-footer:after {
  content: "";
  display: table;
  clear: both;
}
[data-os="android"] .cl-bar-title, [data-os="android"]
.cl-bar, [data-os="android"]
.cl-bar-footer {
  min-height: 50px;
  height: 50px;
}

.cl-bar-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.cl-bar-title .title {
  text-align: center;
  line-height: 44px;
  margin: 0 auto;
  -webkit-hyphens: auto;
}
[data-os="android"] .cl-bar-title .title {
  line-height: 50px;
}

/**
 * Text in a bar
 * sample markup: <p class="cl-bar-text">My text</p>
 */
.cl-bar-text {
  margin: 0;
  padding: 0;
  color: white;
  line-height: 44px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.33);
}
[data-os="android"] .cl-bar-text {
  line-height: 50px;
}
.cl-bar .cl-bar-text, .cl-bar-title .cl-bar-text, .cl-bar-footer .cl-bar-text {
  margin: 0 10px;
}
.cl-bar-text.align-left {
  margin-left: 7px;
}
.cl-bar-text.align-right {
  text-align: right;
  margin-right: 7px;
}

/**
 * Bar title
 * Sample markup: <h1 class="cl-title"></h1>
 */
.cl-title {
  font-size: 20px;
  margin: 0;
  font-weight: 700;
  white-space: nowrap;
  text-align: center;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.33);
  line-height: 44px;
}
[data-os="android"] .cl-title {
  line-height: 50px;
}

/**
 * Bar backgrounds
 */
.cl-bar-title,
.cl-bar-footer,
.cl-bar {
  background: #15696e;
  background-color: #198187;
  background-image: -moz-linear-gradient(top, #1d9299, #15696e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1d9299), to(#15696e));
  background-image: -webkit-linear-gradient(top, #1d9299, #15696e);
  background-image: -o-linear-gradient(top, #1d9299, #15696e);
  background-image: linear-gradient(to bottom, #1d9299, #15696e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1D9299', endColorstr='#FF15696E', GradientType=0);
  /* iOS styles insets highlight and bottom border on header */
  /* The upper highlight */
  /* The darker bottom */
}
.cl-bar-title:before,
.cl-bar-footer:before,
.cl-bar:before {
  content: " ";
  height: 1px;
  width: 100%;
  background: #21a6ae;
  position: absolute;
  top: 0;
  left: 0;
}
.cl-bar-title:after,
.cl-bar-footer:after,
.cl-bar:after {
  content: " ";
  height: 1px;
  width: 100%;
  background: #092c2e;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* ==========================================================================
   Buttons
   ========================================================================== */
.cl-btn {
  display: block;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  /* Fixes when <button> is used */
  border: none;
  -webkit-appearance: none;
  font-weight: 700;
  text-align: center;
  font-size: 13px;
  line-height: 32px;
  /* Bar buttons */
  /* Less min width for icon only type buttons */
}
.cl-btn, .cl-btn:link, .cl-btn:visited {
  border: 1px solid #115559;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  background-color: #1c8d94;
  background-image: -moz-linear-gradient(top, #21a6ae, #15696e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#21a6ae), to(#15696e));
  background-image: -webkit-linear-gradient(top, #21a6ae, #15696e);
  background-image: -o-linear-gradient(top, #21a6ae, #15696e);
  background-image: linear-gradient(to bottom, #21a6ae, #15696e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF21A6AE', endColorstr='#FF15696E', GradientType=0);
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.33);
}
.cl-btn:hover, .cl-btn:active, .cl-btn:focus, .cl-btn.active {
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0d4447;
  background-image: -moz-linear-gradient(top, #115559, #092c2e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#115559), to(#092c2e));
  background-image: -webkit-linear-gradient(top, #115559, #092c2e);
  background-image: -o-linear-gradient(top, #115559, #092c2e);
  background-image: linear-gradient(to bottom, #115559, #092c2e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF115559', endColorstr='#FF092C2E', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.33);
}
[data-os="android"] .cl-btn {
  line-height: 40px;
}
.cl-bar-title .cl-btn, .cl-bar-footer .cl-btn, .cl-bar .cl-btn {
  padding: 0 7px;
  margin: 5px;
  font-size: 13px;
}
[data-os="android"] .cl-bar-title .cl-btn, [data-os="android"] .cl-bar-footer .cl-btn, [data-os="android"] .cl-bar .cl-btn {
  padding: 0 10px;
}
.cl-content > .cl-btn {
  margin: 0 10px;
}
.cl-btn.cl-btn-icon-only {
  width: 35px;
  font-size: 19px;
}

/* Primary buttons */
.cl-btn-primary, .cl-btn-primary:link, .cl-btn-primary:visited {
  border: 1px solid #18a8b0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  background-color: #36d0d9;
  background-image: -moz-linear-gradient(top, #48dde6, #1bbdc7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#48dde6), to(#1bbdc7));
  background-image: -webkit-linear-gradient(top, #48dde6, #1bbdc7);
  background-image: -o-linear-gradient(top, #48dde6, #1bbdc7);
  background-image: linear-gradient(to bottom, #48dde6, #1bbdc7);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF48DDE6', endColorstr='#FF1BBDC7', GradientType=0);
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.33);
}
.cl-btn-primary:hover, .cl-btn-primary:active, .cl-btn-primary:focus, .cl-btn-primary.active {
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0d4447;
  background-image: -moz-linear-gradient(top, #115559, #092c2e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#115559), to(#092c2e));
  background-image: -webkit-linear-gradient(top, #115559, #092c2e);
  background-image: -o-linear-gradient(top, #115559, #092c2e);
  background-image: linear-gradient(to bottom, #115559, #092c2e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF115559', endColorstr='#FF092C2E', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.33);
}

/* Subtle buttons */
.cl-btn-subtle, .cl-btn-subtle:link, .cl-btn-subtle:visited {
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, white, #e1e1e1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e1e1e1));
  background-image: -webkit-linear-gradient(top, white, #e1e1e1);
  background-image: -o-linear-gradient(top, white, #e1e1e1);
  background-image: linear-gradient(to bottom, #ffffff, #e1e1e1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE1E1E1', GradientType=0);
  color: black;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.cl-btn-subtle:hover, .cl-btn-subtle:active, .cl-btn-subtle:focus, .cl-btn-subtle.active {
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0d4447;
  background-image: -moz-linear-gradient(top, #115559, #092c2e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#115559), to(#092c2e));
  background-image: -webkit-linear-gradient(top, #115559, #092c2e);
  background-image: -o-linear-gradient(top, #115559, #092c2e);
  background-image: linear-gradient(to bottom, #115559, #092c2e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF115559', endColorstr='#FF092C2E', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.33);
}

/* Subtle buttons */
.cl-btn-disabled, .cl-btn-disabled:link, .cl-btn-disabled:hover, .cl-btn-disabled:active, .cl-btn-disabled:focus {
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  background: #e1e1e1;
  color: #AAA;
  text-shadow: none;
  pointer-events: none;
}

/* ==========================================================================
   Button group aka segmented control
   ========================================================================== */
.cl-btn-group {
  *zoom: 1;
  padding: 0 10px;
  display: -webkit-flex;
}
.cl-btn-group:after {
  content: "";
  display: table;
  clear: both;
}
.cl-btn-group .cl-btn {
  -webkit-flex: 1;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border-right-width: 0;
}
.cl-btn-group .cl-btn:first-child {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.cl-btn-group .cl-btn:last-child {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right-width: 1px;
}
.bar .cl-btn-group .cl-btn, .bar-title .cl-btn-group .cl-btn, .bar-footer .cl-btn-group .cl-btn {
  position: relative;
}

/* ==========================================================================
   Button positioning
   ========================================================================== */
/* Button positioning within page bars
   ========================================================================== */
.cl-bar-title .cl-btn,
.cl-bar-footer .cl-btn,
.cl-bar .cl-btn {
  position: absolute;
  top: 0;
  left: 0;
}
.cl-bar-title .cl-title + .btn,
.cl-bar-title .cl-btn:last-child,
.cl-bar-footer .cl-title + .btn,
.cl-bar-footer .cl-btn:last-child,
.cl-bar .cl-title + .btn,
.cl-bar .cl-btn:last-child {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
}
.cl-bar-title .cl-btn.align-center,
.cl-bar-footer .cl-btn.align-center,
.cl-bar .cl-btn.align-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}
.cl-bar-title .cl-btn.align-right,
.cl-bar-footer .cl-btn.align-right,
.cl-bar .cl-btn.align-right {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
}

/* Button positioning within toolbars (= in page content)
   ========================================================================== */
.cl-btn-toolbar {
  display: -webkit-flex;
  margin: 0 10px;
}
.cl-btn-toolbar .cl-btn {
  -webkit-flex: 1;
}
.cl-btn-toolbar .cl-btn:first-child {
  margin-right: 5px;
}
.cl-btn-toolbar .cl-btn:nth-child(2):not(:last-child), .cl-btn-toolbar .cl-btn:nth-child(3):not(:last-child), .cl-btn-toolbar .cl-btn:nth-child(4):not(:last-child) {
  margin: 0 5px;
}
.cl-btn-toolbar .cl-btn:last-child {
  margin-left: 5px;
}
.cl-btn-toolbar .cl-btn:only-child {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/* Form wrapper
   ========================================================================== */
.cl-form {
  margin: 5px 0;
}

/* Basic input types
   ========================================================================== */
.cl-form input, .cl-form select, .cl-form textarea, .cl-form option {
  font-size: 14px;
  font-family: Arial, sans-serif;
}
[data-os="android"] .cl-form input, [data-os="android"] .cl-form select, [data-os="android"] .cl-form textarea, [data-os="android"] .cl-form option {
  font-family: Roboto, Droid Sans, sans-serif;
}
.cl-form textarea {
  min-height: 88px;
}
.cl-form input[type="text"],
.cl-form input[type="password"],
.cl-form input[type="datetime"],
.cl-form input[type="datetime-local"],
.cl-form input[type="date"],
.cl-form input[type="month"],
.cl-form input[type="time"],
.cl-form input[type="week"],
.cl-form input[type="number"],
.cl-form input[type="email"],
.cl-form input[type="url"],
.cl-form input[type="search"],
.cl-form input[type="tel"],
.cl-form input[type="color"],
.cl-form input[type="range"],
.cl-form select,
.cl-form textarea,
.cl-form .radio-list,
.cl-form .checkbox-list {
  margin: 5px 10px;
}
.cl-form .cl-btn-toolbar {
  margin: 5px 10px;
}
.cl-form input[type="range"] {
  width: -moz-calc(100% - 20px);
  width: -o-calc(100% - 20px);
  width: -webkit-calc(100% - 20px);
  width: calc(100% - 20px);
}
.cl-form input[type="text"],
.cl-form input[type="password"],
.cl-form input[type="datetime"],
.cl-form input[type="datetime-local"],
.cl-form input[type="date"],
.cl-form input[type="month"],
.cl-form input[type="time"],
.cl-form input[type="week"],
.cl-form input[type="number"],
.cl-form input[type="email"],
.cl-form input[type="url"],
.cl-form input[type="search"],
.cl-form input[type="tel"],
.cl-form input[type="color"],
.cl-form textarea,
.cl-form select {
  width: 100%;
  padding: 4px;
  height: 34px;
  background: #FFF;
  border-radius: 3px;
  border: 1px solid #AAA;
  width: -moz-calc(100% - 20px);
  width: -o-calc(100% - 20px);
  width: -webkit-calc(100% - 20px);
  width: calc(100% - 20px);
  -webkit-box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.1);
}
.cl-form input[type="text"]:focus,
.cl-form input[type="password"]:focus,
.cl-form input[type="datetime"]:focus,
.cl-form input[type="datetime-local"]:focus,
.cl-form input[type="date"]:focus,
.cl-form input[type="month"]:focus,
.cl-form input[type="time"]:focus,
.cl-form input[type="week"]:focus,
.cl-form input[type="number"]:focus,
.cl-form input[type="email"]:focus,
.cl-form input[type="url"]:focus,
.cl-form input[type="search"]:focus,
.cl-form input[type="tel"]:focus,
.cl-form input[type="color"]:focus,
.cl-form textarea:focus,
.cl-form select:focus {
  border-color: rgba(27, 189, 199, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(27, 189, 199, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(27, 189, 199, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(27, 189, 199, 0.6);
}
.cl-form input[disabled],
.cl-form textarea[disabled] {
  background: #DDD;
}
.cl-form select[multiple] {
  min-height: 100px;
}
.cl-form select[multiple] option {
  height: 44px;
  line-height: 44px;
}

/* Radio and checkbox lists
   ========================================================================== */
.cl-form .radio-list,
.cl-form .checkbox-list {
  display: -webkit-flex;
  padding: 0;
}
.cl-form .radio-list input,
.cl-form .checkbox-list input {
  visibility: hidden;
  position: absolute;
  top: -9000em;
  left: -9000em;
}
.cl-form .radio-list label,
.cl-form .checkbox-list label {
  line-height: 42px;
  -webkit-flex: 1;
  background: #FFF;
  border: 1px solid #dddddd;
  border-width: 1px 1px 1px 0;
  padding: 10px;
  line-height: 1.5;
  position: relative;
  right: 1px;
}
.cl-form .radio-list label:first-child,
.cl-form .checkbox-list label:first-child {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-width: 1px;
}
.cl-form .radio-list label:last-child,
.cl-form .checkbox-list label:last-child {
  left: -1px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cl-form .radio-list label:hover,
.cl-form .checkbox-list label:hover {
  background: #15696e;
  border-color: #15696e;
  color: #FFF;
}
.cl-form .radio-list label.checked,
.cl-form .checkbox-list label.checked {
  background: #15696e;
  border-color: #15696e;
  color: #FFF;
}

/* ==========================================================================
   Alerts
   ========================================================================== */
.cl-alert {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  -webkit-justify-content: center;
  animation: pop-in 0.5s forwards;
  position: relative;
  bottom: 22px;
}
.cl-alert.dismissed {
  animation: pop-out 0.5s forwards;
}
[data-os="android"] .cl-alert {
  bottom: 25px;
}
.cl-alert .cl-alert-box {
  margin: auto;
  width: 90%;
  text-align: center;
  padding: 12px;
  background: #15696e;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 0 2px white, 0 0 8px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 0 2px white, 0 0 8px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 0 2px white, 0 0 8px 2px rgba(0, 0, 0, 0.25);
}
.cl-alert .cl-alert-title {
  font-size: 16px;
  padding: 0 0 6px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.cl-alert .cl-alert-message {
  padding: 4px 0;
  font-size: 13px;
  line-height: 1.5;
}
.cl-alert .cl-alert-title,
.cl-alert .cl-alert-message {
  color: #FFF;
  margin: 0;
}

@keyframes pop-in {
  0% {
    transform: scale(0);
  }

  75% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes pop-out {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(0);
  }
}

/* ==========================================================================
   Tables
   ========================================================================== */
/* Base tables
   ========================================================================== */
.cl-data-table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

/* Baseline table styles
   ========================================================================== */
.cl-data-table {
  width: 100%;
  margin-bottom: 12px;
  /* Cells */
  /* Bottom align for column headings */
  /* Account for multiple tbody instances */
}
.cl-data-table th,
.cl-data-table td {
  padding: 8px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.cl-data-table th {
  font-weight: 700;
  color: #333333;
}
.cl-data-table thead th {
  vertical-align: bottom;
}
.cl-data-table caption + thead tr:first-child th,
.cl-data-table caption + thead tr:first-child td,
.cl-data-table colgroup + thead tr:first-child th,
.cl-data-table colgroup + thead tr:first-child td,
.cl-data-table thead:first-child tr:first-child th,
.cl-data-table thead:first-child tr:first-child td {
  border-top: 0;
}
.cl-data-table tbody + tbody {
  border-top: 2px solid #dddddd;
}

/* Condensed table w/ half padding
   ========================================================================== */
.cl-data-table-condensed th,
.cl-data-table-condensed td {
  padding: 4px 5px;
}

/* Bordered table
   ========================================================================== */
.cl-data-table-bordered {
  border: 1px solid #dddddd;
  border-left: 0;
}
.cl-data-table-bordered th,
.cl-data-table-bordered td {
  border-left: 1px solid #dddddd;
}

/* Table with zebra striping
   ========================================================================== */
.cl-data-table-striped tbody > tr:nth-child(odd) > td,
.cl-data-table-striped tbody > tr:nth-child(odd) > th {
  background-color: #dddddd;
}

/* ==========================================================================
   Toggle styles (to be used with toggles.js)
   ========================================================================== */
.cl-toggle {
  position: relative;
  width: 75px;
  height: 28px;
  background-color: #eee;
  border: 1px solid #bbb;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
}
[data-os="ios"] .cl-toggle {
  border-radius: 20px;
}

/* Text indicating "on" or "off". Default is "off" */
.cl-toggle:before {
  position: absolute;
  right: 13px;
  font-weight: bold;
  line-height: 28px;
  color: #777;
  text-shadow: 0 1px #fff;
  text-transform: uppercase;
  content: "Off";
}

/* Sliding handle */
.cl-toggle-handle {
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 2;
  width: 28px;
  height: 28px;
  background-color: #fff;
  background-color: #f9f9f9;
  background-image: -moz-linear-gradient(top, white, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, white, #f2f2f2);
  background-image: -o-linear-gradient(top, white, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFF2F2F2', GradientType=0);
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 0.1s ease-in-out, border 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, border 0.1s ease-in-out;
}
[data-os="ios"] .cl-toggle-handle {
  border-radius: 100%;
}

/* Active state for toggle */
.cl-toggle.active {
  background-color: #15696e;
  border: 1px solid #15696e;
  background-color: #2fa8af;
  background-image: -moz-linear-gradient(top, #41d2db, #15696e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#41d2db), to(#15696e));
  background-image: -webkit-linear-gradient(top, #41d2db, #15696e);
  background-image: -o-linear-gradient(top, #41d2db, #15696e);
  background-image: linear-gradient(to bottom, #41d2db, #15696e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF41D2DB', endColorstr='#FF15696E', GradientType=0);
}
[data-os="ios"] .cl-toggle.active {
  box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.25);
}

/* Active state for toggle handle */
.cl-toggle.active .cl-toggle-handle {
  border-color: #15696e;
  -webkit-transform: translate3d(48px, 0, 0);
  transform: translate3d(48px, 0, 0);
}

/* Change "off" to "on" for active state */
.cl-toggle.active:before {
  right: auto;
  left: 15px;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.25);
  content: "On";
}

/* ==========================================================================
   Slider styles (to be used with sliders.js)
   ========================================================================== */
.cl-slider ul {
  margin: 0;
  padding: 0;
}

/* Width/height of slider */
.cl-slider > ul,
.cl-slider > ul > li {
  width: 100%;
  height: -moz-calc(100%);
  height: -o-calc(100%);
  height: -webkit-calc(100%);
  height: calc(100%);
}
.cl-slider > ul img,
.cl-slider > ul > li img {
  max-width: 100%;
}

/* Outer wrapper for slider */
.cl-slider {
  overflow: hidden;
}

/* Inner wrapper for slider (width of all slides together) */
.cl-slider > ul {
  position: relative;
  white-space: nowrap;
  -webkit-transition: all 0 linear;
  transition: all 0 linear;
  font-size: 0;
}

/* Individual slide */
.cl-slider > ul > li {
  display: inline-block;
  vertical-align: top;
  /* Ensure that li always aligns to top */
}

/* Required reset of font-size to same as standard body */
.cl-slider > ul > li > * {
  font-size: 14px;
}

/* For photo sliders
 * Add an extra .cl-photo-slider class
   ========================================================================== */
.cl-photo-slider {
  height: 100%;
}

.cl-photo-slider > ul > li {
  text-align: center;
  background: #000;
  width: 100%;
  height: 100%;
  max-height: 100%;
}
.cl-photo-slider > ul > li img {
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

/* ==========================================================================
   Pager
   Paginate the slider
   ========================================================================== */
.paginated {
  pointer-events: none;
  position: absolute;
  left: 0;
  bottom: 12px;
  width: 100%;
  height: 10%;
  text-align: center;
  z-index: 3;
  display: -webkit-flex;
  -webkit-justify-content: flex-start;
}
.paginated .pagination {
  width: 100%;
  text-align: center;
}
.paginated .pagination a {
  color: #000;
  font-size: 30px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=33);
  opacity: 0.33;
}
.paginated .pagination a.active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.cl-photo-slider + .paginated .pagination a {
  color: #FFF;
}

/* ==========================================================================
   Loading
   Depends on prefixfree
   ========================================================================== */
@keyframes spin {
  0% {
    background-color: #000;
  }

  100% {
    background-color: transparent;
  }
}

@keyframes spin-white {
  0% {
    background-color: #FFF;
  }

  100% {
    background-color: transparent;
  }
}

.cl-loading-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}

.cl-loading {
  position: relative;
  width: 32px;
  height: 32px;
  transform: scale(0.6);
}
.cl-loading > div {
  position: absolute;
  height: 6px;
  width: 6px;
  border-radius: 3px;
  animation-name: spin;
  animation-duration: 0.88s;
  animation-iteration-count: infinite;
  animation-direction: linear;
}
.cl-bar-title .cl-loading > div, .cl-bar-footer .cl-loading > div {
  animation-name: spin-white;
}

.cl-loading-8 {
  animation-delay: 0.88s;
}

.cl-loading-7 {
  animation-delay: 0.77s;
}

.cl-loading-6 {
  animation-delay: 0.66s;
}

.cl-loading-5 {
  animation-delay: 0.55s;
}

.cl-loading-4 {
  animation-delay: 0.44s;
}

.cl-loading-3 {
  animation-delay: 0.33s;
}

.cl-loading-2 {
  animation-delay: 0.22s;
}

.cl-loading-1 {
  animation-delay: 0.11s;
}

.cl-loading-1 {
  left: 0;
  top: 13px;
}

.cl-loading-2 {
  left: 4px;
  top: 4px;
}

.cl-loading-3 {
  left: 13px;
  top: 0;
}

.cl-loading-4 {
  right: 4px;
  top: 4px;
}

.cl-loading-5 {
  right: 0;
  top: 13px;
}

.cl-loading-6 {
  right: 4px;
  bottom: 4px;
}

.cl-loading-7 {
  left: 13px;
  bottom: 0;
}

.cl-loading-8 {
  left: 4px;
  bottom: 4px;
}

/* ==========================================================================
   Table view
   ========================================================================== */
.cl-table, .cl-table__extended {
  *zoom: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 10px 0;
  width: 90%;
  width: -moz-calc(100% - 20px);
  width: -o-calc(100% - 20px);
  width: -webkit-calc(100% - 20px);
  width: calc(100% - 20px);
}
.cl-table:after, .cl-table__extended:after {
  content: "";
  display: table;
  clear: both;
}
.cl-table + .cl-table, .cl-table__extended + .cl-table, .cl-table + .cl-table__extended, .cl-table__extended + .cl-table__extended {
  padding-top: 0;
}

.cl-table-title, .cl-table-title-extended {
  padding: 0;
  margin: 10px 10px 0 20px;
  font-size: 12px;
  font-weight: 700;
  color: #666666;
}
.cl-table-title + .cl-table, .cl-table-title-extended + .cl-table, .cl-table-title + .cl-table__extended, .cl-table-title-extended + .cl-table__extended {
  padding-top: 5px;
  margin-top: 0;
}
.cl-table-title + .input-group, .cl-table-title-extended + .input-group {
  padding-top: 5px;
}

.cl-table-title-extended {
  margin-left: 10px;
}

.cl-table-cell {
  font-size: 14px;
  min-height: 44px;
  position: relative;
  width: 100%;
  background: white;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(0, 0, 0, 0.1);
}
.cl-table-cell:first-child {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
.cl-table-cell:last-child {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cl-table-cell:hover, .cl-table-cell:active, .cl-table-cell:focus {
  color: white;
  background-color: #198187;
  background-image: -moz-linear-gradient(top, #1d9299, #15696e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1d9299), to(#15696e));
  background-image: -webkit-linear-gradient(top, #1d9299, #15696e);
  background-image: -o-linear-gradient(top, #1d9299, #15696e);
  background-image: linear-gradient(to bottom, #1d9299, #15696e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1D9299', endColorstr='#FF15696E', GradientType=0);
  text-shadow: 0 1px rgba(0, 0, 0, 0.33);
}
.cl-table-cell:hover a, .cl-table-cell:hover .disclosure-help, .cl-table-cell:hover .icon, .cl-table-cell:active a, .cl-table-cell:active .disclosure-help, .cl-table-cell:active .icon, .cl-table-cell:focus a, .cl-table-cell:focus .disclosure-help, .cl-table-cell:focus .icon {
  color: white;
}

.cl-table > .cl-table-cell, .cl-table__extended > .cl-table-cell {
  margin: 0 10px;
}
.cl-table > .cl-table-cell:first-child, .cl-table__extended > .cl-table-cell:first-child {
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
}
.cl-table > .cl-table-cell:last-child, .cl-table__extended > .cl-table-cell:last-child {
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.cl-table-row {
  margin: 0 10px;
  *zoom: 1;
  display: -webkit-flex;
  -webkit-align-items: stretch;
}
.cl-table-row:after {
  content: "";
  display: table;
  clear: both;
}
.cl-table-row > .cl-table-cell {
  *zoom: 1;
}
.cl-table-row > .cl-table-cell:after {
  content: "";
  display: table;
  clear: both;
}
.cl-table-row > .cl-table-cell:first-child {
  float: left;
}
.cl-table-row > .cl-table-cell:last-child {
  float: right;
}

.cl-table-row .cl-table-cell:first-child {
  width: -moz-calc(50% - 1px);
  width: -o-calc(50% - 1px);
  width: -webkit-calc(50% - 1px);
  width: calc(50% - 1px);
}
.cl-table-row .cl-table-cell:last-child {
  width: -moz-calc(50%);
  width: -o-calc(50%);
  width: -webkit-calc(50%);
  width: calc(50%);
}
.cl-table-row.split-2-3 .cl-table-cell:first-child {
  width: -moz-calc(40% - 1px);
  width: -o-calc(40% - 1px);
  width: -webkit-calc(40% - 1px);
  width: calc(40% - 1px);
}
.cl-table-row.split-2-3 .cl-table-cell:last-child {
  width: -moz-calc(60% - 1px);
  width: -o-calc(60% - 1px);
  width: -webkit-calc(60% - 1px);
  width: calc(60% - 1px);
}
.cl-table-row.split-3-7 .cl-table-cell:first-child {
  width: -moz-calc(30% - 1px);
  width: -o-calc(30% - 1px);
  width: -webkit-calc(30% - 1px);
  width: calc(30% - 1px);
}
.cl-table-row.split-3-7 .cl-table-cell:last-child {
  width: -moz-calc(70%);
  width: -o-calc(70%);
  width: -webkit-calc(70%);
  width: calc(70%);
}
.cl-table-row.split-1-3 .cl-table-cell:first-child {
  width: -moz-calc(25% - 1px);
  width: -o-calc(25% - 1px);
  width: -webkit-calc(25% - 1px);
  width: calc(25% - 1px);
}
.cl-table-row.split-1-3 .cl-table-cell:last-child {
  width: -moz-calc(75%);
  width: -o-calc(75%);
  width: -webkit-calc(75%);
  width: calc(75%);
}

.cl-table-cell a {
  display: block;
  padding: 0 10px;
  min-height: 44px;
  line-height: 44px;
  font-weight: 700;
  color: black;
  border: none;
}
.cl-table-cell > p, .cl-article .cl-table-cell > h4 {
  display: block;
  padding: 10px;
  margin: 0;
}
.cl-table-cell .label {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.cl-table-cell .disclosure-help {
  font-weight: 400;
  position: absolute;
  right: 30px;
  top: 0;
  color: #AAA;
}
.cl-table-cell .meta {
  font-weight: 400;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=66);
  opacity: 0.66;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
.cl-table-cell .icon-ios-arrow-right {
  font-size: 19px;
  position: absolute;
  top: 0;
  right: 10px;
  font-weight: 700;
  color: #AAA;
}

.cl-table .cl-table-row:first-child .cl-table-cell:first-child, .cl-table__extended .cl-table-row:first-child .cl-table-cell:first-child {
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
}
.cl-table .cl-table-row:first-child .cl-table-cell:last-child, .cl-table__extended .cl-table-row:first-child .cl-table-cell:last-child {
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
}
.cl-table .cl-table-row:only-child .cl-table-cell:first-child, .cl-table__extended .cl-table-row:only-child .cl-table-cell:first-child {
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.cl-table .cl-table-row:only-child .cl-table-cell:last-child, .cl-table__extended .cl-table-row:only-child .cl-table-cell:last-child {
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.cl-table .cl-table-row:last-child .cl-table-cell:first-child, .cl-table__extended .cl-table-row:last-child .cl-table-cell:first-child {
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.cl-table .cl-table-row:last-child .cl-table-cell:last-child, .cl-table__extended .cl-table-row:last-child .cl-table-cell:last-child {
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.cl-view-all {
  *zoom: 1;
  background: white;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(0, 0, 0, 0.1);
  background-color: #d7d7d7;
  background-image: -moz-linear-gradient(top, #e1e1e1, #c8c8c8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e1e1e1), to(#c8c8c8));
  background-image: -webkit-linear-gradient(top, #e1e1e1, #c8c8c8);
  background-image: -o-linear-gradient(top, #e1e1e1, #c8c8c8);
  background-image: linear-gradient(to bottom, #e1e1e1, #c8c8c8);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE1E1E1', endColorstr='#FFC8C8C8', GradientType=0);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  width: 100%;
  margin: 0 10px;
  line-height: 33px;
  font-size: 12px;
  text-align: center;
  position: relative;
  top: 0;
}
.cl-view-all:after {
  content: "";
  display: table;
  clear: both;
}
.cl-view-all:first-child {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
.cl-view-all:last-child {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cl-view-all > a {
  display: block;
  color: #000;
  font-weight: 700;
}
.cl-view-all > a:hover {
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(0, 0, 0, 0.1);
  background-color: #bdbdbd;
  background-image: -moz-linear-gradient(top, #c8c8c8, #aeaeae);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c8c8c8), to(#aeaeae));
  background-image: -webkit-linear-gradient(top, #c8c8c8, #aeaeae);
  background-image: -o-linear-gradient(top, #c8c8c8, #aeaeae);
  background-image: linear-gradient(to bottom, #c8c8c8, #aeaeae);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC8C8C8', endColorstr='#FFAEAEAE', GradientType=0);
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.cl-table__extended {
  width: 100%;
}
.cl-table__extended .icon-arrow-right {
  right: 10px;
}
.cl-table__extended a {
  display: block;
}
.cl-table__extended .cl-table-cell {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  margin: 0 0 1px;
  margin: 0;
}
.cl-table__extended .cl-table-cell .cl-table-cell {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* ==========================================================================
   Help text
   ========================================================================== */
.cl-help-text {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
  max-width: 95%;
  font-size: 13px;
  margin: 0 auto;
  padding: 0 0 12px;
}
.cl-help-text a {
  color: #666;
  text-decoration: underline;
}
.cl-help-text a:hover {
  color: #333;
}

/* Animation styles
-------------------------------------------------- */
/* Fade animation */
.cl-content.fade {
  left: 0;
  opacity: 0;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.cl-content.fade.in {
  opacity: 1;
}

/* Slide animation */
.cl-content.slide {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform .25s ease-in-out;
  transition: transform .25s ease-in-out;
}

.cl-content.slide.left {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.cl-content.slide.right {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.cl-content.slide.bottom {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.cl-content.slide.top {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

/* ==========================================================================
   Custom application CSS
   ========================================================================== */
/* 
 * Font Custom: bare CSS
 */
@font-face {
  font-family: "app";
  src: url("../scss/clank/icon-fonts/app/app.eot");
  src: url("../scss/clank/icon-fonts/app/app.eot?#iefix") format("embedded-opentype"), url("../scss/clank/icon-fonts/app/app.woff") format("woff"), url("../scss/clank/icon-fonts/app/app.ttf") format("truetype"), url("../scss/clank/icon-fonts/app/app.svg#app") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon-app-add:before,
.icon-app-arrow-down:before,
.icon-app-arrow-left:before,
.icon-app-arrow-right:before,
.icon-app-arrow-up:before,
.icon-app-circle:before,
.icon-app-list:before,
.icon-app-minus:before,
.icon-app-square:before {
  font-family: "app";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.icon-app-add:before {
  content: "\f100";
}

.icon-app-arrow-down:before {
  content: "\f101";
}

.icon-app-arrow-left:before {
  content: "\f102";
}

.icon-app-arrow-right:before {
  content: "\f103";
}

.icon-app-arrow-up:before {
  content: "\f104";
}

.icon-app-circle:before {
  content: "\f105";
}

.icon-app-list:before {
  content: "\f106";
}

.icon-app-minus:before {
  content: "\f107";
}

.icon-app-square:before {
  content: "\f108";
}
