body {
    background: #F0F0F0;
    text-align: center;
    font-family: Arial;
    font-size: 13px;
}

.holder {
  margin: 0 auto;
  width: 50%;
  /* flexbox setup */
  display: flex;
  flex-direction: row;
}

.holder > div {
  flex: auto;
  justify-content: center;
}

.holder p {
  padding: 2px 0;
  margin: 0;
}