body {
    background: #F0F0F0;
    text-align: center;
    font-family: Arial;
    font-size: 13px;
}

.controls {
  margin: 0 auto;
  width: 50%;
  /* flexbox setup */
  display: flex;
  flex-direction: row;
}

.controls > div {
  flex: auto;
  justify-content: center;
  line-height: 24px;
  
  display: flex;
}

.controls > label {
  margin-right: 2px;
}

.controls label:after {
  content: ":";
}