body, html {
  height: 100%;
}

body {
  background: #F0F0F0;
  text-align: center;
  font-family: "Roboto", Arial;
  font-size: 13px;
  
  background: #ffffff; /* Old browsers */
  background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
  
}

input, select, textarea, option {
  font-family: "Roboto", Arial;
}

.controls {
  margin: 0 auto;
  width: 50%;
  /* flexbox setup */
  display: flex;
  flex-direction: row;
}

.controls > div {
  flex: auto;
  justify-content: center;
  line-height: 24px;
  
  display: flex;
}

.controls > label {
  margin-right: 2px;
}

.controls label:after {
  content: ":";
}