html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  background: #ffffff; /* Old browsers */
  background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
}

body {
  text-align: center;
  font-family: "Roboto", Arial;
  font-size: 13px;
}

input, select, textarea, option {
  font-family: "Roboto", Arial;
}
