.device-body * {
  @include box-sizing(border-box);
}

.device-body > div > .bar-title,
.device-body > div > .content,
.device-body > div > .bar-footer {
  margin: 0 auto;
}

.device-body {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 14px;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: left;
  word-wrap: break-word;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  & > div >  article.content {
    height: 100%;
    @include calc(height, "100% - 44px");
    &.has-footer {
      @include calc(height, "100% - 88px");
    }
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    position: relative;
    .content-inner {
      padding: 10px;
    }
    .full-height {
      height: 100%;
    }
  }
}