@import "compass";

@import "base";
@import "mixins";
@import "device_wraps";
@import "controls";
@import "os_chrome";

@import "components/headers-footers";
@import "components/buttons";
@import "components/button-positioning";

@import "icon-fonts/ios/fontcustom";
@import "icon-fonts/android/fontcustom";

// Temporary
.article {
  background: #FFF;
  text-align: left;
  padding: 10px;
  line-height: 1.5;
  font-size: 15px;
}