@import "compass";

@import "base";
@import "mixins";
@import "device_wraps";
@import "controls";
@import "os_chrome";

@import "components/headers-footers";
@import "components/buttons";
@import "components/code-example";
@import "components/typography";
@import "components/button-positioning";
@import "components/table-view";
@import "components/help-txt";

@import "icon-fonts/ios/fontcustom";
@import "icon-fonts/android/fontcustom";

// Page level

.cl-page {
  font-size: 14px;
  text-align: left;
  word-wrap: break-word;
  height: 100%;
  .cl-content {
    background: #FFF;
  }
}

.cl-page-welcome {
  .cl-content {
    background: #EEE;
  }
}