// Framework imports
@import "compass/css3";
@import "susy";

// Regular imports
@import "docs/vars";
@import "docs/mixins";
@import "docs/normalize";
@import "docs/grid";
@import "docs/demo-controls";
@import "docs/image_alignment";
@import "docs/docs-nav";
@import "docs/data-table";
@import "docs/pygments";

body {
  margin: 0;
  padding: 0;
  background: #FFF;
}

.cl-docs {

  & {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 1.5;
  }

  // Utils

  .accessible-text {
    position: absolute;
    top: -9000px;
    left: -9000px;
  }

  .well {
    margin: 0 0 12px;
    padding: 10px;
    border: 1px solid #DDD;
    @include border-radius(4px);
    *:last-child {
      margin-bottom: 0;
    }
  }

  // Typography

  .page-title-bar {
    @include gradient-vertical(#d1d6da, #c1ccd3);

    .inner-content {
      @include container;
      padding-top: 12px;
      padding-bottom: 12px;
    }
    h2 {
      @include display-font;
      text-transform: none;
      font-size: 32px;
    }
  }

  p, h4 {
    margin: 6px 0;
  }

  hr {
    border: none;
    border-bottom: 1px solid #CCC;
    margin: 18px 0;
  }

  h1, h2 {
    color: #000;
    line-height: 1.1;
  }

  h3 {
    color: #333;
    font-weight: 600;
    font-size: 18px;
    margin: 12px 0;
  }

  h4 {
    color: #000;
  }

  a {
    @include default-links;
  }

  pre {
    padding: 10px;
    margin: 0 0 1px;
    font-size: 12px;
    @include border-radius(4px);
    background: #EDEFF1;
    line-height: 1.3;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */ 
    & + pre {
      border-bottom-radius: 4px;
    }
  }

  .help-text {
    color: $muted-text;
    font-size: 11px;
  }

  // main layout


  #header {
    background: $dark-bg;
    a {
      // Nice transitions
      transition-property: background, box-shadow;
      transition-duration: 0.18s;
    }
  }
  
  #social {
    float: right;
    color: lighten($dark-bg, 30%);
    @media all and(max-width: $break-medium) {
      // Hide longer copy on medium sized screens
      .label {
        display: none;
      }
    }
    @media all and(max-width: $break-small-medium + 100) {
      // Hide gh button altogether on small sized screens
      display: none;
    }
  }

  #social a {
    img {
      position: relative;
      top: 2px;
      margin-right: 2px;
      @include opacity(0.4);
    }
    margin: 10px 0 10px 5px;
    border: none;
    color: #FFF;
    @include inline-block;
    padding: 7px 15px;
    background: lighten($dark-bg, 10%);
    border-radius: 4px;
    &:hover,
    &:focus {
      background: darken($dark-bg, 20%);
      @include box-shadow(0 0 0 2px #FFF);
      img {
        @include opacity(1);
      }
    }
  }

  // nav in header
  #nav {
    padding: 10px 0;
    float: left;
    a {
      color: #FFF;
      padding: 8px 10px;
      @include inline-block;
      margin-right: 2px;
      &:link,
      &:visited {
        border: none;
        @include opacity(0.75);
      }
      &:hover,
      &:active,
      &:focus,
      &.active {
        @include opacity(1);
        border-radius: 4px;
        background: darken($dark-bg, 10%);
      }
    }
  }

  #banner {
    margin: 0 0 20px;
    background: #DADEE2;
    padding: 20px 0;
    .inner-content {
      @include container;
      margin: 0 auto;
      position: relative;
      height: 100%;
      overflow: hidden;
    }
    h1 {
      @include display-font;
      font-size: 122px;
      line-height: 0.9;
    }
    .intro {
      font-size: 21px;
      color: #6d6f71;
      line-height: 1.33;
      margin: 0 0 12px;
    }
    // Offset
    .btn, .intro {
      margin-left: 4px;
    }
    .btn {
      width: 40%;
      text-align: center;
      &:last-child {
        background: #18788b;
        &:hover {
          background: #000;
        }
      }
    }
    img {
      margin: 20px auto 0;
      max-width: 90%;
    }
    .img-holder {
      display: none;
    }
    @media all and (min-width: $break-large) {
      height: 303px;
      padding: 0;
      .img-holder {
        display: block;
        text-align: center;
        @include span-columns(4,8);
        img {
          max-width: 320px;
        }
      }
      .copy {
        margin-top: 50px;
        @include span-columns(4 omega,8);
      }
    }
  }
  
  .btn {
    background: #1da8c4;
    border: none;
    padding: 4px 9px;
    @include inline-block;
    line-height: 28px;
    color: #FFF;
    font-weight: 600;
    &:link,
    &:visited {
      color: #FFF;
      border: none;
    }
    &:hover,
    &:focus {
      background: #000;
      @include box-shadow(0 0 0 2px #FFF);
    }
    border-radius: 3px;
  }

  #footer {
    border-top: 1px solid #DDD;
    margin: 0 auto;
    padding-top: 12px;
    padding-bottom: 12px;
    color: $muted-text;
    overflow: hidden;
    a {
      @include muted-links;
    }
    @media all and (min-width: $break-large) {
      p:first-child {
        float: left;
      }
      p:last-child {
        float: right;
      }
    }
  }

  // home specific

  #clank-summary {
    margin: 0 0 20px;
    overflow: hidden; // clearing
    h3 {
      margin: 12px 0 4px;
    }
    @media all and (min-width: 500px) {
      .col {
        @include span-columns(3);
      }
      .col:last-child {
        @include omega;
      }
    }
  }

  // docs specific

  #docs {
    #docs-nav {
      h4 {
        margin-top: 0;
        margin-bottom: 4px;
      }
      ul {
        padding: 0;
        margin-top: 0;
      }
    }
    #content {
      article {
        font-size: 14px;
      }
      h2 {
        margin-top: 0;
      }
    }
  }

  @media all and (max-width: $break-medium - 1) {
    #docs-nav {
      padding: 12px 20px 0;
    }
    #docs #content {
      padding: 0 20px 12px 20px;
    }
  }

  // Layout
  @media all and (min-width: $break-medium) {

    #docs {
      @include container;
      #docs-nav {
        @include span-columns(1);
        margin: 32px 0 0;
        h4 {
          margin-top: 0;
          margin-bottom: 4px;
        }
        ul {
          padding: 0;
          margin-top: 0;
        }
      }
      #content {
        @include span-columns(5);
        @include omega;
        article {
          max-width: 740px;
          font-size: 14px;
          padding: 20px;
        }
        h2 {
          margin-top: 0;
        }
      }
    }

  }

  // Blog specific

  @media all and (max-width: $break-large - 1) {
    #blog-nav {
      padding: 12px 20px 0;
    }
    #blog-content {
      padding: 20px;
    }
  }

  @media all and (min-width: $break-large) {
    #blog {
      @include container;
      padding: 20px 0 0;
      #blog-nav {
        @include span-columns(2);
        @include omega;
      }
      #blog-content {
        @include span-columns(4);
      }
      #blog-single {
        @include prefix(1);
        @include span-columns(4);
      }
      article {
        max-width: 600px;
      }
    }
  }

  #blog {
    article {
      font-size: 14px;
      @include micro-clearfix;
    }
    img {
      max-width: 100%;
    }
    h2 {
      margin-top: 0;
    }
  }

  #blog-nav {
    a {
      @include muted-links;
    }
    h4 {
      margin-top: 12px;
    }
    .date {
      color: #BBB;
      font-size: 11px;
    }
  }

  .bordered-list {
    margin: 0;
    padding: 0;
    span {
      display: inline-block;
      text-align: right;
      float: right;
    }
    li {
      clear: both;
      list-style: none;
      padding: 0 0 4px;
      margin: 0 0 4px;
      border-bottom: 1px solid #EEE;
      &:last-child {
        border: none;
      }
      a {
        @include no-underlines;
        cursor: pointer;
      } 
    }
  }

  #blog article {
    header {
      p {
        color: #999;
      }
    }
    ul,
    ol {
      padding: 0;
      margin: 0;
      li {
        margin-left: 24px;
      }
    }
    h1 {
      @include display-font;
      text-transform: none;
      a {
        color: darken($link-color, 10%);
        border: none;
        &:hover {
          color: #000;
        }
      }
    }
    img.shaded {
      @include box-shadow(2px 2px 2px rgba(0,0,0,0.15), 0 0 0 1px rgba(0,0,0,0.1));
      
    }
    margin: 0 0 24px;
    padding: 0 0 24px;
    border-bottom: 1px solid #DDD;
    &:last-child {
      margin: 0;
      border: none;
      padding: 0;
    }
  }

  // Blog comments using Disqus
  #disqus_thread {
    max-width: 600px;
  }

  // 404
  #error404 {
    background: #EEE;
    text-align: center;
    padding: 40px;
  }

  // Fluid vids
  .video-wrapper {
    position: relative;
    padding-bottom: 66.67%; /* 3:2 */
    &.aspect-16-9 {
      padding-bottom: 56.25%; /* 16:9 */
    }
    padding-top: 25px;
    height: 0;
  }
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

}

// Demo layout

#demo-app .content-wrapper {
  @include clearfix;
  height: 100%;
  width: 100%; // Firefox fix
  @include calc("height", "100% - 45px");
}

/****
  Clank
  demo specific
****/

#layout-demo, html {
  height: 100%;
}

#demo-app {
  height: 100%;
  position: relative;
}

#demo-app {
  @include calc("height", "100% - 59px");
}

// Device controls

.cl-device-controls {
  font-size: 14px;
  font-family: Arial, sans-serif;
  
  @include gradient-vertical(#d1d6da, #c1ccd3);
  @include pie-clearfix;
  width: 100%;
  line-height: 44px;
  height: 44px;
  
  border-bottom: 1px solid rgba(0,0,0,0.15);
  top: 0;

  label {
    line-height: 44px;
    margin-right: 3px;
    &:after {
      content: ":";
    }
  }
  & > div {
    width: 33%;
    text-align: center;
    float: left;
  }
  select {
    margin-top: 12px;
  }
  input[type="range"] {
    position: relative;
    // Webkit
    top: 5px;
  }
}

@-moz-document url-prefix() { 
  .cl-device-controls input[type="range"] {
    // Firefox positioning switch
    top: 2px;
  }
}

// Content layout

// Widths if there are no docs
.cl-demo-list,
.cl-device-frame,
.cl-docs-content {
  height: 100%;
  float: left;
  @include box-sizing("border-box");
}
.cl-demo-list {
  width: 10%;
}
.cl-device-frame {
  width: 90%;
}

// Widths if docs are visible

.docs-visible {
  .cl-docs-content {
    width: 30%;
  }
  .cl-device-frame {
    width: 60%;
  }
}

// Center the device within the frame
.cl-device-frame {
  padding: 15px;
  /* Compass version */
  @include display-box;
  @include box-align(center);
  @include box-pack(center);
}

// Demo list (navigation)

.cl-demo-list {
  font-size: 13px;
  font-family: Arial, sans-serif;
  overflow: hidden;
  background: #FFF;
  border-right: 1px solid rgba(0,0,0,0.15);
  height: 100%;
  line-height: 1.33;
  h4, a {
    display: block;
    border: none;
    padding: 4px;
  }
  h4 {
    margin: 12px 0 0 0;
  }
  a {
    @include default-links;
    @include no-underlines;
    &:hover {
      background: #EEE;
    }
  }
}

// Docs content
.cl-docs-content {
  border-right: 1px solid rgba(0,0,0,0.15);
  overflow: scroll;
  .cl-docs {
    padding: 15px;
  }
  font-size: 13px;
  h3:first-child {
    margin-top: 0;
  }
}