<!doctype html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} - Clank</title>
  {% if page.layout == "demo" %}
    <script src="/components/angular/angular.min.js"></script>
    <script src="/components/angular-cookies/angular-cookies.min.js"></script>
  {% endif %}

  <script src="/components/prefix-free/prefixfree.min.js"></script>
  
  <script src="/js/controllers.js"></script>
  <script src="/js/filters.js"></script>

  <link rel="stylesheet" href="/css/docs.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/css/clank.css" type="text/css" media="screen">
</head>