<div class="cl-docs">
  <div id="header">
    <div class="inner-content">
      <nav id="nav">
        <a {% if page.title == "Home" %}class="active"{% endif %} href="/">Home</a>
        <a {% if page.title == "Documentation" %}class="active"{% endif %} href="/documentation.html">Documentation</a>
        <a {% if page.title == "Demo" %}class="active"{% endif %} href="/demos/">Demo</a>
        <a {% if page.title == "Blog" %}class="active"{% endif %} href="/blog.html">Blog</a>
      </nav>
      <div id="social">
        <span>Follow Clank on:</span>
        <a class="github-link" href="https://github.com/Wolfr/clank">Github</a>
        <a class="twitter-link" href="https://twitter.com/getclank">Twitter</a>
      </div>
    </div>
  </div>
</div>