// Base for table view

.cl-table {
  @include pie-clearfix;
  @include unstyled;
  padding: 10px 0;
  width: 90%;
  @include calc("width", "100% - 20px");
  & + .cl-table {
    padding-top: 0;
  }
}

// Table view titles

.cl-table-title {
  padding: 0;
  margin: 10px 10px 0 20px;
  font-size: 12px;
  font-weight: 700;
  color: #666;
  & + .cl-table {
    padding-top: 5px;
  }
  & + .input-group {
    padding-top: 5px;
  }
}

.cl-table-title-extended {
  @extend .cl-table-title;
  margin-left: 10px;
}


// Table view cell
.cl-table-cell {
  font-size: 14px;
  min-height: 44px;
  position: relative;
  width: 100%;
  @include table-cell-skin;
  &:hover,
  &:active,
  &:focus {
    @include table-cell-skin-hover;
  }
}

.cl-table > .cl-table-cell {
  margin: 0 10px;
  &:first-child {
    @include border-top-radius($default-border-radius/2);
  }
  &:last-child {
    @include border-bottom-radius($default-border-radius/2);
  }
}

.cl-table-row {
  margin: 0 10px;
  @include pie-clearfix;

  // Flex for eq heights
  display: -webkit-flex;
  -webkit-align-items: stretch;

  & > .cl-table-cell {
    @include pie-clearfix;
    &:first-child {
      float: left;
    }
    &:last-child {
      float: right;
    }
  }
}

.cl-table-row {
  .cl-table-cell {
    &:first-child {
      @include calc(width, "50% - 1px");
    }
    &:last-child {
      @include calc(width, "50%");
    }
  }
  &.split-2-3 {
    .cl-table-cell {
      &:first-child {
        @include calc(width, "40% - 1px");
      }
      &:last-child {
        @include calc(width, "60% - 1px");
      }
    }
  }
  &.split-3-7 {
    .cl-table-cell {
      &:first-child {
        @include calc(width, "30% - 1px");
      }
      &:last-child {
        @include calc(width, "70%");
      }
    }
  }
  &.split-1-3 {
    .cl-table-cell {
      &:first-child {
        @include calc(width, "25% - 1px");
      }
      &:last-child {
        @include calc(width, "75%");
      }
    }
  }
}

// Different components of a cell

.cl-table-cell {

  a {
    display: block;
    padding: 10px;
    min-height: 44px;
    font-weight: 700;
    color: #000;
    border: none;
  }
  
  & > p {
    display: block;
    padding: 10px;
    margin: 0;
  }

  // The main title
  .label {
    font-size: 16px;
    line-height: 24px; // based on iOS @todo refactor android
    font-weight: 700;
    margin: 0;
    padding: 0;
  }
  
  // Secondary help
  .disclosure-help {
    font-weight: 400;
    position: absolute;
    top: 35%;
    right: 30px;
    color: #AAA;
  }
  
  // Smaller meta info
  .meta {
    font-weight: 400;
    @include opacity(0.66);
    font-size: 12px;
    margin: 0;
    padding: 0;
  }
  
  // Disclosure arrow
  .icon-ios-arrow-right {
    font-size: 19px;
    position: absolute;
    top: 26%;
    right: 10px;
    font-weight: 700;
    color: #AAA;
  }

}

.cl-table {
  .cl-table-row:first-child {
    .cl-table-cell:first-child {
      @include border-top-left-radius($default-border-radius/2);
    }
    .cl-table-cell:last-child {
      @include border-top-right-radius($default-border-radius/2);
    }
  }
  .cl-table-row:only-child {
    .cl-table-cell:first-child {
      @include border-left-radius($default-border-radius/2);
    }
    .cl-table-cell:last-child {
      @include border-right-radius($default-border-radius/2);
    }
  }
  .cl-table-row:last-child {
    .cl-table-cell:first-child {
      @include border-bottom-left-radius($default-border-radius/2);
    }
    .cl-table-cell:last-child {
      @include border-bottom-right-radius($default-border-radius/2);
    }
  }

}

// Control to view all items
// @todo scope this

.view-all {
  @include pie-clearfix;
  @include table-cell-skin;

  @include gradient-vertical(#DADADA,#CECECE);
  text-transform: uppercase;
  font-size: 12px;
  @include text-shadow-white;
  & > a {
    display: block;
    padding: 10px;
  }
  & > label {
    display: block;
    padding: 10px;
  }
  text-align: center;
}

// Cells that extend to the window/screen edges

.cl-table__extended {
  @extend .cl-table;
  // overwrite extended .cl-table
  width: 100%;
  .icon-arrow-right {
    right: 10px;
  }
  a {
    display: block;
  }
  .cl-table-cell {
    @include border-radius(0);
    .cl-table-cell {
      @include border-radius(0);
    }
    margin: 0 0 1px;
    @if $shadows {
      margin: 0;
    }
  }
}
