<!doctype html>
<html ng-app="myApp">
<head>
    <script src="components/angular/angular.js"></script>
    <script src="components/angular-cookies/angular-cookies.min.js"></script>
    
    <script src="components/prefix-free/prefixfree.min.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/application.css">
</head>
<body ng-controller="DeviceCtrl">

  <div class="controls top">
    <div>
      <label for="deviceChoice">Device</label>
      <select ng-model="deviceChoice" id="deviceChoice" ng-options="p.name for p in devices" ng-change="saveDeviceChoice()"></select>
    </div>
    <div>
      <label for="deviceOrientation">Orientation</label>
      <select ng-model="deviceOrientation" id="deviceOrientation"  ng-options="p.name for p in deviceOrientations" ng-change="saveDeviceOrientation()"></select>
    </div>
    <div>
      <label for="deviceSize">Size</label>
      <input type="range" ng-model="deviceSize" min="0.1" max="1" step=".01">
    </div>
  </div>

  <div class="frame">
    <div class="phone-wrap" style="-webkit-transform: scale({{deviceSize}}); -moz-transform: scale({{deviceSize}});" data-os="{{ deviceChoice.os | lowercase | removewhitespace }}" data-device="{{ deviceChoice.name | lowercase | removewhitespace }}-{{ deviceOrientation.name | lowercase }}">
      <div class="device-body">

        <div class="ios-status" ng-show="deviceChoice.os == 'iOS'">
          <span>
            <span class="signals">
              <span class="signal1"></span>
              <span class="signal2"></span>
              <span class="signal3"></span>
              <span class="signal4"></span>
              <span class="signal5"></span>
            </span>
            <span class="carrier">Bell</span>
            <!-- <span>Wifi</span> -->
          </span>
          <span class="clock">20:49</span>
          <span>
            <span>3G</span>
            <span class="icon-ios-alarm"></span>
            <span class="icon-ios-locate"></span>
            <span class="icon-ios-lock"></span>
            <span class="icon-ios-battery"></span>
          </span>
        </div>


        <div class="android-status" ng-show="deviceChoice.os == 'Android'">
          <!-- <span>
            <span>Notification</span>
            <span>Notification</span>
            <span>Notification</span>
          </span> -->
          <span>
            <!-- <span>Bluetooth</span> -->
            <span class="icon-android-battery"></span>
            <span class="icon-android-network"></span>
            <span class="icon-android-wifi"></span>
            <span>20:49</span>
          </span>
        </div>
        
        <div class="android-software-buttons" ng-show="deviceChoice.os == 'Android'">
          <span>
            <span>Back</span>
            <span>Home</span>
            <span>Apps</span>
          </span>
        </div>

        <div class="page page-detail">
          <div class="bar-title">
            <div>
              <a href="#" class="btn"><span><span>My button</span></span></a>
              <div class="title">Page title</div>
              <a href="#" class="btn"><span><span>Another button</span></span></a>
            </div>
          </div>
          <div class="content article">
            <div>
              <!-- Hello I am the content -->
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consequat ipsum quis odio semper in ultricies felis porta. Ut non erat eu dui malesuada ullamcorper in in orci. Nam ut aliquet tellus. Morbi ut urna tincidunt felis rhoncus tincidunt. Proin ac aliquet justo. In venenatis bibendum dui accumsan tincidunt. Integer blandit auctor metus vitae auctor. Mauris ut magna imperdiet leo malesuada varius in quis massa. Etiam mauris erat, porta id aliquam at, luctus nec justo. Sed erat mauris, pulvinar eu iaculis et, vehicula non purus. In venenatis placerat sem quis congue. Vestibulum est dolor, luctus quis laoreet id, aliquam eu dui. Sed tortor dui, commodo eget sagittis et, pulvinar quis velit. Praesent eget ligula vel purus hendrerit sagittis. Sed vitae purus ipsum. Fusce placerat metus quis nisi mollis non faucibus odio tempor.</p>
              <p>Nullam tincidunt, eros at dictum posuere, augue turpis dapibus lacus, mollis sagittis neque augue ac lorem. Fusce felis mi, rhoncus vel fermentum a, elementum eu ligula. Curabitur orci ipsum, laoreet sit amet fringilla quis, hendrerit in nisl. Ut posuere orci non quam tempor vel interdum elit egestas. Cras interdum elit ut dui convallis ac semper erat viverra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum eu sem felis, venenatis mollis lacus. Nulla facilisi. Integer ante lorem, eleifend et ornare vel, congue sit amet nulla. Quisque sed turpis id purus tempus dictum. Vestibulum quis ante dui. Aenean ligula sem, pulvinar vel vestibulum nec, laoreet nec risus.</p>
              <p>Vivamus nec massa nec urna cursus dapibus a ut est. Vivamus quam metus, malesuada ac aliquam eu, iaculis vitae lacus. Etiam rhoncus, massa in rhoncus cursus, mauris lectus volutpat ipsum, ut adipiscing lorem lacus et dui. Nunc laoreet, turpis nec ultrices bibendum, metus quam porttitor augue, vel rutrum magna arcu sed purus. Fusce eget metus mattis diam lacinia tincidunt. Pellentesque sapien dui, dictum sed ullamcorper dignissim, ultrices at elit. Duis suscipit sodales mauris, a aliquam felis consectetur eu. Sed tortor nisl, aliquam quis pulvinar mollis, auctor ut risus. Maecenas quis justo et nulla luctus ultrices vulputate at eros. Praesent et sapien sit amet nisl suscipit vehicula et sed enim. Duis nec sem turpis. Vivamus vitae mi massa. Suspendisse dolor lacus, dapibus rhoncus molestie vel, cursus a lorem. Fusce consectetur mollis placerat.</p>
              <p>Integer a nibh in sem ultricies lacinia. Praesent in tortor vel eros suscipit fermentum a quis leo. Quisque vitae felis semper sem sagittis fringilla vel et eros. Curabitur ut gravida tortor. Quisque porta congue pulvinar. Donec eleifend congue iaculis. Mauris non ornare nibh. Nulla elit lacus, egestas ut vulputate et, tristique ut mauris. Morbi adipiscing egestas neque vitae consequat. Nulla facilisi.</p>
              <p>Phasellus convallis dapibus ultricies. Donec leo nunc, porta a vestibulum quis, commodo non mi. Donec vel eros neque, vitae ultricies elit. Aenean molestie metus id augue suscipit dapibus ultricies arcu aliquam. Morbi egestas velit vitae neque gravida sit amet vestibulum urna adipiscing. Duis a nisl a orci consequat iaculis. Duis laoreet blandit turpis, non vulputate sem vulputate ut. Sed quis ligula sed urna interdum vestibulum.            </div></p>
          </div>
          <div class="bar-footer">
            <div>
              <a href="#" class="btn"><span><span>My button</span></span></a>
              <a href="#" class="btn"><span><span>Another button</span></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="controls bottom">
    <p><span ng-show="deviceChoice">{{ deviceChoice.name }} - {{ deviceOrientation.name }}</span></p>
  </div>

</body>
</html>