<!doctype html>
<html ng-app="myApp">
<head>
    <script src="components/angular/angular.js"></script>
    <script src="components/prefix-free/prefixfree.min.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <link rel="stylesheet" href="css/test.css"/>
</head>
<body>

<h1>Device selector</h1>

<div ng-controller="DeviceCtrl">

  <div class="controls">
    <div>
      <label for="deviceChoice">Device</label>
      <select ng-model="deviceChoice" id="deviceChoice" ng-options="p for p in devices"></select>
    </div>
    <div>
      <label for="deviceOrientation">Orientation</label>
      <select ng-model="deviceOrientation" ng-options="p for p in deviceOrientations"></select>
    </div>
    <div>
      <label for="deviceSize">Size</label>
      <input type="range" ng-model="deviceSize" min="0.1" max="1" step=".01">
    </div>
  </div>

  <div ng-show="deviceOrientation">
      <div ng-show="deviceChoice">

          <!-- Display selected device here -->
          <img style="-webkit-transform: scale({{deviceSize}});" ng-show="deviceChoice" src="images/{{ deviceOrientation | lowercase }}/{{ deviceChoice | removewhitespace | lowercase }}.png">

          <!-- Display label here -->
          <p><span ng-show="deviceChoice">{{ deviceChoice }} - {{ deviceOrientation }}</span></p>

      </div>
  </div>

</div>

</body>
</html>
