/* 
 * Font Custom: bare CSS
 */

@font-face {
  font-family: "app";
  src: url("../scss/clank/icon-fonts/app/app.eot");
  src: url("../scss/clank/icon-fonts/app/app.eot?#iefix") format("embedded-opentype"),
       url("../scss/clank/icon-fonts/app/app.woff") format("woff"),
       url("../scss/clank/icon-fonts/app/app.ttf") format("truetype"),
       url("../scss/clank/icon-fonts/app/app.svg#app") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon-app-add:before,
.icon-app-arrow-down:before,
.icon-app-arrow-left:before,
.icon-app-arrow-right:before,
.icon-app-arrow-up:before,
.icon-app-circle:before,
.icon-app-list:before,
.icon-app-minus:before,
.icon-app-square:before {
  font-family: "app";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.icon-app-add:before { content: "\f100"; }
.icon-app-arrow-down:before { content: "\f101"; }
.icon-app-arrow-left:before { content: "\f102"; }
.icon-app-arrow-right:before { content: "\f103"; }
.icon-app-arrow-up:before { content: "\f104"; }
.icon-app-circle:before { content: "\f105"; }
.icon-app-list:before { content: "\f106"; }
.icon-app-minus:before { content: "\f107"; }
.icon-app-square:before { content: "\f108"; }
