/*
  Clank docs controls
*/

.cl-docs-controls {
  z-index: 2;
  position: absolute;
  left: 0;
}

// Top AND bottom

.cl-docs-controls--top,
.cl-docs-controls--bottom {
  
  @include gradient-vertical(#d1d6da, #c1ccd3);
  
  width: 100%;
  line-height: 44px;
  height: 44px;
  label {
    line-height: 44px;
  }
  select {
    margin-top: 12px;
  }
  
  /* flexbox setup */
  display: flex;
  flex-direction: row;
  & > div {
   flex: auto;
   justify-content: center;
   line-height: 24px;
   display: flex;
 }
}

// Top

.cl-docs-controls--top {
  border-bottom: 1px solid rgba(0,0,0,0.15);
  top: 0;
}

.cl-docs-controls--top label {
  margin-right: 3px;
  &:after {
    content: ":";
  }
}

// Bottom
.cl-docs-controls--bottom {
  border-top: 1px solid rgba(0,0,0,0.15);
  bottom: 0;
  p {
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
  }

}

// Left
.cl-docs-controls--left {
  background: #FFF;
  border-right: 1px solid rgba(0,0,0,0.15);
  width: 120px;
  left: 0;
  top: 46px;
  height: 100%;
  @include calc("height", "100% - 90px");
  a {
    display: block;
    border: none;
    padding: 4px;
    &:hover {
      background: #EEE;
    }
  }
}