<div class="cl-page">
  <div class="cl-bar-title">
    <div>
      <a href="index.html" class="cl-btn">Back</a>
      <div class="cl-title">Demo</div>
    </div>
  </div>
  <div class="cl-content">

    <!-- Alert with no buttons -->
    <!-- <div class="cl-alert">
      <div class="cl-alert-box">
        <h3 class="cl-alert-title">This is an alert title.</h3>
        <p class="cl-alert-message">This is an alert message.</p>
      </div>
    </div> -->

    <!-- Alert with 1 button -->
    <!-- <div class="cl-alert">
      <div class="cl-alert-box">
        <h3 class="cl-alert-title">This is an alert title.</h3>
        <p class="cl-alert-message">This is an alert message.</p>
        <a href="#" class="cl-btn">OK</a>
      </div>
    </div> -->

    <!-- Alert with 2 buttons -->
    <div class="cl-alert">
      <div class="cl-alert-box">
        <h3 class="cl-alert-title">This is an alert title.</h3>
        <p class="cl-alert-message">This is an alert message. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <div class="cl-btn-toolbar">
          <a href="#" class="cl-btn">Cancel</a>
          <a href="#" class="cl-btn cl-btn-primary">OK</a>
        </div>
      </div>
    </div>

  </div>
</div>