<div class="cl-page">
  <div class="cl-bar-title">
    <p class="cl-bar-text">This is text on the bar</p>
    <a class="cl-btn" href="#">This is a button</a>
  </div>
  <div class="cl-content">
    <div class="cl-article">
      <p>A content bar:</p>
    </div>
    <div class="cl-bar">
      <p class="cl-bar-text">This is text on the bar</p>
      <a class="cl-btn" href="#">This is a button</a>
    </div>
    <div class="cl-bar">
      <p class="cl-bar-text">This is text on the bar</p>
      <a class="cl-btn align-left" href="#">This is a button</a>
    </div>
  </div>
</div>