<div class="cl-page">
  <div class="cl-bar-title">
    <a href="index.html" class="cl-btn">Back</a>
    <h1 class="cl-title">Buttons</h1>
    <a href="#" class="cl-btn align-right">Button</a>
  </div>
  <div class="cl-content cl-content__has-footer">
    <div class="cl-article">
      <p>A button in the content area:</p>
    </div>
    <a class="cl-btn">Label</a>
    <div class="cl-article">
      <p>A primary button:</p>
    </div>
    <a class="cl-btn cl-btn-primary">Label</a>
  </div>
  <div class="cl-bar-footer">
    <a href="#" class="cl-btn">Button</a>
    <a href="#" class="cl-btn align-center">Button</a>
    <a href="#" class="cl-btn align-right">Button</a>
  </div>
</div>