<div class="cl-page">
  <div class="cl-bar-title">
    <h1 class="cl-title">Button toolbars</h1>
  </div>
  <div class="cl-content">

    <div class="cl-article">
      <p>2 buttons, positioned:</p>
    </div>
    <div class="cl-btn-toolbar">
      <a class="cl-btn cl-btn">Label</a>
      <a class="cl-btn cl-btn-primary">Label</a>
    </div>
    <div class="cl-article">
      <p>3 buttons, positioned:</p>
    </div>
    <div class="cl-btn-toolbar">
      <a class="cl-btn cl-btn">Label</a>
      <a class="cl-btn cl-btn-primary">Label</a>
      <a class="cl-btn cl-btn">Label</a>
    </div>
    <div class="cl-article">
      <p>4 buttons, positioned:</p>
    </div>
    <div class="cl-btn-toolbar">
      <a class="cl-btn cl-btn">Label</a>
      <a class="cl-btn cl-btn">Label</a>
      <a class="cl-btn cl-btn">Label</a>
      <a class="cl-btn cl-btn">Label</a>
    </div>
    <div class="cl-article">
      <p>5 buttons, positioned:</p>
    </div>
    <div class="cl-btn-toolbar">
      <a class="cl-btn cl-btn">X</a>
      <a class="cl-btn cl-btn">X</a>
      <a class="cl-btn cl-btn">X</a>
      <a class="cl-btn cl-btn">X</a>
      <a class="cl-btn cl-btn">X</a>
    </div>

  </div>
</div>