<div class="cl-page">
  <div class="cl-bar-title">
    <h1 class="cl-title">Button groups</h1>
  </div>
  <div class="cl-content">
    
    <style type="text/css" media="screen">
    /* Just fior this demo */
    .cl-btn-group {
      margin-top: 10px;
    }
    </style>

    <div class="cl-btn-group">
      <a href="#" class="cl-btn">One</a>
      <a href="#" class="cl-btn">Two</a>
    </div>
    
    <div class="cl-btn-group">
      <a href="#" class="cl-btn">One</a>
      <a href="#" class="cl-btn">Two</a>
      <a href="#" class="cl-btn">Three</a>
    </div>

    <div class="cl-btn-group">
      <a href="#" class="cl-btn">One</a>
      <a href="#" class="cl-btn">Two</a>
      <a href="#" class="cl-btn">Three</a>
      <a href="#" class="cl-btn">Four</a>
    </div>

  </div>
</div>