<div class="slider">
  <ul>
    <li>
      <div class="card">
        Content 1
      </div>
    </li>
    <li>
      <div class="card">
        Content 2
      </div>
    </li>
    <li>
      <div class="card">
        Content 3
      </div>
    </li>
  </ul>
</div>

<div class="paginated">
  <div class="pagination">
      <a data-transition="slide-out" href="page-walkthrough.html" class="active">•</a>
      <a data-transition="slide-in" href="#">•</a>
      <a data-transition="slide-in" href="#">•</a>
  </div>
</div>