<!doctype html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>Demo - Clank</title>
  <script src="/components/angular/angular.js"></script>
  <script src="/components/angular-cookies/angular-cookies.min.js"></script>

  <script src="/components/prefix-free/prefixfree.min.js"></script>
  
  <script src="/js/controllers.js"></script>
  <script src="/js/filters.js"></script>

  <link rel="stylesheet" href="/css/docs/screen.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/css/clank/application.css" type="text/css" media="screen">
</head>
<body>
  
  <div id="header">
  <div class="inner-content">
    <nav id="nav">
      <a href="/">Home</a>
      <a href="/documentation.html">Documentation</a>
      <a href="/demo.html">Demo</a>
      <a href="/blog.html">Blog</a>
    </nav>
    <a class="github-link" href="https://github.com/Wolfr/clank">Follow Clank on Github</a>
  </div>
</div>

  <div id="demo-app" ng-controller="DeviceCtrl">

  <div class="cl-docs-controls cl-docs-controls--top">
    <div>
      <label for="deviceChoice">Device</label>
      <select ng-model="deviceChoice" id="deviceChoice" ng-options="p.name for p in devices" ng-change="saveDeviceChoice()"></select>
    </div>
    <div>
      <label for="deviceOrientation">Orientation</label>
      <select ng-model="deviceOrientation" id="deviceOrientation" ng-options="p.name for p in deviceOrientations" ng-change="saveDeviceOrientation()"></select>
    </div>
    <div>
      <label for="deviceSize">Size</label>
      <input type="range" ng-model="deviceSize" min="0.1" max="1" step=".01">
    </div>
  </div>

  <div class="cl-device-frame">
    <div class="cl-phone-wrap" style="-webkit-transform: scale({[{deviceSize}]}); -moz-transform: scale({[{deviceSize}]});" data-os="{[{ deviceChoice.os | lowercase | removewhitespace }]}" data-device="{[{ deviceChoice.name | lowercase | removewhitespace }]}-{[{ deviceOrientation.name | lowercase }]}">
      <div class="cl-device-body">

        <div class="cl-ios-status" ng-show="deviceChoice.os == 'iOS'">
          <span>
            <span class="signals">
              <span class="signal1"></span>
              <span class="signal2"></span>
              <span class="signal3"></span>
              <span class="signal4"></span>
              <span class="signal5"></span>
            </span>
            <span class="carrier">Bell</span>
            <!-- <span>Wifi</span> -->
          </span>
          <span class="clock">20:49</span>
          <span>
            <span>3G</span>
            <span class="icon-ios-alarm"></span>
            <span class="icon-ios-locate"></span>
            <span class="icon-ios-lock"></span>
            <span class="icon-ios-battery"></span>
          </span>
        </div>


        <div class="cl-android-status" ng-show="deviceChoice.os == 'Android'">
          <!-- <span>
            <span>Notification</span>
            <span>Notification</span>
            <span>Notification</span>
          </span> -->
          <span>
            <!-- <span>Bluetooth</span> -->
            <span class="icon-android-battery"></span>
            <span class="icon-android-network"></span>
            <span class="icon-android-wifi"></span>
            <span>20:49</span>
          </span>
        </div>
        
        <div class="cl-android-software-buttons" ng-show="deviceChoice.os == 'Android'">
          <span>
            <span>Back</span>
            <span>Home</span>
            <span>Apps</span>
          </span>
        </div>

        <div class="cl-page cl-page-welcome">
          <div class="cl-bar-title">
            <h1 class="cl-title">Welcome to Clank</h1>
          </div>
          <div class="cl-content">
            <div class="cl-article">
              <p>You are looking at Clank, an open source prototyping framework for mobile apps. Think of it as Twitter Bootstrap but for prototyping native apps.</p>
            </div>
            <h3 class="cl-table-title">Demos</h3>
            <div class="cl-table">
              <div class="cl-table-cell">
                <a href="demo.html">
                  <span class="label">Why Clank?</span>
                </a>
              </div>
              <div class="cl-table-cell">
                <a href="demo.html">
                  <span class="label">Why Clank?</span>
                </a>
              </div>
              <div class="cl-table-cell">
                <a href="demo.html">
                  <span class="label">Why Clank?</span>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="cl-docs-controls cl-docs-controls--bottom">
    <p><span ng-show="deviceChoice">{[{ deviceChoice.name }]} - {[{ deviceOrientation.name }]}</span></p>
  </div>
 </div>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41356995-1', 'getclank.com');
  ga('send', 'pageview');

</script>


</body>
</html>