<!doctype html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} - Clank</title>
  {% if page.layout == "demo" %}
    <script src="/components/prefix-free/prefixfree.min.js"></script>

    <!-- Angular -->
    <script src="/components/angular/angular.min.js"></script>
    <script src="/components/angular-cookies/angular-cookies.min.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/filters.js"></script>

    <!-- Polyfills -->
    <script src="/js/polyfills/html5slider.js" type="text/javascript"></script>

    <!-- Zepto -->
    <script src="/components/zepto/zepto.min.js" type="text/javascript" charset="utf-8"></script>

    <!-- Ratchet -->
    <script src="/js/ratchet/sliders.js"></script>
    <script src="/js/ratchet/toggles.js"></script>
    <!-- <script src="/js/ratchet/push.js"></script> -->

    <!-- Clank -->
    <script src="/js/ratchet/fingerblast.js"></script>
    <script src="/js/clank.js"></script>
  {% endif %}

  <link rel="stylesheet" href="/css/docs.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/css/clank.css" type="text/css" media="screen">

</head>