
// Button positioning
.cl-bar-title,
.cl-bar-footer,
.cl-bar {
  // If no aligment is specified align left
  .cl-btn {
    position: absolute;
    top: 0;
    left: 0;
  }
  .cl-title + .btn, // if there is a button right after .title it should probably be right aligned
  .cl-btn:last-child { // if there is a button the last child it should probably be right aligned
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
  }
  .cl-btn.align-center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 232px; // 320 - 44 - 44
  }
  .cl-btn.align-right {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
  }
}
