@import "compass";

@import "base";
@import "mixins";
@import "device_wraps";
@import "controls";
@import "os_chrome";

@import "components/headers-footers";
@import "components/buttons";
@import "components/code-example";
@import "components/typography";
@import "components/button-positioning";
@import "components/table-view";
@import "components/help-txt";


@import "icon-fonts/ios"; // System icons ios
@import "icon-fonts/android"; // System Android
@import "icon-fonts/my_app"; // App specific icons ios

// Page level

.cl-page {
  text-align: left;
  font-family: "Roboto", Arial;
  font-size: 13px;
  word-wrap: break-word;
  height: 100%;
  @include calc("height","100% - 20px"); // minus status bar height

  -webkit-font-smoothing: antialiased;
  .cl-content {

    background: #FFF;
  }
}

.cl-page-welcome,
.cl-page-table-view {
  .cl-content {
    background: #EEE;
  }
}