/* ==========================================================================
   Base layout
   ========================================================================== */

/* Page level */

.cl-page {
  text-align: left;
  font-size: 13px;
  word-wrap: break-word;
  width: 100%;
  height: 100%;
  @include calc("height","100% - 20px"); /* minus status bar height */
  -webkit-font-smoothing: antialiased;
}

/* Content */

.cl-content {
  background: mix($very-light-color, $light-color, 50%);

  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  -webkit-overflow-scrolling: touch;

  height: 100%;

  @include calc(height, "100% - 44px");
  [data-os="android"] & {
    @include calc(height, "100% - 50px");
  }

  &.has-footer-bar {
    @include calc(height, "100% - 88px");
    [data-os="android"] & {
      @include calc(height, "100% - 100px");
    }
  }

  &.cl-content__full-height {
    .full-height {
      height: 100%;
    }
  }
}

/* Bar layout */

.cl-bar-title,
.cl-bar,
.cl-bar-footer {
  @include pie-clearfix;
  overflow: hidden;
  width: 100%;
  // default
  min-height: $ios-bar-size;
  height: $ios-bar-size;
  [data-os="android"] & {
    min-height: $android-bar-size;
    height: $android-bar-size;
  }
  position: relative;
}

.cl-bar-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.cl-bar-title {
  .cl-title {
    text-align: center;
    // default
    line-height: $ios-bar-size;
    [data-os="ios"] & {
      font-weight: 500;
    }
    [data-os="android"] & {
      line-height: $android-bar-size;
    }
    margin: 0 auto;
    -webkit-hyphens: auto;
  }
}


/**
 * Text in a bar
 * sample markup: <p class="cl-bar-text">My text</p>
 */

.cl-bar-text {
  margin: 0;
  padding: 0;

  color: $very-light-color;

  // default
  line-height: $ios-bar-size;
  [data-os="android"] & {
    line-height: $android-bar-size;
  }
  .cl-bar &,
  .cl-bar-title &,
  .cl-bar-footer & {
    margin: 0 10px;
  }
  @if $text-shadows {
    @include text-shadow-black;
  }
  &.align-left {
    margin-left: 7px;
  }
  &.align-right {
    text-align: right;
    margin-right: 7px;
  }
}

/**
 * Bar title
 * Sample markup: <h1 class="cl-title"></h1>
 */

.cl-title {
  font-size: 20px;
  margin: 0;
  font-weight: 700;
  white-space: nowrap;
  text-align: center;

  // Depends on the accent color
  @include determine-text-color($accent-color);

  // default
  line-height: $ios-bar-size;
  [data-os="android"] & {
    line-height: $android-bar-size;
  }
}

/**
 * Bar backgrounds
 */

.cl-bar-title,
.cl-bar-footer,
.cl-bar {
  @if $gradient {
    @include gradient-vertical(lighten($accent-color, 10%), $accent-color);
    /* iOS styles insets highlight and bottom border on header */
    /* The upper highlight */
    &:before {
      content: " ";
      height: 1px;
      width: 100%;
      background: lighten($accent-color, 15%);
      position: absolute;
      top: 0;
      left: 0;
    }
    /* The darker bottom */
    &:after {
      content: " ";
      height: 1px;
      width: 100%;
      background: darken($accent-color, 15%);
      position: absolute;
      bottom: 0;
      left: 0;
    }
  } @else {
    background: $accent-color;
  }
}

.cl-bar-footer {
  background: #FFF;
  /* The upper highlight */
  &:before {
    content: " ";
    height: 1px;
    width: 100%;
    background: darken($subtle-color, 15%);
    position: absolute;
    top: 0;
    left: 0;
  }
}

/* Addition - back chevron
   ========================================================================== */

.cl-btn {
  [class^="icon-app-"],
  [class*=" icon-app-"] {
   position: absolute;
   top: 0;
   left: 10px;
 }
 .icon-ios7-back-chevron,
 .icon-android4-back-chevron {
   font-size: 140%;
   position: absolute;
   top: 0;
   left: 4px;
 }
}
