/* ==========================================================================
   Button positioning
   ========================================================================== */

/* Button positioning within page bars
   ========================================================================== */

.cl-bar-title,
.cl-bar-footer,
.cl-bar {
  // If no aligment is specified align left
  .cl-btn {
    position: absolute;
    top: 0;
    left: 0;
  }
  .cl-title + .btn, // if there is a button right after .title it should probably be right aligned
  .cl-btn:last-child { // if there is a button the last child it should probably be right aligned
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
  }
  .cl-btn.align-center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
  }
  .cl-btn.align-right {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
  }
}

/* Button positioning within toolbars (= in page content)
   ========================================================================== */

.cl-btn-toolbar {
  display: -webkit-flex;
  margin: 0 10px;
  .cl-btn {
    -webkit-flex: 1;
    &:first-child {
      margin-right: 5px;
    }
    &:nth-child(2):not(:last-child),
    &:nth-child(3):not(:last-child),
    &:nth-child(4):not(:last-child) {
      margin: 0 5px;
    }
    &:last-child {
      margin-left: 5px;
    }
    &:only-child {
      margin: 0;
    }
  }
}