/* ==========================================================================
   Button group aka segmented control
   ========================================================================== */

.cl-btn-group {
  @include clearfix;
  padding: 0 10px;
  display: -webkit-flex;
  .cl-btn {
    -webkit-flex: 1;
    padding: 0;
    border-radius: 0px;
    border-right-width: 0;
    &:first-child {
      border-bottom-left-radius: $border-radius;
      border-top-left-radius: $border-radius;
    }
    &:last-child {
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      border-right-width: 1px;
    }
    .bar &,
    .bar-title &,
    .bar-footer & {
      position: relative;
    }
  }
}