/* ==========================================================================
   Buttons
   ========================================================================== */

.cl-btn {
  @include button-skin($accent-color);
  @include button-skin-hover($accent-color);

  display: block;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  
  /* Fixes when <button> is used */
  border: none;
  -webkit-appearance: none;

  font-weight: 700;
  
  text-align: center;
  font-size: 13px;
  line-height: 32px;

  [data-os="android"] & {
    line-height: 40px;
  }

  /* Bar buttons */
  .cl-bar-title &,
  .cl-bar-footer &,
  .cl-bar & {
    padding: 0 7px;
    [data-os="android"] & {
      padding: 0 10px;
    }
    margin: 5px;
    font-size: 13px;
  }
  
  .cl-content > & {
    margin: 0 10px;
  }

  /* Less min width for icon only type buttons */
  &.cl-btn-icon-only {
    width: 35px;
    font-size: 19px;
  }
}

/* Primary buttons */
.cl-btn-primary {
  @include button-skin($accent-color-primary);
  @include button-skin-hover($accent-color);
}

/* Subtle buttons */
.cl-btn-subtle {
  @include button-skin($subtle-color);
  @include button-skin-hover($accent-color);
}

/* Subtle buttons */
.cl-btn-disabled {
  &,
  &:link,
  &:hover,
  &:active,
  &:focus {
    border: 1px solid darken($background-color, 10%);
    @include border-radius($border-radius);
    @include box-shadow(0 1px 0 rgba(0,0,0,0.2), inset 0 1px 0 rgba(255,255,255,0.2));
    background: darken($background-color, 5%);
    color: #AAA;
    text-shadow: none;
    pointer-events: none;
  }
}