/* ==========================================================================
   Tables
   ========================================================================== */

/* Base tables
   ========================================================================== */

.cl-data-table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

/* Baseline table styles
   ========================================================================== */

.cl-data-table {
  width: 100%;
  margin-bottom: 12px;
  /* Cells */
  th,
  td {
    padding: 8px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid $light-color;
  }
  th {
    font-weight: 700;
    color: $dark-color;
  }
  /* Bottom align for column headings */
  thead th {
    vertical-align: bottom;
  }
  // Remove top border from thead by default
  caption + thead tr:first-child th,
  caption + thead tr:first-child td,
  colgroup + thead tr:first-child th,
  colgroup + thead tr:first-child td,
  thead:first-child tr:first-child th,
  thead:first-child tr:first-child td {
    border-top: 0;
  }
  /* Account for multiple tbody instances */
  tbody + tbody {
    border-top: 2px solid $light-color;
  }
}

/* Condensed table w/ half padding
   ========================================================================== */

.cl-data-table-condensed {
  th,
  td {
    padding: 4px 5px;
  }
}


/* Bordered table
   ========================================================================== */

.cl-data-table-bordered {
  border: 1px solid $light-color;
  border-left: 0;
  th,
  td {
    border-left: 1px solid $light-color;
  }
}

/* Table with zebra striping
   ========================================================================== */

.cl-data-table-striped {
  tbody {
    > tr:nth-child(odd) > td,
    > tr:nth-child(odd) > th {
      background-color: $light-color;
    }
  }
}