/* ==========================================================================
   Help text
   ========================================================================== */

.cl-help-text {
  @include text-shadow-white;
  text-align: center;
  max-width: 95%;
  font-size: 13px;
  margin: 0 auto;
  padding: 0 0 12px;
  a {
    color: #666;
    text-decoration: underline;
    &:hover {
      color: #333;
    }
  }
}