/* Animation styles
-------------------------------------------------- */


/* Fade animation */
.cl-content.fade {
  left: 0;
  opacity: 0;
  -webkit-transition: opacity .2s ease-in-out;
          transition: opacity .2s ease-in-out;
}

.cl-content.fade.in {
  opacity: 1;
}

/* Slide animation */
.cl-content.slide {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
 -webkit-transition: -webkit-transform .25s ease-in-out;
         transition:         transform .25s ease-in-out;
}

.cl-content.slide.left {
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}

.cl-content.slide.right {
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

.cl-content.slide.bottom {
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}

.cl-content.slide.top {
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}