/* ==========================================================================
  Utilities
   ========================================================================== */

// Toggling content
.hide {
  display: none;
}
.show {
  display: block;
}

// Visibility
.invisible {
  visibility: hidden;
}
