/* line 1, ../scss/clank/_base.scss */
a {
  text-decoration: none;
}

/*
  Alternate clearfix that does not rely on overflow: hidden;
*/
/* line 4, ../scss/clank/_device_wraps.scss */
.cl-phone-wrap[data-os="ios"] .cl-device-body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* line 7, ../scss/clank/_device_wraps.scss */
.cl-phone-wrap[data-os="android"] .cl-device-body {
  font-family: 'Roboto', 'Droid Sans', sans-serif;
}

/* line 12, ../scss/clank/_device_wraps.scss */
.cl-device-body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 16, ../scss/clank/_device_wraps.scss */
.cl-device-body {
  padding: 0;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}
/* line 28, ../scss/clank/_device_wraps.scss */
.cl-device-body > .cl-bar-title, .cl-device-body > .cl-content, .cl-device-body > .cl-bar-footer {
  margin: 0 auto;
}

/* line 33, ../scss/clank/_device_wraps.scss */
.cl-content {
  height: 100%;
  height: -moz-calc(100% - 44px);
  height: -o-calc(100% - 44px);
  height: -webkit-calc(100% - 44px);
  height: calc(100% - 44px);
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
}
/* line 36, ../scss/clank/_device_wraps.scss */
.cl-content.has-footer {
  height: -moz-calc(100% - 88px);
  height: -o-calc(100% - 88px);
  height: -webkit-calc(100% - 88px);
  height: calc(100% - 88px);
}
/* line 41, ../scss/clank/_device_wraps.scss */
.cl-content .cl-content-inner {
  height: 100%;
  overflow: hidden;
  width: 100%;
}
/* line 48, ../scss/clank/_device_wraps.scss */
.cl-content .full-height {
  height: 100%;
}

/* line 53, ../scss/clank/_device_wraps.scss */
.cl-phone-wrap {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  overflow-y: hidden;
  position: relative;
}
/* line 58, ../scss/clank/_device_wraps.scss */
.cl-phone-wrap[data-device="iphone4-portrait"] {
  width: 396px;
  height: 734px;
  background: url(../../images/portrait/iphone4.png) no-repeat 0 0;
  padding: 127px 0 0 2px;
}
/* line 63, ../scss/clank/_device_wraps.scss */
.cl-phone-wrap[data-device="iphone4-portrait"] .cl-device-body {
  width: 320px;
  height: 480px;
}
/* line 68, ../scss/clank/_device_wraps.scss */
.cl-phone-wrap[data-device="iphone4-landscape"] {
  padding: 37px 0 0;
  width: 734px;
  height: 396px;
  background: url(../../images/landscape/iphone4.png) no-repeat 0 0;
}
/* line 73, ../scss/clank/_device_wraps.scss */
.cl-phone-wrap[data-device="iphone4-landscape"] .cl-device-body {
  width: 480px;
  height: 320px;
}
/* line 78, ../scss/clank/_device_wraps.scss */
.cl-phone-wrap[data-device="iphone5-portrait"] {
  width: 396px;
  height: 822px;
  background: url(../../images/portrait/iphone5.png) no-repeat 0 0;
  padding: 127px 0 0 0;
}
/* line 83, ../scss/clank/_device_wraps.scss */
.cl-phone-wrap[data-device="iphone5-portrait"] .cl-device-body {
  width: 320px;
  height: 568px;
}
/* line 88, ../scss/clank/_device_wraps.scss */
.cl-phone-wrap[data-device="iphone5-landscape"] {
  padding: 38px 0 0;
  width: 822px;
  height: 396px;
  background: url(../../images/landscape/iphone5.png) no-repeat 0 0;
}
/* line 93, ../scss/clank/_device_wraps.scss */
.cl-phone-wrap[data-device="iphone5-landscape"] .cl-device-body {
  width: 568px;
  height: 320px;
}
/* line 98, ../scss/clank/_device_wraps.scss */
.cl-phone-wrap[data-device="nexus4-portrait"] {
  width: 434px;
  height: 849px;
  background: url(../../images/portrait/nexus4.png) no-repeat 0 0;
  padding: 107px 0 0;
}
/* line 103, ../scss/clank/_device_wraps.scss */
.cl-phone-wrap[data-device="nexus4-portrait"] .cl-device-body {
  width: 366px;
  height: 650px;
}
/* line 106, ../scss/clank/_device_wraps.scss */
.cl-phone-wrap[data-device="nexus4-portrait"] .cl-device-body .cl-page {
  position: relative;
  height: 586px;
}
/* line 112, ../scss/clank/_device_wraps.scss */
.cl-phone-wrap[data-device="nexus4-landscape"] {
  padding: 34px 40px 0 0;
  width: 849px;
  height: 434px;
  background: url(../../images/landscape/nexus4.png) no-repeat 0 0;
}
/* line 117, ../scss/clank/_device_wraps.scss */
.cl-phone-wrap[data-device="nexus4-landscape"] .cl-android-status {
  width: 602px;
}
/* line 120, ../scss/clank/_device_wraps.scss */
.cl-phone-wrap[data-device="nexus4-landscape"] .cl-page {
  width: 610px;
  height: 342px;
  position: relative;
}
/* line 125, ../scss/clank/_device_wraps.scss */
.cl-phone-wrap[data-device="nexus4-landscape"] .cl-device-body {
  width: 650px;
  height: 366px;
  position: relative;
  right: -27px;
}
/* line 132, ../scss/clank/_device_wraps.scss */
.cl-phone-wrap[data-device="ipad3-portrait"] {
  width: 970px;
  height: 1260px;
  background: url(../../images/portrait/ipad3.png) no-repeat 0 0;
  padding: 118px 0 0;
}
/* line 138, ../scss/clank/_device_wraps.scss */
.cl-phone-wrap[data-device="ipad3-portrait"] .cl-device-body {
  width: 768px;
  height: 1024px;
}
/* line 143, ../scss/clank/_device_wraps.scss */
.cl-phone-wrap[data-device="ipad3-landscape"] {
  padding: 101px 0 0;
  width: 1260px;
  height: 970px;
  background: url(../../images/landscape/ipad3.png) no-repeat 0 0;
}
/* line 148, ../scss/clank/_device_wraps.scss */
.cl-phone-wrap[data-device="ipad3-landscape"] .cl-device-body {
  width: 1024px;
  height: 768px;
}
/* line 153, ../scss/clank/_device_wraps.scss */
.cl-phone-wrap[data-device="nexus7-portrait"] {
  width: 970px;
  height: 1260px;
  background: url(../../images/portrait/nexus7.png) no-repeat center center;
  padding: 134px 0 0;
  background-size: contain;
}
/* line 159, ../scss/clank/_device_wraps.scss */
.cl-phone-wrap[data-device="nexus7-portrait"] .cl-device-body {
  width: 610px;
  height: 977px;
}
/* line 162, ../scss/clank/_device_wraps.scss */
.cl-phone-wrap[data-device="nexus7-portrait"] .cl-device-body .cl-page {
  height: 913px;
}
/* line 167, ../scss/clank/_device_wraps.scss */
.cl-phone-wrap[data-device="nexus7-landscape"] {
  width: 1260px;
  height: 970px;
  background: url(../../images/landscape/nexus7.png) no-repeat center center;
  background-size: contain;
  padding: 176px 0 0;
}
/* line 173, ../scss/clank/_device_wraps.scss */
.cl-phone-wrap[data-device="nexus7-landscape"] .cl-device-body {
  width: 977px;
  height: 614px;
  position: relative;
  right: 6px;
}
/* line 178, ../scss/clank/_device_wraps.scss */
.cl-phone-wrap[data-device="nexus7-landscape"] .cl-device-body .cl-page {
  position: relative;
  height: 589px;
  width: 937px;
}

/**
  OS Chrome
**/
/**
  Shared
**/
/* line 10, ../scss/clank/_os_chrome.scss */
.cl-ios-status,
.cl-android-status {
  font-size: 13px;
  overflow: hidden;
  height: 20px;
  background: #000;
  color: #FFF;
  text-align: center;
  line-height: 20px;
  max-height: 20px;
  white-space: nowrap;
  padding: 0 4px;
}
/* line 27, ../scss/clank/_os_chrome.scss */
.cl-ios-status > span:first-child,
.cl-android-status > span:first-child {
  float: left;
}
/* line 31, ../scss/clank/_os_chrome.scss */
.cl-ios-status > span:last-child,
.cl-android-status > span:last-child {
  float: right;
}
/* line 33, ../scss/clank/_os_chrome.scss */
.cl-ios-status > span:last-child span,
.cl-android-status > span:last-child span {
  line-height: 20px;
  display: inline-block;
  vertical-align: middle;
}

/**
  iOS only
**/
/* line 46, ../scss/clank/_os_chrome.scss */
.cl-ios-status {
  font-weight: 700;
  font-family: Helvetica;
  height: 20px;
}
/* line 51, ../scss/clank/_os_chrome.scss */
.cl-ios-status .clock {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

/* line 61, ../scss/clank/_os_chrome.scss */
.cl-ios-status .signals {
  font-size: 0;
  margin-right: 3px;
}
/* line 64, ../scss/clank/_os_chrome.scss */
.cl-ios-status .signals span {
  width: 3px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 1px;
  position: relative;
  bottom: 10px;
  background: #FFF;
}
/* line 73, ../scss/clank/_os_chrome.scss */
.cl-ios-status .signals .signal1 {
  height: 4px;
}
/* line 76, ../scss/clank/_os_chrome.scss */
.cl-ios-status .signals .signal2 {
  height: 5px;
}
/* line 79, ../scss/clank/_os_chrome.scss */
.cl-ios-status .signals .signal3 {
  height: 6.5px;
}
/* line 82, ../scss/clank/_os_chrome.scss */
.cl-ios-status .signals .signal4 {
  height: 8px;
}
/* line 85, ../scss/clank/_os_chrome.scss */
.cl-ios-status .signals .signal5 {
  height: 10px;
}

/* line 92, ../scss/clank/_os_chrome.scss */
.icon-ios-battery {
  font-size: 20px;
  line-height: 20px;
  position: relative;
  top: -1px;
  height: 20px;
  max-height: 20px;
  margin-left: 4px;
}

/**
  Android only
**/
/* line 107, ../scss/clank/_os_chrome.scss */
.cl-android-status {
  font-family: Roboto;
  background: #000;
  color: #FFF;
  height: 24px;
  line-height: 24px;
}

/* line 115, ../scss/clank/_os_chrome.scss */
.cl-android-software-buttons {
  background: #000;
  color: #FFF;
  position: absolute;
  height: 40px;
  line-height: 40px;
}
/* line 119, ../scss/clank/_os_chrome.scss */
[data-device$=landscape] .cl-android-software-buttons {
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
}
/* line 125, ../scss/clank/_os_chrome.scss */
[data-device$=portrait] .cl-android-software-buttons {
  bottom: 0;
  left: 0;
  width: 100%;
}

/* line 4, ../scss/clank/components/_headers-footers.scss */
.cl-bar-title,
.cl-bar {
  *zoom: 1;
  overflow: hidden;
  width: 100%;
  min-height: 44px;
  height: 44px;
  position: relative;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.cl-bar-title:after,
.cl-bar:after {
  content: "";
  display: table;
  clear: both;
}
/* line 11, ../scss/clank/components/_headers-footers.scss */
[data-os="android"] .cl-bar-title, [data-os="android"]
.cl-bar {
  min-height: 50px;
  height: 50px;
}

/* line 18, ../scss/clank/components/_headers-footers.scss */
.cl-bar-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 44px;
  height: 44px;
}

/* line 28, ../scss/clank/components/_headers-footers.scss */
.cl-bar-title .title {
  text-align: center;
  line-height: 44px;
  margin: 0 auto;
  -webkit-hyphens: auto;
}
/* line 32, ../scss/clank/components/_headers-footers.scss */
[data-os="android"] .cl-bar-title .title {
  line-height: 50px;
}

/* line 44, ../scss/clank/components/_headers-footers.scss */
.cl-bar-text {
  margin: 0;
  padding: 0;
  line-height: 44px;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.33);
}
/* line 49, ../scss/clank/components/_headers-footers.scss */
[data-os="android"] .cl-bar-text {
  line-height: 50px;
}
/* line 53, ../scss/clank/components/_headers-footers.scss */
.cl-bar .cl-bar-text, .cl-bar-title .cl-bar-text {
  margin: 0 10px;
}
/* line 64, ../scss/clank/components/_headers-footers.scss */
.cl-bar-text.align-left {
  margin-left: 7px;
}

/* line 72, ../scss/clank/components/_headers-footers.scss */
.cl-title {
  font-size: 20px;
  margin: 0;
  font-weight: 700;
  white-space: nowrap;
  text-align: center;
  line-height: 44px;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.33);
}
/* line 80, ../scss/clank/components/_headers-footers.scss */
[data-os="android"] .cl-title {
  line-height: 50px;
}

/* line 98, ../scss/clank/components/_headers-footers.scss */
.cl-bar-title,
.cl-bar-footer,
.cl-bar {
  background: #155663;
  background-color: #1a6c7c;
  background-image: -moz-linear-gradient(top, #1e7b8d, #155663);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1e7b8d), to(#155663));
  background-image: -webkit-linear-gradient(top, #1e7b8d, #155663);
  background-image: -o-linear-gradient(top, #1e7b8d, #155663);
  background-image: linear-gradient(to bottom, #1e7b8d, #155663);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1E7B8D', endColorstr='#FF155663', GradientType=0);
}
/* line 109, ../scss/clank/components/_headers-footers.scss */
.cl-bar-title:before,
.cl-bar-footer:before,
.cl-bar:before {
  content: " ";
  height: 1px;
  width: 100%;
  background: #1e7b8d;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 119, ../scss/clank/components/_headers-footers.scss */
.cl-bar-title:after,
.cl-bar-footer:after,
.cl-bar:after {
  content: " ";
  height: 1px;
  width: 100%;
  background: black;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* line 2, ../scss/clank/components/_buttons.scss */
.cl-btn {
  color: white;
  display: block;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  z-index: 1;
  font-weight: 700;
  min-width: 54px;
  text-align: center;
  font-size: 13px;
  line-height: 32px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.33);
}
/* line 87, ../scss/clank/_mixins.scss */
.cl-btn:link, .cl-btn:visited {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: white;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.05);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.05);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.05);
  background-color: #1b92a9;
  background-image: -moz-linear-gradient(top, #1fbad9, #155663);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1fbad9), to(#155663));
  background-image: -webkit-linear-gradient(top, #1fbad9, #155663);
  background-image: -o-linear-gradient(top, #1fbad9, #155663);
  background-image: linear-gradient(to bottom, #1fbad9, #155663);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1FBAD9', endColorstr='#FF155663', GradientType=0);
}
/* line 106, ../scss/clank/_mixins.scss */
.cl-btn:hover, .cl-btn:active, .cl-btn:focus, .cl-btn.active {
  color: white;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #114650;
  background-image: -moz-linear-gradient(top, #134f5b, #0e3941);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#134f5b), to(#0e3941));
  background-image: -webkit-linear-gradient(top, #134f5b, #0e3941);
  background-image: -o-linear-gradient(top, #134f5b, #0e3941);
  background-image: linear-gradient(to bottom, #134f5b, #0e3941);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF134F5B', endColorstr='#FF0E3941', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
}
/* line 29, ../scss/clank/components/_buttons.scss */
.cl-bar-title .cl-btn, .cl-bar-footer .cl-btn, .cl-bar .cl-btn {
  padding: 0 7px;
  margin: 5px;
  font-size: 13px;
}
/* line 35, ../scss/clank/components/_buttons.scss */
.cl-content > .cl-btn {
  margin: 0 10px;
}
/* line 40, ../scss/clank/components/_buttons.scss */
.cl-btn.cl-btn-icon {
  min-width: 34px;
}
/* line 43, ../scss/clank/components/_buttons.scss */
.cl-btn.cl-btn-icon-only {
  width: 44px;
}

/* line 53, ../scss/clank/components/_buttons.scss */
.cl-btn:before,
.cl-btn:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  min-width: 100%;
  border-radius: 5px;
  white-space: nowrap;
}

/* line 63, ../scss/clank/components/_buttons.scss */
.cl-btn:after {
  top: -1px;
  left: -1px;
  padding: 1px;
  z-index: -2;
  background-color: #14535f;
  background-image: -moz-linear-gradient(top, #175d6b, #11444e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#175d6b), to(#11444e));
  background-image: -webkit-linear-gradient(top, #175d6b, #11444e);
  background-image: -o-linear-gradient(top, #175d6b, #11444e);
  background-image: linear-gradient(to bottom, #175d6b, #11444e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF175D6B', endColorstr='#FF11444E', GradientType=0);
}

/* line 78, ../scss/clank/components/_buttons.scss */
.cl-btn:hover:after {
  background-color: #0c333b;
  background-image: -moz-linear-gradient(top, #0f3c46, #09262c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0f3c46), to(#09262c));
  background-image: -webkit-linear-gradient(top, #0f3c46, #09262c);
  background-image: -o-linear-gradient(top, #0f3c46, #09262c);
  background-image: linear-gradient(to bottom, #0f3c46, #09262c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0F3C46', endColorstr='#FF09262C', GradientType=0);
}

/* line 86, ../scss/clank/components/_buttons.scss */
.cl-btn:before {
  top: 0;
  left: 0;
  padding: 0;
  z-index: -1;
  background-color: #1b92a9;
  background-image: -moz-linear-gradient(top, #1fbad9, #155663);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1fbad9), to(#155663));
  background-image: -webkit-linear-gradient(top, #1fbad9, #155663);
  background-image: -o-linear-gradient(top, #1fbad9, #155663);
  background-image: linear-gradient(to bottom, #1fbad9, #155663);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1FBAD9', endColorstr='#FF155663', GradientType=0);
}

/* line 100, ../scss/clank/components/_buttons.scss */
.cl-btn:hover:before {
  background-color: #114650;
  background-image: -moz-linear-gradient(top, #134f5b, #0e3941);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#134f5b), to(#0e3941));
  background-image: -webkit-linear-gradient(top, #134f5b, #0e3941);
  background-image: -o-linear-gradient(top, #134f5b, #0e3941);
  background-image: linear-gradient(to bottom, #134f5b, #0e3941);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF134F5B', endColorstr='#FF0E3941', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
}

/* line 114, ../scss/clank/components/_buttons.scss */
.cl-btn-primary {
  color: white;
}
/* line 132, ../scss/clank/_mixins.scss */
.cl-btn-primary:link, .cl-btn-primary:visited {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: white;
  background-color: #0e9ab7;
  background-image: -moz-linear-gradient(top, #11b6d7, #0b7287);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#11b6d7), to(#0b7287));
  background-image: -webkit-linear-gradient(top, #11b6d7, #0b7287);
  background-image: -o-linear-gradient(top, #11b6d7, #0b7287);
  background-image: linear-gradient(to bottom, #11b6d7, #0b7287);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF11B6D7', endColorstr='#FF0B7287', GradientType=0);
}
/* line 144, ../scss/clank/_mixins.scss */
.cl-btn-primary:hover, .cl-btn-primary:active, .cl-btn-primary:focus, .cl-btn-primary.active {
  color: white;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #114650;
  background-image: -moz-linear-gradient(top, #134f5b, #0e3941);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#134f5b), to(#0e3941));
  background-image: -webkit-linear-gradient(top, #134f5b, #0e3941);
  background-image: -o-linear-gradient(top, #134f5b, #0e3941);
  background-image: linear-gradient(to bottom, #134f5b, #0e3941);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF134F5B', endColorstr='#FF0E3941', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
}

/* line 124, ../scss/clank/components/_buttons.scss */
.cl-btn-primary:after {
  background-color: #14535f;
  background-image: -moz-linear-gradient(top, #175d6b, #11444e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#175d6b), to(#11444e));
  background-image: -webkit-linear-gradient(top, #175d6b, #11444e);
  background-image: -o-linear-gradient(top, #175d6b, #11444e);
  background-image: linear-gradient(to bottom, #175d6b, #11444e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF175D6B', endColorstr='#FF11444E', GradientType=0);
}

/* line 135, ../scss/clank/components/_buttons.scss */
.cl-btn-primary:before {
  background-color: #42cde8;
  background-image: -moz-linear-gradient(top, #63e2fb, #11aecd);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#63e2fb), to(#11aecd));
  background-image: -webkit-linear-gradient(top, #63e2fb, #11aecd);
  background-image: -o-linear-gradient(top, #63e2fb, #11aecd);
  background-image: linear-gradient(to bottom, #63e2fb, #11aecd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF63E2FB', endColorstr='#FF11AECD', GradientType=0);
}

/* line 145, ../scss/clank/components/_buttons.scss */
.cl-btn-primary:hover:before {
  background-color: #0f9cb8;
  background-image: -moz-linear-gradient(top, #10a6c4, #0e8ea8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#10a6c4), to(#0e8ea8));
  background-image: -webkit-linear-gradient(top, #10a6c4, #0e8ea8);
  background-image: -o-linear-gradient(top, #10a6c4, #0e8ea8);
  background-image: linear-gradient(to bottom, #10a6c4, #0e8ea8);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF10A6C4', endColorstr='#FF0E8EA8', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
}

/* line 1, ../scss/clank/components/_forms.scss */
input, select, textarea, option {
  font-family: "Roboto", Arial;
}

/* line 1, ../scss/clank/components/_code-example.scss */
.cl-code-example {
  padding: 10px;
  font-size: 11px;
  background: #EEE;
}

/* line 3, ../scss/clank/components/_typography.scss */
.cl-article p, .cl-article h4 {
  margin: 10px;
  line-height: 1.33;
  color: #333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
/* line 8, ../scss/clank/components/_typography.scss */
.cl-article p + p, .cl-article h4 + p, .cl-article p + h4, .cl-article h4 + h4 {
  margin-top: 0;
}
/* line 17, ../scss/clank/components/_typography.scss */
.cl-article a {
  color: #155663;
  border-bottom: 1px solid #bae7f0;
}

/* line 24, ../scss/clank/components/_typography.scss */
.cl-article-intro {
  font-size: 16px;
  background: #155663;
  color: #FFF;
  text-shadow: none;
  padding: 10px;
  margin: 0 0 10px;
}

/* line 7, ../scss/clank/components/_button-positioning.scss */
.cl-bar-title .cl-btn,
.cl-bar-footer .cl-btn,
.cl-bar .cl-btn {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 13, ../scss/clank/components/_button-positioning.scss */
.cl-bar-title .cl-title + .btn,
.cl-bar-title .cl-btn:last-child,
.cl-bar-footer .cl-title + .btn,
.cl-bar-footer .cl-btn:last-child,
.cl-bar .cl-title + .btn,
.cl-bar .cl-btn:last-child {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
}
/* line 19, ../scss/clank/components/_button-positioning.scss */
.cl-bar-title .cl-btn.align-center,
.cl-bar-footer .cl-btn.align-center,
.cl-bar .cl-btn.align-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 232px;
}
/* line 27, ../scss/clank/components/_button-positioning.scss */
.cl-bar-title .cl-btn.align-right,
.cl-bar-footer .cl-btn.align-right,
.cl-bar .cl-btn.align-right {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
}

/* line 3, ../scss/clank/components/_table-view.scss */
.cl-table, .cl-table__extended {
  *zoom: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 10px 0;
  width: 90%;
  width: -moz-calc(100% - 20px);
  width: -o-calc(100% - 20px);
  width: -webkit-calc(100% - 20px);
  width: calc(100% - 20px);
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.cl-table:after, .cl-table__extended:after {
  content: "";
  display: table;
  clear: both;
}
/* line 9, ../scss/clank/components/_table-view.scss */
.cl-table + .cl-table, .cl-table__extended + .cl-table, .cl-table + .cl-table__extended, .cl-table__extended + .cl-table__extended {
  padding-top: 0;
}

/* line 16, ../scss/clank/components/_table-view.scss */
.cl-table-title, .cl-table-title-extended {
  padding: 0;
  margin: 10px 10px 0 20px;
  font-size: 12px;
  font-weight: 700;
  color: #666;
}
/* line 22, ../scss/clank/components/_table-view.scss */
.cl-table-title + .cl-table, .cl-table-title-extended + .cl-table, .cl-table-title + .cl-table__extended, .cl-table-title-extended + .cl-table__extended {
  padding-top: 5px;
}
/* line 25, ../scss/clank/components/_table-view.scss */
.cl-table-title + .input-group, .cl-table-title-extended + .input-group {
  padding-top: 5px;
}

/* line 30, ../scss/clank/components/_table-view.scss */
.cl-table-title-extended {
  margin-left: 10px;
}

/* line 37, ../scss/clank/components/_table-view.scss */
.cl-table-cell {
  font-size: 14px;
  min-height: 44px;
  position: relative;
  width: 100%;
  background: white;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(0, 0, 0, 0.1);
}
/* line 205, ../scss/clank/_mixins.scss */
.cl-table-cell:first-child {
  -moz-border-radius-topleft: 2.5px;
  -webkit-border-top-left-radius: 2.5px;
  border-top-left-radius: 2.5px;
  -moz-border-radius-topright: 2.5px;
  -webkit-border-top-right-radius: 2.5px;
  border-top-right-radius: 2.5px;
}
/* line 208, ../scss/clank/_mixins.scss */
.cl-table-cell:last-child {
  -moz-border-radius-bottomleft: 2.5px;
  -webkit-border-bottom-left-radius: 2.5px;
  border-bottom-left-radius: 2.5px;
  -moz-border-radius-bottomright: 2.5px;
  -webkit-border-bottom-right-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
}
/* line 45, ../scss/clank/components/_table-view.scss */
.cl-table-cell:hover, .cl-table-cell:active, .cl-table-cell:focus {
  color: #FFF;
  background: #0188f4;
  background-color: #0174ee;
  background-image: -moz-linear-gradient(top, #0188f4, #0158e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0188f4), to(#0158e6));
  background-image: -webkit-linear-gradient(top, #0188f4, #0158e6);
  background-image: -o-linear-gradient(top, #0188f4, #0158e6);
  background-image: linear-gradient(to bottom, #0188f4, #0158e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0188F4', endColorstr='#FF0158E6', GradientType=0);
  text-shadow: 0 1px rgba(0, 0, 0, 0.33);
}
/* line 227, ../scss/clank/_mixins.scss */
.cl-table-cell:hover a, .cl-table-cell:active a, .cl-table-cell:focus a {
  color: #FFF;
}

/* line 50, ../scss/clank/components/_table-view.scss */
.cl-table > .cl-table-cell, .cl-table__extended > .cl-table-cell {
  margin: 0 10px;
}
/* line 52, ../scss/clank/components/_table-view.scss */
.cl-table > .cl-table-cell:first-child, .cl-table__extended > .cl-table-cell:first-child {
  -moz-border-radius-topleft: 2.5px;
  -webkit-border-top-left-radius: 2.5px;
  border-top-left-radius: 2.5px;
  -moz-border-radius-topright: 2.5px;
  -webkit-border-top-right-radius: 2.5px;
  border-top-right-radius: 2.5px;
}
/* line 55, ../scss/clank/components/_table-view.scss */
.cl-table > .cl-table-cell:last-child, .cl-table__extended > .cl-table-cell:last-child {
  -moz-border-radius-bottomleft: 2.5px;
  -webkit-border-bottom-left-radius: 2.5px;
  border-bottom-left-radius: 2.5px;
  -moz-border-radius-bottomright: 2.5px;
  -webkit-border-bottom-right-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
}

/* line 60, ../scss/clank/components/_table-view.scss */
.cl-table-row {
  margin: 0 10px;
  *zoom: 1;
  display: -webkit-flex;
  -webkit-align-items: stretch;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.cl-table-row:after {
  content: "";
  display: table;
  clear: both;
}
/* line 68, ../scss/clank/components/_table-view.scss */
.cl-table-row > .cl-table-cell {
  *zoom: 1;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.cl-table-row > .cl-table-cell:after {
  content: "";
  display: table;
  clear: both;
}
/* line 70, ../scss/clank/components/_table-view.scss */
.cl-table-row > .cl-table-cell:first-child {
  float: left;
}
/* line 73, ../scss/clank/components/_table-view.scss */
.cl-table-row > .cl-table-cell:last-child {
  float: right;
}

/* line 81, ../scss/clank/components/_table-view.scss */
.cl-table-row .cl-table-cell:first-child {
  width: -moz-calc(50% - 1px);
  width: -o-calc(50% - 1px);
  width: -webkit-calc(50% - 1px);
  width: calc(50% - 1px);
}
/* line 84, ../scss/clank/components/_table-view.scss */
.cl-table-row .cl-table-cell:last-child {
  width: -moz-calc(50%);
  width: -o-calc(50%);
  width: -webkit-calc(50%);
  width: calc(50%);
}
/* line 90, ../scss/clank/components/_table-view.scss */
.cl-table-row.split-2-3 .cl-table-cell:first-child {
  width: -moz-calc(40% - 1px);
  width: -o-calc(40% - 1px);
  width: -webkit-calc(40% - 1px);
  width: calc(40% - 1px);
}
/* line 93, ../scss/clank/components/_table-view.scss */
.cl-table-row.split-2-3 .cl-table-cell:last-child {
  width: -moz-calc(60% - 1px);
  width: -o-calc(60% - 1px);
  width: -webkit-calc(60% - 1px);
  width: calc(60% - 1px);
}
/* line 100, ../scss/clank/components/_table-view.scss */
.cl-table-row.split-3-7 .cl-table-cell:first-child {
  width: -moz-calc(30% - 1px);
  width: -o-calc(30% - 1px);
  width: -webkit-calc(30% - 1px);
  width: calc(30% - 1px);
}
/* line 103, ../scss/clank/components/_table-view.scss */
.cl-table-row.split-3-7 .cl-table-cell:last-child {
  width: -moz-calc(70%);
  width: -o-calc(70%);
  width: -webkit-calc(70%);
  width: calc(70%);
}
/* line 110, ../scss/clank/components/_table-view.scss */
.cl-table-row.split-1-3 .cl-table-cell:first-child {
  width: -moz-calc(25% - 1px);
  width: -o-calc(25% - 1px);
  width: -webkit-calc(25% - 1px);
  width: calc(25% - 1px);
}
/* line 113, ../scss/clank/components/_table-view.scss */
.cl-table-row.split-1-3 .cl-table-cell:last-child {
  width: -moz-calc(75%);
  width: -o-calc(75%);
  width: -webkit-calc(75%);
  width: calc(75%);
}

/* line 124, ../scss/clank/components/_table-view.scss */
.cl-table-cell a {
  display: block;
  padding: 10px;
  min-height: 44px;
  font-weight: 700;
  color: #000;
  border: none;
}
/* line 133, ../scss/clank/components/_table-view.scss */
.cl-table-cell > p, .cl-article .cl-table-cell > h4 {
  display: block;
  padding: 10px;
  margin: 0;
}
/* line 140, ../scss/clank/components/_table-view.scss */
.cl-table-cell .label {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
/* line 149, ../scss/clank/components/_table-view.scss */
.cl-table-cell .disclosure-help {
  font-weight: 400;
  position: absolute;
  top: 25%;
  right: 30px;
  color: #AAA;
}
/* line 158, ../scss/clank/components/_table-view.scss */
.cl-table-cell .meta {
  font-weight: 400;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=66);
  opacity: 0.66;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
/* line 167, ../scss/clank/components/_table-view.scss */
.cl-table-cell .icon-ios-arrow-right {
  font-size: 19px;
  position: absolute;
  top: 26%;
  right: 10px;
  font-weight: 700;
  color: #AAA;
}

/* line 180, ../scss/clank/components/_table-view.scss */
.cl-table .cl-table-row:first-child .cl-table-cell:first-child, .cl-table__extended .cl-table-row:first-child .cl-table-cell:first-child {
  -moz-border-radius-topleft: 2.5px;
  -webkit-border-top-left-radius: 2.5px;
  border-top-left-radius: 2.5px;
}
/* line 183, ../scss/clank/components/_table-view.scss */
.cl-table .cl-table-row:first-child .cl-table-cell:last-child, .cl-table__extended .cl-table-row:first-child .cl-table-cell:last-child {
  -moz-border-radius-topright: 2.5px;
  -webkit-border-top-right-radius: 2.5px;
  border-top-right-radius: 2.5px;
}
/* line 188, ../scss/clank/components/_table-view.scss */
.cl-table .cl-table-row:only-child .cl-table-cell:first-child, .cl-table__extended .cl-table-row:only-child .cl-table-cell:first-child {
  -moz-border-radius-topleft: 2.5px;
  -webkit-border-top-left-radius: 2.5px;
  border-top-left-radius: 2.5px;
  -moz-border-radius-bottomleft: 2.5px;
  -webkit-border-bottom-left-radius: 2.5px;
  border-bottom-left-radius: 2.5px;
}
/* line 191, ../scss/clank/components/_table-view.scss */
.cl-table .cl-table-row:only-child .cl-table-cell:last-child, .cl-table__extended .cl-table-row:only-child .cl-table-cell:last-child {
  -moz-border-radius-topright: 2.5px;
  -webkit-border-top-right-radius: 2.5px;
  border-top-right-radius: 2.5px;
  -moz-border-radius-bottomright: 2.5px;
  -webkit-border-bottom-right-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
}
/* line 196, ../scss/clank/components/_table-view.scss */
.cl-table .cl-table-row:last-child .cl-table-cell:first-child, .cl-table__extended .cl-table-row:last-child .cl-table-cell:first-child {
  -moz-border-radius-bottomleft: 2.5px;
  -webkit-border-bottom-left-radius: 2.5px;
  border-bottom-left-radius: 2.5px;
}
/* line 199, ../scss/clank/components/_table-view.scss */
.cl-table .cl-table-row:last-child .cl-table-cell:last-child, .cl-table__extended .cl-table-row:last-child .cl-table-cell:last-child {
  -moz-border-radius-bottomright: 2.5px;
  -webkit-border-bottom-right-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
}

/* line 209, ../scss/clank/components/_table-view.scss */
.view-all {
  *zoom: 1;
  background: white;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(0, 0, 0, 0.1);
  background-color: #d5d5d5;
  background-image: -moz-linear-gradient(top, #dadada, #cecece);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dadada), to(#cecece));
  background-image: -webkit-linear-gradient(top, #dadada, #cecece);
  background-image: -o-linear-gradient(top, #dadada, #cecece);
  background-image: linear-gradient(to bottom, #dadada, #cecece);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFDADADA', endColorstr='#FFCECECE', GradientType=0);
  text-transform: uppercase;
  font-size: 12px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.view-all:after {
  content: "";
  display: table;
  clear: both;
}
/* line 205, ../scss/clank/_mixins.scss */
.view-all:first-child {
  -moz-border-radius-topleft: 2.5px;
  -webkit-border-top-left-radius: 2.5px;
  border-top-left-radius: 2.5px;
  -moz-border-radius-topright: 2.5px;
  -webkit-border-top-right-radius: 2.5px;
  border-top-right-radius: 2.5px;
}
/* line 208, ../scss/clank/_mixins.scss */
.view-all:last-child {
  -moz-border-radius-bottomleft: 2.5px;
  -webkit-border-bottom-left-radius: 2.5px;
  border-bottom-left-radius: 2.5px;
  -moz-border-radius-bottomright: 2.5px;
  -webkit-border-bottom-right-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
}
/* line 217, ../scss/clank/components/_table-view.scss */
.view-all > a {
  display: block;
  padding: 10px;
}
/* line 221, ../scss/clank/components/_table-view.scss */
.view-all > label {
  display: block;
  padding: 10px;
}

/* line 230, ../scss/clank/components/_table-view.scss */
.cl-table__extended {
  width: 100%;
}
/* line 234, ../scss/clank/components/_table-view.scss */
.cl-table__extended .icon-arrow-right {
  right: 10px;
}
/* line 237, ../scss/clank/components/_table-view.scss */
.cl-table__extended a {
  display: block;
}
/* line 240, ../scss/clank/components/_table-view.scss */
.cl-table__extended .cl-table-cell {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  margin: 0 0 1px;
  margin: 0;
}
/* line 242, ../scss/clank/components/_table-view.scss */
.cl-table__extended .cl-table-cell .cl-table-cell {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 1, ../scss/clank/components/_help-txt.scss */
.cl-help-text {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
  max-width: 95%;
  font-size: 13px;
  margin: 0 auto;
  padding: 0 0 12px;
}
/* line 8, ../scss/clank/components/_help-txt.scss */
.cl-help-text a {
  color: #666;
  text-decoration: underline;
}
/* line 11, ../scss/clank/components/_help-txt.scss */
.cl-help-text a:hover {
  color: #333;
}

/* 
 * Font Custom: bare CSS
 */
@font-face {
  font-family: "ios";
  src: url("../../fonts/clank/ios/ios.eot");
  src: url("../../fonts/clank/ios/ios.eot?#iefix") format("embedded-opentype"), url("../../fonts/clank/ios/ios.woff") format("woff"), url("../../fonts/clank/ios/ios.ttf") format("truetype"), url("../../fonts/clank/ios/ios.svg#ios") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 21, ../scss/clank/icon-fonts/_ios.scss */
.icon-ios-alarm:before,
.icon-ios-arrow-right:before,
.icon-ios-battery:before,
.icon-ios-locate:before,
.icon-ios-lock:before,
.icon-ios-square:before {
  font-family: "ios";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

/* line 33, ../scss/clank/icon-fonts/_ios.scss */
.icon-ios-alarm:before {
  content: "\f100";
}

/* line 34, ../scss/clank/icon-fonts/_ios.scss */
.icon-ios-arrow-right:before {
  content: "\f101";
}

/* line 35, ../scss/clank/icon-fonts/_ios.scss */
.icon-ios-battery:before {
  content: "\f102";
}

/* line 36, ../scss/clank/icon-fonts/_ios.scss */
.icon-ios-locate:before {
  content: "\f103";
}

/* line 37, ../scss/clank/icon-fonts/_ios.scss */
.icon-ios-lock:before {
  content: "\f104";
}

/* line 38, ../scss/clank/icon-fonts/_ios.scss */
.icon-ios-square:before {
  content: "\f105";
}

/* 
 * Font Custom: bare CSS
 */
@font-face {
  font-family: "android";
  src: url("../../fonts/clank/android/android.eot");
  src: url("../../fonts/clank/android/android.eot?#iefix") format("embedded-opentype"), url("../../fonts/clank/android/android.woff") format("woff"), url("../../fonts/clank/android/android.ttf") format("truetype"), url("../../fonts/clank/android/android.svg#android") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 19, ../scss/clank/icon-fonts/_android.scss */
.icon-android-battery-colored:before,
.icon-android-battery:before,
.icon-android-network:before,
.icon-android-wifi:before {
  font-family: "android";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

/* line 31, ../scss/clank/icon-fonts/_android.scss */
.icon-android-battery-colored:before {
  content: "\f100";
}

/* line 32, ../scss/clank/icon-fonts/_android.scss */
.icon-android-battery:before {
  content: "\f101";
}

/* line 33, ../scss/clank/icon-fonts/_android.scss */
.icon-android-network:before {
  content: "\f102";
}

/* line 34, ../scss/clank/icon-fonts/_android.scss */
.icon-android-wifi:before {
  content: "\f103";
}

/* 
 * Font Custom: bare CSS
 */
@font-face {
  font-family: "my-app";
  src: url("../fonts/clank/my-app/my-app.eot");
  src: url("../fonts/clank/my-app/my-app.eot?#iefix") format("embedded-opentype"), url("../fonts/clank/my-app/my-app.woff") format("woff"), url("../fonts/clank/my-app/my-app.ttf") format("truetype"), url("../fonts/clank/my-app/my-app.svg#my-app") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 19, ../scss/clank/icon-fonts/_my_app.scss */
.icon-my-app-arrow-down:before,
.icon-my-app-arrow-left:before,
.icon-my-app-arrow-right:before,
.icon-my-app-arrow-up:before {
  font-family: "my-app-ios";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

/* line 31, ../scss/clank/icon-fonts/_my_app.scss */
.icon-my-app-arrow-down:before {
  content: "\f100";
}

/* line 32, ../scss/clank/icon-fonts/_my_app.scss */
.icon-my-app-arrow-left:before {
  content: "\f101";
}

/* line 33, ../scss/clank/icon-fonts/_my_app.scss */
.icon-my-app-arrow-right:before {
  content: "\f102";
}

/* line 34, ../scss/clank/icon-fonts/_my_app.scss */
.icon-my-app-arrow-up:before {
  content: "\f103";
}

/* line 23, ../scss/clank.scss */
.cl-page {
  text-align: left;
  font-size: 13px;
  word-wrap: break-word;
  height: 100%;
  height: -moz-calc(100% - 20px);
  height: -o-calc(100% - 20px);
  height: -webkit-calc(100% - 20px);
  height: calc(100% - 20px);
  -webkit-font-smoothing: antialiased;
}
/* line 31, ../scss/clank.scss */
.cl-page .cl-content {
  background: #FFF;
}

/* line 38, ../scss/clank.scss */
.cl-page-welcome .cl-content,
.cl-page-table-view .cl-content {
  background: #EEE;
}
