.cl-btn {
  display: block;
  font-weight: 700;
  cursor: pointer;
  position: relative;

  @if $text-shadows {
    @include text-shadow-black;
    @if $accent-color-light {
      @include text-shadow-white;
    }
  }

  font-weight: 700;
  min-width: 54px;
  text-align: center;
  font-size: 13px;
  line-height: 32px;
  
  // Bar buttons
  .cl-bar-title &,
  .cl-bar-footer &,
  .cl-bar & {
    padding: 0 7px;
    margin: 5px;
    font-size: 13px;
  }

  // Less min width for icon only type buttons
  &.cl-btn-icon {
    min-width: 34px; // +10 = 44
  }
  &.cl-btn-icon-only {
    width: 44px;
    & > span {
      text-align: center;
    }
  }
}

.cl-btn {
  // Bg color/gradient logic
  // This logic works on mid colors like red, purple, green
  @include button-skin;
}


// Primary buttons
.cl-btn-primary {
  @include button-skin-primary;
}

// Primary buttons in headers primary border color to blend in better
.cl-btn-primary {
//  @if $gradient {
//    @include gradient-vertical($accent-color, darken($accent-color, 5%));
//  } @else {
//    background: darken($accent-color, 10%);
//  }
  @if $gradient {
    @include gradient-vertical(lighten($accent-color-primary, 2%), darken($accent-color-primary, 15%));
  } @else {
    background: darken($accent-color-primary, 10%);
  }
}
.cl-btn-primary:hover,
.cl-btn-primary:active,
.cl-btn-primary:focus,
.cl-btn-primary.active {
//  @if $gradient {
//    @include gradient-vertical(darken($accent-color,7%), darken($accent-color, 13%));
//  } @else {
//    background: darken($accent-color, 20%);
//  }
  @include box-shadow(none);
  @if $gradient {
    @include gradient-vertical(darken($accent-color, 2%), darken($accent-color, 8%));
    @if $shadows {
      @include box-shadow(inset 0 1px 0 rgba(0,0,0,0.15));
    }
  } @else {
    background: darken($accent-color, 10%);
  }
}