/*
  Grid using Susy
*/

// Susy default grid values
$total-columns  : 6;
$column-width   : 140px;
$gutter-width   : 20px;
$grid-padding   : 20px;

// For a container with completely new settings
// simply override the initial variables:
$container-style: fluid;

// Only in this context I want to go liquid
#layout-demo #header > .inner-content {
  max-width: none;
  @include container;
}

$container-style: magic;

// Container
#header > .inner-content,
#content > .inner-content,
#footer > .inner-content {
  // page acts as a container for our grid.
  @include container;
}
