// Base media queries
$break-large: 960px;
$break-medium: 768px;
$break-small-medium: 480px;

// Base colors
$dark-bg: #36393E;
$light-bg: #EDEFF1;
$light-color: darken($light-bg, 10%);
$muted-text: #999;
$link-color: $dark-bg;

@mixin gradient-vertical($startColor: #555, $endColor: #333) {
  background-color: mix($startColor, $endColor, 60%);
  background-image: -moz-linear-gradient(top, $startColor, $endColor); // FF 3.6+
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($startColor), to($endColor)); // Safari 4+, Chrome 2+
  background-image: -webkit-linear-gradient(top, $startColor, $endColor); // Safari 5.1+, Chrome 10+
  background-image: -o-linear-gradient(top, $startColor, $endColor); // Opera 11.10
  background-image: linear-gradient(to bottom, $startColor, $endColor); // Standard, IE10
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($startColor)}', endColorstr='#{ie-hex-str($endColor)}', GradientType=0); // IE9 and down
}


@mixin default-links {
  @include single-transition(color, 0.2s);

  text-decoration: none;
  color: $link-color;
  border-bottom: 1px solid rgba($link-color, 0.2);

  &:visited {
    color: darken($link-color, 10%);
    border-bottom: 1px solid rgba($link-color, 0.2);
  }
  &:hover,
  &:active,
  &:focus {
    background: rgba($link-color, 0.2);
    color: brighten($link-color, 30%);
  }
}

@mixin no-underlines {
  &:link,
  &:visited,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    border: none !important;
  }
}

@mixin muted-links {
  &:link,
  &:visited {
    color: #7F7F7F;
    border-bottom: 1px solid #CCC;
    border-bottom: 1px solid rgba(0,0,0,0.15);
  }
  &:hover,
  &:active,
  &:focus {
    color: #000;
    border-bottom: none;
  }
}


@mixin display-font {
  text-transform: uppercase;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue CE 600 Condensed", "Helvetica Neue LT Condensed", "Helvetica Neue 600 Condensed", "HelveticaNeue-BoldCondensed", "Helvetica Neue BoldCondensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:700;
  font-stretch:condensed;
  line-height: 1;
  margin: 0;
}

@mixin calc($property, $expression) { 
  #{$property}: -moz-calc(#{$expression}); 
  #{$property}: -o-calc(#{$expression}); 
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: calc(#{$expression}); 
}

/*
  Alternate clearfix that does not rely on overflow: hidden;
*/

@mixin micro-clearfix {
  &:before,
  &:after {
    content:"";
    display:table;
  }
  &:after {
    clear:both;
  }
}