/****
  Nav adapted from bootstrap
  Used in clank documentation
****/

.cl-docs {
  .nav {
    margin-left: 0;
    margin-bottom: 20px;
    list-style: none;
  }
  .nav > li > a {
    display: block;
  }
  .nav > li > a:hover,
  .nav > li > a:focus {
    text-decoration: none;
    background-color: #EEE;
  }
  .nav-tabs > li > a,
  .nav-pills > li > a {
    padding-right: 6px;
    padding-left: 6px;
    margin-right: 2px;
    line-height: 14px;
  }
  .nav-tabs {
    border-bottom: 1px solid #ddd;
  }
  .nav-tabs > li {
    margin-bottom: -1px;
  }
  .nav-tabs > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 20px;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs > li > a:hover,
  .nav-tabs > li > a:focus {
    border-color: #EEE #EEE #DDD;
  }
  .nav-tabs > .active > a,
  .nav-tabs > .active > a:hover,
  .nav-tabs > .active > a:focus {
    color: #555555;
    background-color: #FFF;
    border: 1px solid #DDD;
    border-bottom-color: transparent;
    cursor: default;
  }

  .nav-stacked > li > a {
    margin-right: 0;
  }
  .nav-tabs.nav-stacked {
    border-bottom: 0;
  }
  .nav-tabs.nav-stacked > li > a {
    border: 1px solid #ddd;
    border-radius: 0;
  }
  .nav-tabs.nav-stacked > li:first-child > a {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }
  .nav-tabs.nav-stacked > li:last-child > a {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}
