// General

@mixin unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Base layout + buttons

@mixin text-shadow-white {
  @if $text-shadows {
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  }
}

@mixin text-shadow-black {
  @if $text-shadows {
    text-shadow: 0 1px rgba(0,0,0,0.33);
  }
}

// Buttons

@mixin gradient-vertical($startColor: #555, $endColor: #333) {
  background-color: mix($startColor, $endColor, 60%);
  background-image: -moz-linear-gradient(top, $startColor, $endColor); // FF 3.6+
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($startColor), to($endColor)); // Safari 4+, Chrome 2+
  background-image: -webkit-linear-gradient(top, $startColor, $endColor); // Safari 5.1+, Chrome 10+
  background-image: -o-linear-gradient(top, $startColor, $endColor); // Opera 11.10
  background-image: linear-gradient(to bottom, $startColor, $endColor); // Standard, IE10
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($startColor)}', endColorstr='#{ie-hex-str($endColor)}', GradientType=0); // IE9 and down
}

@mixin button-skin {
  &,
  &:link,
  &:visited {
    border: 1px solid darken($accent-color, 5%);
    @if $accent-color-light {
      color: darken($text-color, 5%);
    } @else {
      color: lighten($text-color-inverse, 20%);
    }
    @include border-radius($border-radius);
    @if $accent-color-light {
      color: darken($text-color, 5%);
    } @else {
      color: lighten($text-color-inverse, 20%);
    }
    @if $decorational-shadows {
      @include box-shadow(0 1px 0 rgba(0,0,0,.2), inset 0 1px 0 rgba(255,255,255,.05));
    }
    @if $gradient {
      @include gradient-vertical(lighten($accent-color, 15%), $accent-color);
    } @else {
      background: $accent-color;
    }
  }
  &:hover,
  &:active,
  &:focus,
  &.active {
    @include box-shadow(none);
    @if $gradient {
      @include gradient-vertical(darken($accent-color, 5%), darken($accent-color, 15%));
      @if $decorational-shadows {
        @include box-shadow(inset 0 1px 0 rgba(0,0,0,0.15));
      }
    } @else {
      background: darken($accent-color, 10%);
    }
  }
}

@mixin button-skin-primary {
  &,
  &:link,
  &:visited {
    border: 1px solid darken($accent-color-primary, 10%);
    @if $accent-color-light {
      color: darken($text-color, 5%);
    } @else {
      color: lighten($text-color-inverse, 20%);
    }
    @include border-radius($border-radius);
    color: lighten($text-color-inverse, 20%);
    @if $gradient {
      @include gradient-vertical(lighten($accent-color-primary, 15%), $accent-color-primary);
    } @else {
      background: $accent-color-primary;
    }
  }
  // Same as regular button
  &:hover,
  &:active,
  &:focus,
  &.active {
    border: 1px solid darken($accent-color, 5%);
    
    @include box-shadow(none);
    @if $gradient {
      @include gradient-vertical(darken($accent-color, 5%), darken($accent-color, 15%));
      @if $decorational-shadows {
        @include box-shadow(inset 0 1px 0 rgba(0,0,0,0.15));
      }
    } @else {
      background: darken($accent-color, 10%);
    }
  }
}

// Table views

@mixin table-cell-skin {
  background: lighten($background-color, 10%);
  &:first-child {
    @include border-top-radius($border-radius);
  }
  &:last-child {
    @include border-bottom-radius($border-radius);
  }
  @if $decorational-shadows {
    @include box-shadow(0 2px 0 rgba(0,0,0,.2), inset 0 1px 0 rgba(0,0,0,.1));
  }
}

@mixin table-cell-skin-hover {
  color: lighten($text-color-inverse, 20%);
  a {
    color: lighten($text-color-inverse, 20%);
  }
  .disclosure-help, .icon {
    color: lighten($text-color-inverse, 20%);
  }
  background: #0188f4;
  @include gradient-vertical(#0188f4, #0158e6);
  @include text-shadow-black;
}

@mixin table-cell-skin-accent {
  background: $accent-color;
  @if $decorational-shadows {
    @include box-shadow(0 2px 0 darken($accent-color, 10%), inset 0 1px 0 rgba(0,0,0,.1));
  }
}

@mixin table-cell-skin-accent-secondary {
  background: $accent-color-primary;
  @if $decorational-shadows {
    @include box-shadow(0 2px 0 darken($accent-color-primary, 10%), inset 0 1px 0 rgba(0,0,0,.1));
  }
}

// Webkit-style focus

@mixin tab-focus() {
  // Default
  outline: thin dotted #333;
  // Webkit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

@mixin calc($property, $expression) { 
  #{$property}: -moz-calc(#{$expression}); 
  #{$property}: -o-calc(#{$expression}); 
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: calc(#{$expression}); 
}

// Alternate clearfix that does not rely on overflow: hidden;

@mixin micro-clearfix {
  &:before,
  &:after {
    content:"";
    display:table;
  }
  &:after {
    clear:both;
  }
}