// General

// CSS3 calc
@mixin calc($property, $expression) { 
  #{$property}: -moz-calc(#{$expression}); 
  #{$property}: -o-calc(#{$expression}); 
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: calc(#{$expression}); 
}

// Alternate clearfix that does not rely on overflow: hidden;
@mixin micro-clearfix {
  &:before,
  &:after {
    content:"";
    display:table;
  }
  &:after {
    clear:both;
  }
}

@mixin unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Text shadows
// @todo make this dependant on text color

@mixin text-shadow-white {
  @if $text-shadows {
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  }
}

@mixin text-shadow-black {
  @if $text-shadows {
    text-shadow: 0 1px rgba(0,0,0,0.33);
  }
}

// Buttons

@mixin gradient-vertical($startColor: #555, $endColor: #333) {
  background-color: mix($startColor, $endColor, 60%);
  background-image: -moz-linear-gradient(top, $startColor, $endColor); // FF 3.6+
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($startColor), to($endColor)); // Safari 4+, Chrome 2+
  background-image: -webkit-linear-gradient(top, $startColor, $endColor); // Safari 5.1+, Chrome 10+
  background-image: -o-linear-gradient(top, $startColor, $endColor); // Opera 11.10
  background-image: linear-gradient(to bottom, $startColor, $endColor); // Standard, IE10
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($startColor)}', endColorstr='#{ie-hex-str($endColor)}', GradientType=0); // IE9 and down
}

@mixin determine-text-color($color) {
  @if(lightness($color) <= 75%) {
    color: $very-light-color;
    @include text-shadow-black;
  } @else {
    color: $very-dark-color;
    @include text-shadow-white;
  }
}

@mixin button-skin($color) {
  &,
  &:link,
  &:visited {
    border: 1px solid darken($color, 5%);
    @include border-radius($border-radius);
    @if $decorational-shadows {
      @include box-shadow(0 1px 0 rgba(0,0,0,0.2), inset 0 1px 0 rgba(255,255,255,0.2));
    }
    @if $gradient {
      @include gradient-vertical(lighten($color, 15%),$color);
    } @else {
      background: $color;
    }
    @include determine-text-color($color);
  }
}

@mixin button-skin-hover($color) {
  &:hover,
  &:active,
  &:focus,
  &.active {
    @if $decorational-shadows {
      @include box-shadow(0 1px 0 rgba(0,0,0,0.2));
    }
    @if $gradient {
      @include gradient-vertical(darken($color, 5%), darken($color, 15%));
      @if $decorational-shadows {
        @include box-shadow(inset 0 1px 0 rgba(0,0,0,0.15));
      }
    } @else {
      background: darken($color, 10%);
    }
    @include determine-text-color($color);
  }
}

// Table views

@mixin table-cell-skin {
  background: $very-light-color;
  @if $border-radius {
    &:first-child {
      @include border-top-radius($border-radius);
    }
    &:last-child {
      @include border-bottom-radius($border-radius);
    }
  }
  @if $decorational-shadows {
    @include box-shadow(0 2px 0 rgba(0,0,0,.2), inset 0 1px 0 rgba(0,0,0,.1));
  }
}

@mixin table-cell-skin-hover {
  &:hover,
  &:active,
  &:focus {
    color: $very-light-color;
    a, .disclosure-help, .icon {
      color: $very-light-color;
    }
    @if $gradient {
      @include gradient-vertical(lighten($accent-color, 10%), $accent-color);
    } @else {
      background: $accent-color;
    }
    @if $text-shadows {
      @include text-shadow-black;
    }
  }
}