---
  device: dynamic
---

{% include head.html %}
<body id="layout-demo" data-device="{{ page.device }}">
  
  <div id="demo-app" ng-controller="DeviceCtrl">

    {% if page.device == "dynamic" %}
    <div class="cl-device-controls">
      <div>
        <label for="deviceChoice">Device</label>
        <select ng-model="deviceChoice" id="deviceChoice" ng-options="p.name for p in devices" ng-change="saveDeviceChoice()"></select>
      </div>
      <div>
        <label for="deviceOrientation">Orientation</label>
        <select ng-model="deviceOrientation" id="deviceOrientation" ng-options="p.name for p in deviceOrientations" ng-change="saveDeviceOrientation()"></select>
      </div>
      <div>
        <label for="deviceSize">Size</label>
        <input type="range" id="deviceSize" ng-model="deviceSize" min="0.1" step=".01" max="1" ng-change="saveDeviceSize()">
      </div>
      <div>
        <label for="docsVisible">Docs visible</label>
        <input type="checkbox" id="docsVisible" ng-model="docsVisible" ng-change="saveDocsVisibility()">
      </div>
    </div>
    {% endif %}

    <div class="content-wrapper" {% if page.device == "dynamic" %}ng-class="{'docs-visible': docsVisible}"{% endif %}>

      <div class="cl-demo-list">
        <h4>Components:</h4>
        <a href="/demos/index.html">Demo index</a>
        <a href="/demos/article.html">Article</a>
        <a href="/demos/base-layout.html">Base layout</a>
        <a href="/demos/bar-text.html">Bar text</a>
        <a href="/demos/buttons.html">Buttons</a>
        <a href="/demos/button-groups.html">Button groups</a>
        <a href="/demos/button-toolbars.html">Button toolbars</a>
        <a href="/demos/loading.html">Loading</a>
        <a href="/demos/table-view.html">Table view</a>
        <a href="/demos/alerts.html">Alerts</a>
        <a href="/demos/popovers.html">Popovers</a>
        <a href="/demos/toggles.html">Toggles</a>
        <a href="/demos/forms.html">Forms</a>
        <a href="/demos/sliders.html">Sliders</a>
        <a href="/demos/data-table.html">Data table</a>

        <h4>Screens:</h4>
        <a href="/index.html">Demo screen 1</a>
        <a href="/demo-2.html">Demo screen 2</a>
      </div>
      

      <div class="cl-docs-content" {% if page.device == "dynamic" %}ng-show="docsVisible"{% endif %}>
        <div class="cl-docs">
          
          <h2>{{ page.title }}</h2>
          
          {% case page.docs %}
            <!-- Screens -->
            {% when 'screen-demo-1' %}
               {% markdown docs/screens/demo-1.md %}
            {% when 'screen-demo-2' %}
               {% markdown docs/screens/demo-2.md %}

            <!-- Components -->
            {% when 'table-view' %}
              {% include docs/components/table-view.html %}
            {% when 'index' %}
              {% include docs/components/index.html %}
            {% when 'article' %}
              {% include docs/components/article.html %}
            {% when 'base-layout' %}
              {% include docs/components/base-layout.html %}
            {% when 'buttons' %}
              {% include docs/components/buttons.html %}
            {% when 'button-groups' %}
              {% include docs/components/button-groups.html %}
            {% when 'data-table' %}
              {% include docs/components/data-table.html %}
            {% when 'button-toolbars' %}
              {% include docs/components/button-toolbars.html %}
            {% when 'sliders' %}
              {% include docs/components/sliders.html %}
            {% when 'alerts' %}
              {% include docs/components/alerts.html %}
            {% when 'forms' %}
              {% include docs/components/forms.html %}
            {% when 'toggles' %}
              {% include docs/components/toggles.html %}
            {% when 'loading' %}
              {% include docs/components/loading.html %}
            {% else %}
              <p>No documentation for this page.</p>
          {% endcase %}

        </div>
      </div>

      <div class="cl-device-frame">
        {% if page.device == "dynamic" %}
        <div class="cl-device-wrap" style="-webkit-transform: scale({[{deviceSize}]}); -moz-transform: scale({[{deviceSize}]}); -webkit-transform-origin: 2% 2%; -moz-transform-origin: 2% 2%;" data-os="{[{ deviceChoice.os | lowercase | removewhitespace }]}" data-device="{[{ deviceChoice.name | lowercase | removewhitespace }]}-{[{ deviceOrientation.name | lowercase }]}">
        {% endif %}
        {% if page.device == "static" %}
        <div class="cl-device-wrap" style="-webkit-transform: scale(1); -moz-transform: scale(1); -webkit-transform-origin: 0% 0%; -moz-transform-origin: 0% 0%;" data-os="ios" data-device="ipad3-landscape">
        {% endif %}
          <div class="cl-device-body">

            <div class="cl-ios-status" {% if page.device == "dynamic" %}ng-show="deviceChoice.os == 'iOS'"{% endif %}>
              <span>
                <span class="signals">
                  <span class="signal1"></span>
                  <span class="signal2"></span>
                  <span class="signal3"></span>
                  <span class="signal4"></span>
                  <span class="signal5"></span>
                </span>
                <span class="carrier">Bell</span>
                <!-- <span>Wifi</span> -->
              </span>
              <span class="clock">20:49</span>
              <span>
                <span>3G</span>
                <span class="icon-ios6-alarm"></span>
                <span class="icon-ios6-locate"></span>
                <span class="icon-ios6-lock"></span>
                <span class="icon-ios6-battery"></span>
              </span>
            </div>

            <div class="cl-android-status" {% if page.device == "dynamic" %}ng-show="deviceChoice.os == 'Android'"{% endif %}>
              <span>
                <span class="icon-android4-battery"></span>
                <span class="icon-android4-network"></span>
                <span class="icon-android4-wifi"></span>
                <span>20:49</span>
              </span>
            </div>
        
            <div class="cl-android-software-buttons" {% if page.device == "dynamic" %}ng-show="deviceChoice.os == 'Android'"{% endif %}>
              <span>
                <span class="icon-android4-system-back"></span>
                <span class="icon-android4-system-home"></span>
                <span class="icon-android4-system-apps"></span>
              </span>
            </div>

            {{ content }}

          </div>
        </div>
      </div>

    </div>
   </div>

</body>
</html>